In [1]:
!pwd

/home/shankar/1MyProjects/test_poetry_project/notebooks

# When using Google Colab, run the following code

## Mounting Google Drive

In [2]:
# """
# Mounting Google Drive
# """
# from google.colab import drive

# drive.mount("/content/gdrive")

## Install Poetry in the colab runtime environment

In [3]:
# !poetry --version

In [4]:
# !pip install poetry

In [5]:
# !poetry --version

In [6]:
# !poetry config --list

In [7]:
# # Configure poetry to create virtual environments in the project folder

# !poetry config virtualenvs.in-project true

## Installing Project Dependencies

In [8]:
# !pwd

In [9]:
# %cd /content/gdrive/MyDrive/GitHubProjects/test_poetry_project

In [10]:
# !pwd

In [11]:
# !make env-colab

* **Adding additional packages to the virtual environment (USEFUL ONLY IF CREATING VIRTUAL ENVIRONMENT IN PROJECT FOLDER IN COLAB)**

In [12]:
# '''
# Add any package like 'torch'
# '''

# !poetry add torch
# !poetry install --no-ansi --no-root

* **Add poetry virtual environment to python path (USEFUL ONLY IF CREATING VIRTUAL ENVIRONMENT IN PROJECT FOLDER IN COLAB)**

In [13]:
# '''
# Add poetry virtual environment to python
# path so that all installed dependencies
# can be found by the python interpreter.
# '''

# import os, sys

# VENV_PATH = "/content/gdrive/MyDrive/GitHubProjects/test_poetry_project/.venv/lib/python3.10/site-packages"
# LOCAL_VENV_PATH = '/content/venv' # local notebook
# os.symlink(VENV_PATH, LOCAL_VENV_PATH) # connect to directory in drive
# sys.path.insert(0, LOCAL_VENV_PATH)

* **Use the added packages**

In [14]:
# import torch
# print(torch.__version__)

* **Check the size of the virtual environment**

In [15]:
# !du -hs /content/gdrive/MyDrive/GitHubProjects/test_poetry_project/.venv/

# Importing Libraries

In [16]:
# Import basic libraries
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
from sklearn.model_selection import train_test_split

from datetime import date
# from nsepythonserver import *
from nsepython import *

# Unofficed functions code snippets

## equity_history

In [17]:
symbol = "SBIN"
series = "EQ"
start_date = "08-06-2021"
end_date ="14-06-2021"
print(equity_history(symbol,series,start_date,end_date))

                        _id CH_SYMBOL CH_SERIES CH_MARKET_TYPE  \
0  63d7a3d2ce536a0007460775      SBIN        EQ              N
1  63d7a3e191e6ce00070a9f27      SBIN        EQ              N
2  63d7a3f006404c0006d94d31      SBIN        EQ              N
3  63d7a3ffb726b40007af6585      SBIN        EQ              N
4  63d7a40f3aa4bc0006fce1b1      SBIN        EQ              N

   CH_TRADE_HIGH_PRICE  CH_TRADE_LOW_PRICE  CH_OPENING_PRICE  \
0               432.50              424.00            432.25
1               432.30              418.20            427.50
2               433.30              422.40            424.90
3               435.50              425.25            434.85
4               432.45              416.70            427.00

   CH_CLOSING_PRICE  CH_LAST_TRADED_PRICE  CH_PREVIOUS_CLS_PRICE  \
0            427.20                427.40                 432.25
1            421.45                421.95                 427.20
2            432.25                432.40                 421.45
3            429.60                429.40                 432.25
4            430.35                430.00                 429.60

   CH_TOT_TRADED_QTY  CH_TOT_TRADED_VAL  CH_52WEEK_HIGH_PRICE  \
0           31113823       1.330030e+10                441.95
1           27784834       1.185249e+10                441.95
2           27397712       1.174471e+10                441.95
3           26831924       1.153870e+10                441.95
4           30106015       1.279312e+10                441.95

   CH_52WEEK_LOW_PRICE  CH_TOTAL_TRADES       CH_ISIN CH_TIMESTAMP  \
0               169.25           247824  INE062A01020   2021-06-08
1               169.25           241080  INE062A01020   2021-06-09
2               169.25           211924  INE062A01020   2021-06-10
3               169.25           211915  INE062A01020   2021-06-11
4               169.25           279081  INE062A01020   2021-06-14

                  TIMESTAMP                 createdAt  \
0  2021-06-07T18:30:00.000Z  2023-01-30T11:02:42.626Z
1  2021-06-08T18:30:00.000Z  2023-01-30T11:02:57.750Z
2  2021-06-09T18:30:00.000Z  2023-01-30T11:03:12.813Z
3  2021-06-10T18:30:00.000Z  2023-01-30T11:03:27.915Z
4  2021-06-13T18:30:00.000Z  2023-01-30T11:03:43.011Z

                  updatedAt  __v SLBMH_TOT_VAL    VWAP   mTIMESTAMP
0  2023-01-30T11:02:42.626Z    0          None  427.47  08-Jun-2021
1  2023-01-30T11:02:57.750Z    0          None  426.58  09-Jun-2021
2  2023-01-30T11:03:12.813Z    0          None  428.67  10-Jun-2021
3  2023-01-30T11:03:27.915Z    0          None  430.04  11-Jun-2021
4  2023-01-30T11:03:43.011Z    0          None  424.94  14-Jun-2021

## derivative_history

In [18]:
symbol = "SBIN"
start_date = "15-05-2021"
end_date ="15-06-2021"
instrumentType = "options"
expiry_date ="24-Jun-2021"
strikePrice = 300
optionType="PE"
print(derivative_history(symbol,start_date,end_date,instrumentType,expiry_date,strikePrice,optionType))

                        _id FH_INSTRUMENT FH_SYMBOL FH_EXPIRY_DT  \
0  6443fb9ebf1903287158e320        OPTSTK      SBIN  24-Jun-2021
1  6443fd93bf190328715961fc        OPTSTK      SBIN  24-Jun-2021
2  6443ff8dbf190328715a5ad4        OPTSTK      SBIN  24-Jun-2021
3  64440180bf190328715be0db        OPTSTK      SBIN  24-Jun-2021

  FH_STRIKE_PRICE FH_OPTION_TYPE FH_MARKET_TYPE FH_OPENING_PRICE  \
0          300.00             PE              N             1.65
1          300.00             PE              N             1.85
2          300.00             PE              N             0.80
3          300.00             PE              N             0.40

  FH_TRADE_HIGH_PRICE FH_TRADE_LOW_PRICE FH_CLOSING_PRICE  \
0                2.00               1.55             1.95
1                1.85               0.80             1.10
2                0.85               0.65             0.75
3                0.45               0.35             0.35

  FH_LAST_TRADED_PRICE FH_PREV_CLS FH_SETTLE_PRICE FH_TOT_TRADED_QTY  \
0                 1.95        1.75            1.95             78000
1                 1.10        1.95            1.10            376500
2                 0.70        0.80            0.75            238500
3                 0.35        0.40            0.35            139500

  FH_TOT_TRADED_VAL FH_OPEN_INT FH_CHANGE_IN_OI FH_MARKET_LOT FH_TIMESTAMP  \
0       23536350.00      496500        16500.00          1500  20-May-2021
1      113420475.00      535500        39000.00          1500  21-May-2021
2       71722125.00      661500        39000.00          1500  27-May-2021
3       41901825.00      838500        25500.00          1500  04-Jun-2021

                  TIMESTAMP  FH_UNDERLYING_VALUE  CALCULATED_PREMIUM_VAL
0  2021-05-19T18:30:00.000Z               543.15                  136350
1  2021-05-20T18:30:00.000Z               543.15                  470475
2  2021-05-26T18:30:00.000Z               543.15                  172125
3  2021-06-03T18:30:00.000Z               543.15                   51825

## expiry_history

In [19]:
symbol = "SBIN"
start_date = "15-05-2020"
end_date = "15-06-2021"

print(expiry_history(symbol,start_date,end_date))
# print(expiry_history(symbol,start_date))
# print(expiry_history(symbol))

{'data': [['FUTSTK', 'OPTSTK'], ['CE', 'PE'], ['30-Jan-2020', '27-Feb-2020', '26-Mar-2020', '30-Apr-2020', '28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020', '28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021', '29-Jul-2021', '26-Aug-2021', '30-Sep-2021', '28-Oct-2021', '25-Nov-2021', '30-Dec-2021'], ['0', '0.00', '100', '102.5', '105', '107.5', '110', '112.5', '115', '117.5', '120', '122.5', '125', '127.5', '130', '132.5', '135', '137.5', '140', '142.5', '145', '147.5', '150', '152.5', '155', '157.5', '160', '162.5', '165', '165.00', '167.5', '170', '170.00', '172.5', '175', '175.00', '177.5', '180', '180.00', '182.5', '185', '185.00', '187.5', '190', '190.00', '192.5', '195', '195.00', '197.5', '200', '200.00', '202.5', '205', '205.00', '207.5', '210', '210.00', '212.5', '215', '215.00', '217.5', '220', '220.00', '222.5', '225', '225.00', '227.5', '230', '230.00', '232.5', '235', '235.00', '237.5', '240', '240.00', '242.5', '245', '245.00', '250', '250.00', '255', '255.00', '260', '260.00', '265', '265.00', '270', '270.00', '275', '275.00', '280', '280.00', '285', '285.00', '290', '290.00', '295', '295.00', '300', '300.00', '305', '305.00', '310', '310.00', '315', '315.00', '320', '320.00', '325', '325.00', '330', '330.00', '335', '335.00', '340', '340.00', '345', '345.00', '350', '350.00', '355', '355.00', '360', '360.00', '365', '365.00', '370', '370.00', '375', '375.00', '380', '380.00', '385', '385.00', '390', '390.00', '395', '395.00', '400', '400.00', '405', '405.00', '410', '410.00', '415', '415.00', '420', '420.00', '425', '425.00', '430', '430.00', '435', '435.00', '440', '440.00', '445', '445.00', '450', '450.00', '455', '455.00', '460', '460.00', '465', '465.00', '470', '470.00', '475', '475.00', '480', '480.00', '485', '485.00', '490', '490.00', '495', '495.00', '500', '500.00', '505', '505.00', '510', '510.00', '515', '515.00', '520', '520.00']], 'years': {'2020': ['28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020'], '2021': ['28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021', '29-Jul-2021', '26-Aug-2021'], 'all': ['2020', '2021']}, 'expiryDatesByInstrument': {'FUTSTK': ['30-Jan-2020', '27-Feb-2020', '26-Mar-2020', '30-Apr-2020', '28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020', '28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021', '29-Jul-2021', '26-Aug-2021', '30-Sep-2021', '28-Oct-2021', '25-Nov-2021', '30-Dec-2021'], 'OPTSTK': ['30-Jan-2020', '27-Feb-2020', '26-Mar-2020', '30-Apr-2020', '28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020', '28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021', '29-Jul-2021', '26-Aug-2021', '30-Sep-2021', '28-Oct-2021', '25-Nov-2021', '30-Dec-2021']}, 'yearsByInstrument': {'FUTSTK': {'2020': ['30-Jan-2020', '27-Feb-2020', '26-Mar-2020', '30-Apr-2020', '28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020'], '2021': ['28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021', '29-Jul-2021', '26-Aug-2021', '30-Sep-2021', '28-Oct-2021', '25-Nov-2021', '30-Dec-2021'], 'all': ['2020', '2021']}, 'OPTSTK': {'2020': ['30-Jan-2020', '27-Feb-2020', '26-Mar-2020', '30-Apr-2020', '28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020'], '2021': ['28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021', '29-Jul-2021', '26-Aug-2021', '30-Sep-2021', '28-Oct-2021', '25-Nov-2021', '30-Dec-2021'], 'all': ['2020', '2021']}}, 'from': '15-May-2020', 'to': '15-Jun-2021', 'symbol': 'SBIN'}
['28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020', '28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021']

## index_history

In [20]:
symbol = "NIFTY 50"
start_date = "01-Mar-2011"
end_date = "07-Jun-2021"
print(index_history(symbol,start_date,end_date))

     Index Name INDEX_NAME HistoricalDate      OPEN      HIGH       LOW  \
0      Nifty 50   NIFTY 50    07 Jun 2021   15725.1  15773.45   15678.1
1      Nifty 50   NIFTY 50    04 Jun 2021   15712.5   15733.6  15622.35
2      Nifty 50   NIFTY 50    03 Jun 2021  15655.55   15705.1     15611
3      Nifty 50   NIFTY 50    02 Jun 2021  15520.35  15597.45  15459.85
4      Nifty 50   NIFTY 50    01 Jun 2021  15629.65  15660.75   15528.3
...         ...        ...            ...       ...       ...       ...
2538   Nifty 50   Nifty 50    08 Mar 2011    5466.1   5530.55   5464.75
2539   Nifty 50   Nifty 50    07 Mar 2011   5490.05   5491.25   5408.45
2540   Nifty 50   Nifty 50    04 Mar 2011    5586.2    5608.2    5524.1
2541   Nifty 50   Nifty 50    03 Mar 2011   5478.45   5570.75   5468.25
2542   Nifty 50   Nifty 50    01 Mar 2011      5382   5533.05   5373.55

         CLOSE
0     15751.65
1     15670.25
2     15690.35
3     15576.20
4     15574.85
...        ...
2538   5520.80
2539   5463.10
2540   5538.70
2541   5536.20
2542   5522.30

[2543 rows x 7 columns]

## index_pe_pb_div

In [21]:
symbol = "NIFTY 50"
start_date = "01-Mar-2011"
end_date = "07-Jun-2021"
print(index_pe_pb_div(symbol,start_date,end_date))

     Index Name     pe    pb divYield         DATE
0      NIFTY 50  29.21  4.44     1.07  07 Jun 2021
1      NIFTY 50  29.06  4.42     1.07  04 Jun 2021
2      NIFTY 50  29.10  4.43     1.07  03 Jun 2021
3      NIFTY 50  28.88  4.39     1.06  02 Jun 2021
4      NIFTY 50  28.87  4.39     1.07  01 Jun 2021
...         ...    ...   ...      ...          ...
2538   Nifty 50  21.14   3.5     1.13  08 Mar 2011
2539   Nifty 50  20.92  3.46     1.14  07 Mar 2011
2540   Nifty 50  21.21  3.51     1.12  04 Mar 2011
2541   Nifty 50   21.2  3.51     1.12  03 Mar 2011
2542   Nifty 50  21.14   3.5     1.13  01 Mar 2011

[2543 rows x 5 columns]

## index_total_returns

In [22]:
symbol = "NIFTY 50"
start_date = "01-Mar-2011"
end_date = "07-Jun-2021"
print(index_total_returns(symbol,start_date,end_date))

     Index Name         Date TotalReturnsIndex
0      NIFTY 50  07 Jun 2021          22449.24
1      NIFTY 50  04 Jun 2021          22333.23
2      NIFTY 50  03 Jun 2021          22361.86
3      NIFTY 50  02 Jun 2021          22194.18
4      NIFTY 50  01 Jun 2021          22192.25
...         ...          ...               ...
2538   Nifty 50  08 Mar 2011           6931.56
2539   Nifty 50  07 Mar 2011           6859.22
2540   Nifty 50  04 Mar 2011           6954.14
2541   Nifty 50  03 Mar 2011           6950.94
2542   Nifty 50  01 Mar 2011           6933.43

[2543 rows x 3 columns]

## get_bhavcopy

In [23]:
print(get_bhavcopy("04-06-2021"))

          SYMBOL  SERIES         DATE1   PREV_CLOSE   OPEN_PRICE   HIGH_PRICE  \
0     1018GS2026      GS   04-Jun-2021       106.00       102.00       102.00
1      20MICRONS      EQ   04-Jun-2021        62.55        63.40        64.35
2     21STCENMGM      EQ   04-Jun-2021        15.95        15.95        16.25
3     3IINFOTECH      EQ   04-Jun-2021         8.95         8.90         9.00
4        3MINDIA      EQ   04-Jun-2021     26261.80     26431.80     26648.70
...          ...     ...           ...          ...          ...          ...
2053   ZODJRDMKJ      BE   04-Jun-2021        36.60        37.40        37.40
2054        ZOTA      EQ   04-Jun-2021       183.75       184.00       184.00
2055       ZUARI      EQ   04-Jun-2021        97.30        97.85        98.40
2056   ZUARIGLOB      EQ   04-Jun-2021        92.55        93.95        94.00
2057   ZYDUSWELL      EQ   04-Jun-2021      2083.75      2095.25      2107.45

       LOW_PRICE  LAST_PRICE   CLOSE_PRICE   AVG_PRICE   TTL_TRD_QNTY  \
0         102.00      102.00        102.00      102.00             50
1          61.30       61.95         61.90       62.25         213663
2          15.95       16.25         16.25       16.25            358
3           8.70        8.85          8.85        8.85       13804265
4       26000.00    26113.70      26110.45    26301.91           2347
...          ...         ...           ...         ...            ...
2053       34.85       35.05         36.45       36.10           8456
2054      160.00      172.95        173.60      174.48         121798
2055       96.05       96.35         96.50       97.08          89071
2056       91.00       93.25         92.65       92.34          53853
2057     2080.00     2091.00       2096.90     2082.57         169249

       TURNOVER_LACS   NO_OF_TRADES  DELIV_QTY  DELIV_PER
0               0.05              1         50     100.00
1             133.00           1813     131248      61.43
2               0.06              8        358     100.00
3            1221.17          15649    9166344      66.40
4             617.31           1771       1192      50.79
...              ...            ...        ...        ...
2053            3.05             72          -          -
2054          212.51           3414      52566      43.16
2055           86.47           1569      50221      56.38
2056           49.73            559      37343      69.34
2057         3524.73           2958     154029      91.01

[2058 rows x 15 columns]

# Functions

In [24]:
# A function to import NIFTY data from nsepy using get_history method

# def import_nifty_data(start_date, end_date):
#     nifty_data = get_history(symbol="NIFTY", index=True, start=start_date, end=end_date)
#     return nifty_data

# Variables

# Nifty Data Download - nifty_df

In [213]:
symbol = "NIFTY 50"
start_date = "01-Jan-2000"
end_date = "30-Nov-2023"
nifty_df = index_history(symbol,start_date,end_date)
print(nifty_df)

     Index Name INDEX_NAME HistoricalDate      OPEN      HIGH       LOW  \
0      Nifty 50   Nifty 50    30 Nov 2023   20108.5   20158.7  20015.85
1      Nifty 50   Nifty 50    29 Nov 2023  19976.55  20104.65   19956.3
2      Nifty 50   Nifty 50    28 Nov 2023  19844.65  19916.85     19800
3      Nifty 50   Nifty 50    24 Nov 2023   19809.6  19832.85  19768.85
4      Nifty 50   Nifty 50    23 Nov 2023  19828.45  19875.15  19786.75
...         ...        ...            ...       ...       ...       ...
5943   Nifty 50   Nifty 50    07 Jan 2000    1616.6   1628.25    1597.2
5944   Nifty 50   Nifty 50    06 Jan 2000    1595.8      1639    1595.8
5945   Nifty 50   Nifty 50    05 Jan 2000   1634.55    1635.5   1555.05
5946   Nifty 50   Nifty 50    04 Jan 2000    1594.4   1641.95    1594.4
5947   Nifty 50   Nifty 50    03 Jan 2000   1482.15    1592.9   1482.15

         CLOSE
0     20133.15
1     20096.60
2     19889.70
3     19794.70
4     19802.00
...        ...
5943   1613.30
5944   1617.60
5945   1595.80
5946   1638.70
5947   1592.20

[5948 rows x 7 columns]

In [214]:
nifty_df

,Index Name,INDEX_NAME,HistoricalDate,OPEN,HIGH,LOW,CLOSE
0,Nifty 50,Nifty 50,30 Nov 2023,20108.5,20158.7,20015.85,20133.15
1,Nifty 50,Nifty 50,29 Nov 2023,19976.55,20104.65,19956.3,20096.60
2,Nifty 50,Nifty 50,28 Nov 2023,19844.65,19916.85,19800,19889.70
3,Nifty 50,Nifty 50,24 Nov 2023,19809.6,19832.85,19768.85,19794.70
4,Nifty 50,Nifty 50,23 Nov 2023,19828.45,19875.15,19786.75,19802.00
...,...,...,...,...,...,...,...
5943,Nifty 50,Nifty 50,07 Jan 2000,1616.6,1628.25,1597.2,1613.30
5944,Nifty 50,Nifty 50,06 Jan 2000,1595.8,1639,1595.8,1617.60
5945,Nifty 50,Nifty 50,05 Jan 2000,1634.55,1635.5,1555.05,1595.80
5946,Nifty 50,Nifty 50,04 Jan 2000,1594.4,1641.95,1594.4,1638.70
5947,Nifty 50,Nifty 50,03 Jan 2000,1482.15,1592.9,1482.15,1592.20

In [27]:
# # Define your path
# file_path = "/home/shankar/1MyProjects/test_poetry_project/data/raw/nifty_historic.csv"

# # Save the DataFrame to the specified path
# nifty_df.to_csv(file_path, index=False)

# IndiaVIX data Download - indiavix_df

In [28]:
def indiavix_history_virgin(start_date,end_date):
    #url="https://www.nseindia.com/api/historical/cm/equity?symbol="+symbol+"&series=[%22"+series+"%22]&from="+str(start_date)+"&to="+str(end_date)+""
    #https://www.nseindia.com/api/historical/vixhistory?from=14-12-2022&to=14-12-2023
    url = 'https://www.nseindia.com/api/historical/vixhistory?from=' + start_date + '&to=' + end_date

    payload = nsefetch(url)
    return pd.DataFrame.from_records(payload["data"])

In [29]:
# Testing indiavix_history_virging function

# start_date = "14-12-2022"
# end_date ="14-12-2023"
# print(indiavix_history_virgin(start_date,end_date))

In [30]:
# You shall see beautiful use the logger function.
def indiavix_history(start_date,end_date):
    #We are getting the input in text. So it is being converted to Datetime object from String.
    start_date = datetime.datetime.strptime(start_date, "%d-%m-%Y")
    end_date = datetime.datetime.strptime(end_date, "%d-%m-%Y")
    logging.info("Starting Date: "+str(start_date))
    logging.info("Ending Date: "+str(end_date))

    #We are calculating the difference between the days
    diff = end_date-start_date
    logging.info("Total Number of Days: "+str(diff.days))
    logging.info("Total FOR Loops in the program: "+str(int(diff.days/40)))
    logging.info("Remainder Loop: " + str(diff.days-(int(diff.days/40)*40)))


    total=pd.DataFrame()
    for i in range (0,int(diff.days/40)):

        temp_date = (start_date+datetime.timedelta(days=(40))).strftime("%d-%m-%Y")
        start_date = datetime.datetime.strftime(start_date, "%d-%m-%Y")

        logging.info("Loop = "+str(i))
        logging.info("====")
        logging.info("Starting Date: "+str(start_date))
        logging.info("Ending Date: "+str(temp_date))
        logging.info("====")

        #total=total.append(equity_history_virgin(symbol,series,start_date,temp_date))
        #total=total.concat(equity_history_virgin(symbol,series,start_date,temp_date))
        total = pd.concat([total, indiavix_history_virgin(start_date, temp_date)])


        logging.info("Length of the Table: "+ str(len(total)))

        #Preparation for the next loop
        start_date = datetime.datetime.strptime(temp_date, "%d-%m-%Y")


    start_date = datetime.datetime.strftime(start_date, "%d-%m-%Y")
    end_date = datetime.datetime.strftime(end_date, "%d-%m-%Y")

    logging.info("End Loop")
    logging.info("====")
    logging.info("Starting Date: "+str(start_date))
    logging.info("Ending Date: "+str(end_date))
    logging.info("====")

    #total=total.append(equity_history_virgin(symbol,series,start_date,end_date))
    #total=total.concat(equity_history_virgin(symbol,series,start_date,end_date))
    total = pd.concat([total, indiavix_history_virgin(start_date, end_date)])


    logging.info("Finale")
    logging.info("Length of the Total Dataset: "+ str(len(total)))
    payload = total.iloc[::-1].reset_index(drop=True)
    return payload

In [31]:
# print(nsefetch('https://www.nseindia.com/api/historical/vixhistory?from=14-12-2022&to=14-12-2023'))

In [32]:
start_date = "01-01-2000"
end_date ="30-11-2023"
indiavix_df = indiavix_history(start_date,end_date)
print(indiavix_df)

                           _id EOD_TIMESTAMP EOD_INDEX_NAME  \
0     65687a6d7080cd39031f6bf9   30-NOV-2023      INDIA VIX
1     656728f2f8357ba7c82e2428   29-NOV-2023      INDIA VIX
2     6565d76d2463dd1e8d5bae88   28-NOV-2023      INDIA VIX
3     6560916f326136637ff5ec84   24-NOV-2023      INDIA VIX
4     655f3ff0dddd587f80128e35   23-NOV-2023      INDIA VIX
...                        ...           ...            ...
2763  64996b580715db000745551f   07-JAN-2013      INDIA VIX
2764  64996b4e7f346a00085d3b23   04-JAN-2013      INDIA VIX
2765  64996b44c504a400073793d5   03-JAN-2013      INDIA VIX
2766  64996b3a583df60007d9b8bc   02-JAN-2013      INDIA VIX
2767  64996b303c4faf0007f069a4   01-JAN-2013      INDIA VIX

      EOD_OPEN_INDEX_VAL  EOD_CLOSE_INDEX_VAL  EOD_HIGH_INDEX_VAL  \
0                12.7075              12.6900             13.3525
1                12.1750              12.7075             14.4600
2                11.3300              12.1750             12.4925
3                11.3150              11.3300             11.4650
4                11.8650              11.3150             12.1400
...                  ...                  ...                 ...
2763             13.3700              13.9200             14.0400
2764             13.4700              13.3700             13.6300
2765             13.7100              13.4700             13.9400
2766             13.6900              13.7100             13.9100
2767             14.9500              13.6900             14.9500

      EOD_LOW_INDEX_VAL  EOD_PREV_CLOSE                 TIMESTAMP  \
0               11.7625         12.7075  2023-11-29T18:30:00.000Z
1               11.3325         12.1750  2023-11-28T18:30:00.000Z
2               11.0650         11.3300  2023-11-27T18:30:00.000Z
3                8.6775         11.3150  2023-11-23T18:30:00.000Z
4               10.9750         11.8650  2023-11-22T18:30:00.000Z
...                 ...             ...                       ...
2763            13.3700         13.3700  2013-01-06T18:30:00.000Z
2764            13.2800         13.4700  2013-01-03T18:30:00.000Z
2765            13.2200         13.7100  2013-01-02T18:30:00.000Z
2766            12.9900         13.6900  2013-01-01T18:30:00.000Z
2767            13.6400         14.9500  2012-12-31T18:30:00.000Z

      VIX_PTS_CHG  VIX_PERC_CHG ALTERNATE_INDEX_NAME  \
0         -0.0175     -0.137714            INDIA VIX
1          0.5325      4.373717            INDIA VIX
2          0.8450      7.458076            INDIA VIX
3          0.0150      0.132567            INDIA VIX
4         -0.5500     -4.635483            INDIA VIX
...           ...           ...                  ...
2763       0.5500      4.113687            INDIA VIX
2764      -0.1000     -0.742390            INDIA VIX
2765      -0.2400     -1.750547            INDIA VIX
2766       0.0200      0.146092            INDIA VIX
2767      -1.2600     -8.428094            INDIA VIX

                     createdAt                 updatedAt  __v
0     2023-11-30T12:05:01.977Z  2023-11-30T12:05:01.977Z    0
1     2023-11-29T12:05:06.347Z  2023-11-29T12:05:06.347Z    0
2     2023-11-28T12:05:01.684Z  2023-11-28T12:05:01.684Z    0
3     2023-11-24T12:05:03.629Z  2023-11-24T12:05:03.629Z    0
4     2023-11-23T12:05:04.311Z  2023-11-23T12:05:04.311Z    0
...                        ...                       ...  ...
2763  2023-06-26T10:41:28.828Z  2023-06-26T10:41:28.828Z    0
2764  2023-06-26T10:41:18.797Z  2023-06-26T10:41:18.797Z    0
2765  2023-06-26T10:41:08.746Z  2023-06-26T10:41:08.746Z    0
2766  2023-06-26T10:40:58.695Z  2023-06-26T10:40:58.695Z    0
2767  2023-06-26T10:40:48.650Z  2023-06-26T10:40:48.650Z    0

[2768 rows x 15 columns]

In [33]:
indiavix_df

,_id,EOD_TIMESTAMP,EOD_INDEX_NAME,EOD_OPEN_INDEX_VAL,EOD_CLOSE_INDEX_VAL,EOD_HIGH_INDEX_VAL,EOD_LOW_INDEX_VAL,EOD_PREV_CLOSE,TIMESTAMP,VIX_PTS_CHG,VIX_PERC_CHG,ALTERNATE_INDEX_NAME,createdAt,updatedAt,__v
0,65687a6d7080cd39031f6bf9,30-NOV-2023,INDIA VIX,12.7075,12.6900,13.3525,11.7625,12.7075,2023-11-29T18:30:00.000Z,-0.0175,-0.137714,INDIA VIX,2023-11-30T12:05:01.977Z,2023-11-30T12:05:01.977Z,0
1,656728f2f8357ba7c82e2428,29-NOV-2023,INDIA VIX,12.1750,12.7075,14.4600,11.3325,12.1750,2023-11-28T18:30:00.000Z,0.5325,4.373717,INDIA VIX,2023-11-29T12:05:06.347Z,2023-11-29T12:05:06.347Z,0
2,6565d76d2463dd1e8d5bae88,28-NOV-2023,INDIA VIX,11.3300,12.1750,12.4925,11.0650,11.3300,2023-11-27T18:30:00.000Z,0.8450,7.458076,INDIA VIX,2023-11-28T12:05:01.684Z,2023-11-28T12:05:01.684Z,0
3,6560916f326136637ff5ec84,24-NOV-2023,INDIA VIX,11.3150,11.3300,11.4650,8.6775,11.3150,2023-11-23T18:30:00.000Z,0.0150,0.132567,INDIA VIX,2023-11-24T12:05:03.629Z,2023-11-24T12:05:03.629Z,0
4,655f3ff0dddd587f80128e35,23-NOV-2023,INDIA VIX,11.8650,11.3150,12.1400,10.9750,11.8650,2023-11-22T18:30:00.000Z,-0.5500,-4.635483,INDIA VIX,2023-11-23T12:05:04.311Z,2023-11-23T12:05:04.311Z,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2763,64996b580715db000745551f,07-JAN-2013,INDIA VIX,13.3700,13.9200,14.0400,13.3700,13.3700,2013-01-06T18:30:00.000Z,0.5500,4.113687,INDIA VIX,2023-06-26T10:41:28.828Z,2023-06-26T10:41:28.828Z,0
2764,64996b4e7f346a00085d3b23,04-JAN-2013,INDIA VIX,13.4700,13.3700,13.6300,13.2800,13.4700,2013-01-03T18:30:00.000Z,-0.1000,-0.742390,INDIA VIX,2023-06-26T10:41:18.797Z,2023-06-26T10:41:18.797Z,0
2765,64996b44c504a400073793d5,03-JAN-2013,INDIA VIX,13.7100,13.4700,13.9400,13.2200,13.7100,2013-01-02T18:30:00.000Z,-0.2400,-1.750547,INDIA VIX,2023-06-26T10:41:08.746Z,2023-06-26T10:41:08.746Z,0
2766,64996b3a583df60007d9b8bc,02-JAN-2013,INDIA VIX,13.6900,13.7100,13.9100,12.9900,13.6900,2013-01-01T18:30:00.000Z,0.0200,0.146092,INDIA VIX,2023-06-26T10:40:58.695Z,2023-06-26T10:40:58.695Z,0
2767,64996b303c4faf0007f069a4,01-JAN-2013,INDIA VIX,14.9500,13.6900,14.9500,13.6400,14.9500,2012-12-31T18:30:00.000Z,-1.2600,-8.428094,INDIA VIX,2023-06-26T10:40:48.650Z,2023-06-26T10:40:48.650Z,0

In [34]:
# # Define your path
# file_path = "/home/shankar/1MyProjects/test_poetry_project/data/raw/indiavix_historic.csv"

# # Save the DataFrame to the specified path
# indiavix_df.to_csv(file_path, index=False)

# Data Cleansing

## nifty_df cleaning

In [215]:
nifty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5948 entries, 0 to 5947
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index Name      5948 non-null   object
 1   INDEX_NAME      5948 non-null   object
 2   HistoricalDate  5948 non-null   object
 3   OPEN            5948 non-null   object
 4   HIGH            5948 non-null   object
 5   LOW             5948 non-null   object
 6   CLOSE           5948 non-null   object
dtypes: object(7)
memory usage: 325.4+ KB

In [216]:
# Delete the columns 'Index Name' and 'INDEX_NAME'
nifty_df.drop(['Index Name', 'INDEX_NAME'], axis=1, inplace=True)

In [217]:
# Convert all columns to lowercase
nifty_df.columns = map(str.lower, nifty_df.columns)

In [218]:
# Convert historicaldate column to datetime
nifty_df['historicaldate'] = pd.to_datetime(nifty_df['historicaldate'])

# Convert the variables 'open', 'high', 'low', 'close' to float
nifty_df['open'] = nifty_df['open'].astype(float)
nifty_df['high'] = nifty_df['high'].astype(float)
nifty_df['low'] = nifty_df['low'].astype(float)
nifty_df['close'] = nifty_df['close'].astype(float)

nifty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5948 entries, 0 to 5947
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   historicaldate  5948 non-null   datetime64[ns]
 1   open            5948 non-null   float64
 2   high            5948 non-null   float64
 3   low             5948 non-null   float64
 4   close           5948 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 232.5 KB

In [219]:
# Sort the nifty_df by historicaldate column in ascending order and sort the index
nifty_df.sort_values(by='historicaldate', ascending=True, inplace=True)
nifty_df.reset_index(drop=True, inplace=True)

In [220]:
# Create a new variables called dayofweek such as Monday, Tuesday, etc. and numdayofweek
nifty_df['dayofweek'] = nifty_df['historicaldate'].dt.day_name()
nifty_df['numdayofweek'] = nifty_df['historicaldate'].dt.dayofweek

In [222]:
# Calculate unique week number with week ending on Thursday 

min_date = nifty_df['historicaldate'].min()
nifty_df['weeknumber'] = ((nifty_df['historicaldate'] - min_date).dt.days // 7).astype(int)
nifty_df['weeknumber'] += (nifty_df['historicaldate'].dt.dayofweek > 3)

In [184]:
# Create a new column 'expiryday' based on 'numdayofweek' and 'weeknumber'
# nifty_df['expiryday'] = 
nifty_df['expiryday'] = nifty_df.apply(
                            lambda row: (
                                pd.to_datetime(
                                    row['historicaldate']) + \
                                    pd.DateOffset(days=(day_map['Thursday'] - \
                                    row['numericdayofweek'] + 7) % 7)).strftime('%d-%m-%Y'), axis=1)

In [223]:
nifty_df[0:60]

,historicaldate,open,high,low,close,dayofweek,numdayofweek,weeknumber
0,2000-01-03,1482.15,1592.90,1482.15,1592.2,Monday,0,0
1,2000-01-04,1594.40,1641.95,1594.40,1638.7,Tuesday,1,0
2,2000-01-05,1634.55,1635.50,1555.05,1595.8,Wednesday,2,0
3,2000-01-06,1595.80,1639.00,1595.80,1617.6,Thursday,3,0
4,2000-01-07,1616.60,1628.25,1597.20,1613.3,Friday,4,1
5,2000-01-10,1615.65,1662.10,1614.95,1632.9,Monday,0,1
6,2000-01-11,1633.25,1639.90,1548.25,1572.5,Tuesday,1,1
7,2000-01-12,1572.30,1631.55,1571.70,1624.8,Wednesday,2,1
8,2000-01-13,1627.85,1671.15,1613.65,1621.4,Thursday,3,1
9,2000-01-14,1622.15,1627.40,1591.40,1622.7,Friday,4,2
10,2000-01-17,1623.50,1668.45,1604.65,1611.6,Monday,0,2
11,2000-01-18,1611.65,1615.15,1587.85,1606.7,Tuesday,1,2
12,2000-01-19,1610.05,1644.45,1608.85,1634.8,Wednesday,2,2
13,2000-01-20,1634.65,1644.40,1596.65,1601.1,Thursday,3,2
14,2000-01-21,1601.25,1626.50,1593.20,1620.6,Friday,4,3
15,2000-01-24,1623.05,1645.00,1608.30,1613.6,Monday,0,3
16,2000-01-25,1612.95,1613.65,1579.55,1586.4,Tuesday,1,3
17,2000-01-27,1600.50,1633.55,1600.05,1603.9,Thursday,3,3
18,2000-01-28,1603.65,1610.90,1592.70,1599.1,Friday,4,4
19,2000-01-31,1598.35,1598.35,1538.70,1546.2,Monday,0,4
20,2000-02-01,1546.20,1554.15,1521.40,1549.5,Tuesday,1,4
21,2000-02-02,1554.20,1605.90,1554.20,1588.0,Wednesday,2,4
22,2000-02-03,1591.25,1616.70,1591.25,1597.9,Thursday,3,4
23,2000-02-04,1598.50,1621.35,1596.45,1599.7,Friday,4,5
24,2000-02-07,1599.80,1645.90,1599.80,1636.6,Monday,0,5
25,2000-02-08,1636.60,1676.10,1636.60,1662.7,Tuesday,1,5
26,2000-02-09,1666.95,1731.65,1666.70,1689.6,Wednesday,2,5
27,2000-02-10,1692.10,1713.70,1692.10,1711.2,Thursday,3,5
28,2000-02-11,1712.85,1771.65,1712.85,1756.0,Friday,4,6
29,2000-02-14,1777.75,1795.45,1738.75,1744.5,Monday,0,6
30,2000-02-15,1744.50,1744.50,1694.45,1702.5,Tuesday,1,6
31,2000-02-16,1704.85,1742.80,1704.15,1711.1,Wednesday,2,6
32,2000-02-17,1710.05,1753.10,1710.05,1742.1,Thursday,3,6
33,2000-02-18,1742.30,1764.15,1713.45,1717.8,Friday,4,7
34,2000-02-21,1719.55,1767.80,1719.55,1753.5,Monday,0,7
35,2000-02-22,1754.20,1781.05,1733.55,1739.0,Tuesday,1,7
36,2000-02-23,1745.20,1818.15,1689.20,1696.4,Wednesday,2,7
37,2000-02-24,1696.40,1751.60,1693.10,1732.0,Thursday,3,7
38,2000-02-25,1734.05,1757.05,1699.25,1710.4,Friday,4,8
39,2000-02-28,1711.15,1726.65,1670.75,1722.5,Monday,0,8
40,2000-02-29,1722.85,1783.30,1626.35,1654.8,Tuesday,1,8
41,2000-03-01,1661.50,1727.90,1630.00,1712.7,Wednesday,2,8
42,2000-03-02,1713.65,1773.85,1690.05,1696.5,Thursday,3,8
43,2000-03-03,1696.45,1719.15,1644.40,1656.0,Friday,4,9
44,2000-03-06,1656.00,1721.00,1656.00,1688.5,Monday,0,9
45,2000-03-07,1711.85,1730.85,1684.90,1702.7,Tuesday,1,9
46,2000-03-08,1717.75,1765.25,1654.45,1666.3,Wednesday,2,9
47,2000-03-09,1667.45,1692.25,1595.45,1646.2,Thursday,3,9
48,2000-03-10,1647.85,1680.45,1588.20,1602.7,Friday,4,10
49,2000-03-13,1601.40,1645.00,1553.45,1560.7,Monday,0,10
50,2000-03-14,1561.55,1571.30,1503.20,1567.0,Tuesday,1,10
51,2000-03-15,1546.80,1630.95,1538.70,1620.1,Wednesday,2,10
52,2000-03-16,1620.40,1621.20,1554.30,1562.2,Thursday,3,10
53,2000-03-21,1563.30,1585.25,1542.65,1556.6,Tuesday,1,11
54,2000-03-22,1551.05,1604.00,1551.05,1589.6,Wednesday,2,11
55,2000-03-23,1590.30,1629.20,1544.50,1553.4,Thursday,3,11
56,2000-03-24,1554.20,1579.40,1540.45,1569.5,Friday,4,12
57,2000-03-27,1570.45,1593.30,1555.75,1562.9,Monday,0,12
58,2000-03-28,1563.30,1575.85,1527.55,1568.6,Tuesday,1,12
59,2000-03-29,1569.30,1609.40,1553.40,1558.2,Wednesday,2,12

In [78]:
nifty_df

,historicaldate,open,high,low,close,dayofweek,weeknumber
0,2000-01-03,1482.15,1592.90,1482.15,1592.20,Monday,1
1,2000-01-04,1594.40,1641.95,1594.40,1638.70,Tuesday,1
2,2000-01-05,1634.55,1635.50,1555.05,1595.80,Wednesday,1
3,2000-01-06,1595.80,1639.00,1595.80,1617.60,Thursday,1
4,2000-01-07,1616.60,1628.25,1597.20,1613.30,Friday,1
...,...,...,...,...,...,...,...
5943,2023-11-23,19828.45,19875.15,19786.75,19802.00,Thursday,47
5944,2023-11-24,19809.60,19832.85,19768.85,19794.70,Friday,47
5945,2023-11-28,19844.65,19916.85,19800.00,19889.70,Tuesday,48
5946,2023-11-29,19976.55,20104.65,19956.30,20096.60,Wednesday,48
5947,2023-11-30,20108.50,20158.70,20015.85,20133.15,Thursday,48

## Calculating Expected Move of Index
Expected Move = Stock Price x (IV/100) x square root of (DTE/365)

## Tastytrade method
* Target Expiry
* ATM Straddle * 0.6
* 1 OTM Strangle * 0.3
* 2 OTM Strangle * 0.1