In [1]:
!pwd

/home/shankar/1MyProjects/test_poetry_project/notebooks

# When using Google Colab, run the following code

## Mounting Google Drive

In [ ]:
"""
Mounting Google Drive
"""
from google.colab import drive

drive.mount("/content/gdrive")

## Install Poetry in the colab runtime environment

In [ ]:
!poetry --version

In [ ]:
!pip install poetry

In [ ]:
!poetry --version

In [ ]:
!poetry config --list

In [ ]:
# Configure poetry to create virtual environments in the project folder

!poetry config virtualenvs.in-project true

## Installing Project Dependencies

In [ ]:
!pwd

In [ ]:
%cd /content/gdrive/MyDrive/GitHubProjects/test_poetry_project

In [ ]:
!pwd

In [ ]:
# !ls -a
!rm -rf .venv/

In [ ]:
!make env-colab

* **Adding additional packages to the virtual environment (USEFUL ONLY IF CREATING VIRTUAL ENVIRONMENT IN PROJECT FOLDER IN COLAB)**

In [ ]:
# '''
# Add any package like 'torch'
# '''

# !poetry add torch
# !poetry install --no-ansi --no-root

* **Add poetry virtual environment to python path (USEFUL ONLY IF CREATING VIRTUAL ENVIRONMENT IN PROJECT FOLDER IN COLAB)**

In [ ]:
"""
Add poetry virtual environment to python
path so that all installed dependencies
can be found by the python interpreter.
"""

import os
import sys

VENV_PATH = "/content/gdrive/MyDrive/GitHubProjects/test_poetry_project/.venv/lib/python3.10/site-packages"
LOCAL_VENV_PATH = "/content/venv"  # local notebook
os.symlink(VENV_PATH, LOCAL_VENV_PATH)  # connect to directory in drive
sys.path.insert(0, LOCAL_VENV_PATH)

* **Use the added packages**

In [ ]:
# import torch
# print(torch.__version__)

* **Check the size of the virtual environment**

In [ ]:
# !du -hs /content/gdrive/MyDrive/GitHubProjects/test_poetry_project/.venv/

## Format with black

In [ ]:
# Install black
# !pip install "black[jupyter]"

# Format using black
# !black /content/gdrive/MyDrive/GitHubProjects/test_poetry_project/notebooks/

# Importing Libraries

In [2]:
# Import basic libraries
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", None)

import calendar
from datetime import datetime, timedelta

import matplotlib.pyplot as plt
import seaborn as sns
from nsepythonserver import *
from sklearn.model_selection import train_test_split

# from nsepython import *


%matplotlib inline

# Unofficed Functions Code Snippets

## equity_history

In [ ]:
# symbol = "SBIN"
# series = "EQ"
# start_date = "08-06-2021"
# end_date = "14-06-2021"
# print(equity_history(symbol, series, start_date, end_date))

## derivative_history

In [ ]:
# symbol = "SBIN"
# start_date = "15-05-2021"
# end_date = "15-06-2021"
# instrumentType = "options"
# expiry_date = "24-Jun-2021"
# strikePrice = 300
# optionType = "PE"
# print(
#     derivative_history(
#         symbol,
#         start_date,
#         end_date,
#         instrumentType,
#         expiry_date,
#         strikePrice,
#         optionType,
#     )
# )

## expiry_history

In [ ]:
# symbol = "SBIN"
# start_date = "15-05-2020"
# end_date = "15-06-2021"

# print(expiry_history(symbol, start_date, end_date))
# # print(expiry_history(symbol,start_date))
# # print(expiry_history(symbol))

## index_history

In [ ]:
# symbol = "NIFTY 50"
# start_date = "01-Mar-2011"
# end_date = "07-Jun-2021"
# print(index_history(symbol, start_date, end_date))

## index_pe_pb_div

In [ ]:
# symbol = "NIFTY 50"
# start_date = "01-Mar-2011"
# end_date = "07-Jun-2021"
# print(index_pe_pb_div(symbol, start_date, end_date))

## index_total_returns

In [ ]:
# symbol = "NIFTY 50"
# start_date = "01-Mar-2011"
# end_date = "07-Jun-2021"
# print(index_total_returns(symbol, start_date, end_date))

## get_bhavcopy

In [ ]:
# print(get_bhavcopy("04-06-2021"))

# Functions

# Variables

# Nifty Data Download - NiftyDf

In [ ]:
# symbol = "NIFTY 50"
# start_date = "01-Jan-2000"
# end_date = "30-Nov-2023"
# NiftyDf = index_history(symbol, start_date, end_date)
# print(NiftyDf)

In [ ]:
# NiftyDf

In [ ]:
# # Define your path
# file_path = "/home/shankar/1MyProjects/test_poetry_project/data/raw/nifty_historic.csv"

# # Save the DataFrame to the specified path
# NiftyDf.to_csv(file_path, index=False)

# IndiaVIX data Download - IndiaVixDf

In [ ]:
# def indiavix_history_virgin(start_date, end_date):
#     # url="https://www.nseindia.com/api/historical/cm/equity?symbol="+symbol+"&series=[%22"+series+"%22]&from="+str(start_date)+"&to="+str(end_date)+""
#     # https://www.nseindia.com/api/historical/vixhistory?from=14-12-2022&to=14-12-2023
#     url = (
#         "https://www.nseindia.com/api/historical/vixhistory?from="
#         + start_date
#         + "&to="
#         + end_date
#     )

#     payload = nsefetch(url)
#     return pd.DataFrame.from_records(payload["data"])

In [ ]:
# Testing indiavix_history_virging function

# start_date = "14-12-2022"
# end_date ="14-12-2023"
# print(indiavix_history_virgin(start_date,end_date))

In [ ]:
# # You shall see beautiful use the logger function.
# def indiavix_history(start_date, end_date):
#     # We are getting the input in text. So it is being converted to Datetime object from String.
#     start_date = datetime.datetime.strptime(start_date, "%d-%m-%Y")
#     end_date = datetime.datetime.strptime(end_date, "%d-%m-%Y")
#     logging.info("Starting Date: " + str(start_date))
#     logging.info("Ending Date: " + str(end_date))

#     # We are calculating the difference between the days
#     diff = end_date - start_date
#     logging.info("Total Number of Days: " + str(diff.days))
#     logging.info("Total FOR Loops in the program: " + str(int(diff.days / 40)))
#     logging.info("Remainder Loop: " + str(diff.days - (int(diff.days / 40) * 40)))

#     total = pd.DataFrame()
#     for i in range(0, int(diff.days / 40)):
#         temp_date = (start_date + datetime.timedelta(days=(40))).strftime("%d-%m-%Y")
#         start_date = datetime.datetime.strftime(start_date, "%d-%m-%Y")

#         logging.info("Loop = " + str(i))
#         logging.info("====")
#         logging.info("Starting Date: " + str(start_date))
#         logging.info("Ending Date: " + str(temp_date))
#         logging.info("====")

#         # total=total.append(equity_history_virgin(symbol,series,start_date,temp_date))
#         # total=total.concat(equity_history_virgin(symbol,series,start_date,temp_date))
#         total = pd.concat([total, indiavix_history_virgin(start_date, temp_date)])

#         logging.info("Length of the Table: " + str(len(total)))

#         # Preparation for the next loop
#         start_date = datetime.datetime.strptime(temp_date, "%d-%m-%Y")

#     start_date = datetime.datetime.strftime(start_date, "%d-%m-%Y")
#     end_date = datetime.datetime.strftime(end_date, "%d-%m-%Y")

#     logging.info("End Loop")
#     logging.info("====")
#     logging.info("Starting Date: " + str(start_date))
#     logging.info("Ending Date: " + str(end_date))
#     logging.info("====")

#     # total=total.append(equity_history_virgin(symbol,series,start_date,end_date))
#     # total=total.concat(equity_history_virgin(symbol,series,start_date,end_date))
#     total = pd.concat([total, indiavix_history_virgin(start_date, end_date)])

#     logging.info("Finale")
#     logging.info("Length of the Total Dataset: " + str(len(total)))
#     payload = total.iloc[::-1].reset_index(drop=True)
#     return payload

In [ ]:
# print(nsefetch('https://www.nseindia.com/api/historical/vixhistory?from=14-12-2022&to=14-12-2023'))

In [ ]:
# start_date = "01-01-2000"
# end_date = "30-11-2023"
# IndiaVixDf = indiavix_history(start_date, end_date)
# print(IndiaVixDf)

In [ ]:
# IndiaVixDf

In [ ]:
# # Define your path
# file_path = "/home/shankar/1MyProjects/test_poetry_project/data/raw/indiavix_historic.csv"

# # Save the DataFrame to the specified path
# IndiaVixDf.to_csv(file_path, index=False)

# Data Cleansing

In [ ]:
# '''
# Upload the file from local system to Google Colab
# '''
# from google.colab import files

# uploaded = files.upload()

# for fn in uploaded.keys():
#   print('User uploaded file "{name}" with length {length} bytes'.format(
#       name=fn, length=len(uploaded[fn])))

# """
# Read the file from Google Drive
# """
# RawNiftyDf = pd.read_csv(
#     "/content/gdrive/MyDrive/GitHubProjects/test_poetry_project/nifty_historic.csv"
# )
# RawIndiaVixDf = pd.read_csv(
#     "/content/gdrive/MyDrive/GitHubProjects/test_poetry_project/indiavix_historic.csv"
# )

In [ ]:
# """
# Read the file from Asmsl
# """
# RawNiftyDf = pd.read_csv(
#     "/home/studio-lab-user/1MyProjects/test_poetry_project/data/raw/nifty_historic.csv"
# )
# RawIndiaVixDf = pd.read_csv(
#     "/home/studio-lab-user/1MyProjects/test_poetry_project/data/raw/indiavix_historic.csv"
# )

In [3]:
"""
Read the file from Desktop
"""
RawNiftyDf = pd.read_csv(
    "/home/shankar/1MyProjects/test_poetry_project/data/raw/nifty_historic.csv"
)

RawIndiaVixDf = pd.read_csv(
    "/home/shankar/1MyProjects/test_poetry_project/data/raw/indiavix_historic.csv"
)

## Create NiftyDf as a copy of RawNiftyDf and Clean

In [4]:
NiftyDf = RawNiftyDf.copy()

In [5]:
NiftyDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5948 entries, 0 to 5947
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index Name      5948 non-null   object
 1   INDEX_NAME      5948 non-null   object
 2   HistoricalDate  5948 non-null   object
 3   OPEN            5948 non-null   float64
 4   HIGH            5948 non-null   float64
 5   LOW             5948 non-null   float64
 6   CLOSE           5948 non-null   float64
dtypes: float64(4), object(3)
memory usage: 325.4+ KB

In [6]:
# Delete the columns 'Index Name' and 'INDEX_NAME'
NiftyDf.drop(["Index Name", "INDEX_NAME"], axis=1, inplace=True)

In [7]:
# Rename all column names
NiftyDf.rename(
    columns={
        "HistoricalDate": "Date",
        "OPEN": "Open",
        "HIGH": "High",
        "LOW": "Low",
        "CLOSE": "Close",
    },
    inplace=True,
)

# Convert date column to datetime object
NiftyDf["Date"] = pd.to_datetime(NiftyDf["Date"])

# Convert the variables 'open', 'high', 'low', 'close' to float
NiftyDf["Open"] = NiftyDf["Open"].astype(float)
NiftyDf["High"] = NiftyDf["High"].astype(float)
NiftyDf["Low"] = NiftyDf["Low"].astype(float)
NiftyDf["Close"] = NiftyDf["Close"].astype(float)

NiftyDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5948 entries, 0 to 5947
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5948 non-null   datetime64[ns]
 1   Open    5948 non-null   float64
 2   High    5948 non-null   float64
 3   Low     5948 non-null   float64
 4   Close   5948 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 232.5 KB

In [8]:
NiftyDf["Date"] = pd.to_datetime(NiftyDf["Date"].dt.strftime("%Y-%m-%d 15:30:00"))

In [9]:
# Sort the NiftyDf by Date column in ascending order and sort the index
NiftyDf.sort_values(by="Date", ascending=True, inplace=True)
NiftyDf.reset_index(drop=True, inplace=True)

In [10]:
# Create a new variables called dayofweek such as Monday, Tuesday, etc. and numdayofweek
NiftyDf["DayOfWeek"] = NiftyDf["Date"].dt.day_name()
# NiftyDf["NumDayOfWeek"] = NiftyDf["Date"].dt.dayofweek

In [11]:
# # Calculate unique week number with week ending on Thursday

# MinDate = NiftyDf["Date"].min()
# NiftyDf["WeekNumber"] = ((NiftyDf["Date"] - MinDate).dt.days // 7).astype(int)
# NiftyDf["WeekNumber"] += NiftyDf["Date"].dt.dayofweek > 3

In [12]:
# Create a new empty column named 'ExpiryDay'
# NiftyDf["ExpiryDay"] = None

In [13]:
# # Create a variable named StartDate with values 2000-01-01 09:15:00 as a timestamp
# StartDate = pd.to_datetime("2000-01-01 15:30:00")
# print("StartDate : ", StartDate)
# print("---------------------------")

# # Create a variable named MonthsCount from NiftyDf['Date']
# MonthsCount = NiftyDf["Date"].dt.to_period("M").nunique()
# print("MonthsCount : ", MonthsCount)
# print("---------------------------")

StartDate :  2000-01-01 15:30:00
---------------------------
MonthsCount :  287
---------------------------

In [ ]:
# for month in range(0, MonthsCount):
#     """
#     First Week
#     """

#     FirstThursday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=0, weekday=3)
#     print("FirstThursday : ", FirstThursday)
#     print("---------------------------")
#     FirstWednesday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=0, weekday=2)
#     print("FirstWednesday : ", FirstWednesday)
#     print("---------------------------")
#     FirstTuesday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=0, weekday=1)
#     print("FirstTuesday : ", FirstTuesday)
#     print("---------------------------")
#     FirstMonday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=0, weekday=0)
#     print("FirstMonday : ", FirstMonday)
#     print("---------------------------")
#     FirstFriday = (StartDate - timedelta(days=2)) + pd.offsets.LastWeekOfMonth(
#         n=month + 1, weekday=4
#     )
#     print("FirstFriday : ", FirstFriday)
#     print("---------------------------")

#     if FirstThursday in NiftyDf["Date"].values:
#         print(FirstThursday, True)
#         NiftyDf.loc[NiftyDf["Date"] == FirstThursday, "ExpiryDay"] = "WExpiry"
#     elif FirstWednesday in NiftyDf["Date"].values:
#         print(FirstWednesday, True)
#         NiftyDf.loc[NiftyDf["Date"] == FirstWednesday, "ExpiryDay"] = "WExpiry"
#     elif FirstTuesday in NiftyDf["Date"].values:
#         print(FirstTuesday, True)
#         NiftyDf.loc[NiftyDf["Date"] == FirstTuesday, "ExpiryDay"] = "WExpiry"
#     elif FirstMonday in NiftyDf["Date"].values:
#         print(FirstMonday, True)
#         NiftyDf.loc[NiftyDf["Date"] == FirstMonday, "ExpiryDay"] = "WExpiry"
#     elif FirstFriday in NiftyDf["Date"].values:
#         print(FirstFriday, True)
#         NiftyDf.loc[NiftyDf["Date"] == FirstFriday, "ExpiryDay"] = "WExpiry"

#     """
#     Second Week
#     """

#     SecondThursday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=1, weekday=3)
#     print("SecondThursday : ", SecondThursday)
#     print("---------------------------")
#     SecondWednesday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=1, weekday=2)
#     print("SecondWednesday : ", SecondWednesday)
#     print("---------------------------")
#     SecondTuesday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=1, weekday=1)
#     print("SecondTuesday : ", SecondTuesday)
#     print("---------------------------")
#     SecondMonday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=1, weekday=0)
#     print("SecondMonday : ", SecondMonday)
#     print("---------------------------")
#     SecondFriday = (StartDate) + pd.offsets.WeekOfMonth(n=month + 1, week=0, weekday=4)
#     print("SecondFriday : ", SecondFriday)
#     print("---------------------------")

#     if SecondThursday in NiftyDf["Date"].values:
#         print(SecondThursday, True)
#         NiftyDf.loc[NiftyDf["Date"] == SecondThursday, "ExpiryDay"] = "WExpiry"
#     elif SecondWednesday in NiftyDf["Date"].values:
#         print(SecondWednesday, True)
#         NiftyDf.loc[NiftyDf["Date"] == SecondWednesday, "ExpiryDay"] = "WExpiry"
#     elif SecondTuesday in NiftyDf["Date"].values:
#         print(SecondTuesday, True)
#         NiftyDf.loc[NiftyDf["Date"] == SecondTuesday, "ExpiryDay"] = "WExpiry"
#     elif SecondMonday in NiftyDf["Date"].values:
#         print(SecondMonday, True)
#         NiftyDf.loc[NiftyDf["Date"] == SecondMonday, "ExpiryDay"] = "WExpiry"
#     elif SecondFriday in NiftyDf["Date"].values:
#         print(SecondFriday, True)
#         NiftyDf.loc[NiftyDf["Date"] == SecondFriday, "ExpiryDay"] = "WExpiry"

#     """
#     Third Week
#     """

#     ThirdThursday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=2, weekday=3)
#     print("ThirdThursday : ", ThirdThursday)
#     print("---------------------------")
#     ThirdWednesday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=2, weekday=2)
#     print("ThirdWednesday : ", ThirdWednesday)
#     print("---------------------------")
#     ThirdTuesday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=2, weekday=1)
#     print("ThirdTuesday : ", ThirdTuesday)
#     print("---------------------------")
#     ThirdMonday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=2, weekday=0)
#     print("ThirdMonday : ", ThirdMonday)
#     print("---------------------------")
#     ThirdFriday = (StartDate) + pd.offsets.WeekOfMonth(n=month + 1, week=1, weekday=4)
#     print("ThirdFriday : ", ThirdFriday)
#     print("---------------------------")

#     if ThirdThursday in NiftyDf["Date"].values:
#         print(ThirdThursday, True)
#         NiftyDf.loc[NiftyDf["Date"] == ThirdThursday, "ExpiryDay"] = "WExpiry"
#     elif ThirdWednesday in NiftyDf["Date"].values:
#         print(ThirdWednesday, True)
#         NiftyDf.loc[NiftyDf["Date"] == ThirdWednesday, "ExpiryDay"] = "WExpiry"
#     elif ThirdTuesday in NiftyDf["Date"].values:
#         print(ThirdTuesday, True)
#         NiftyDf.loc[NiftyDf["Date"] == ThirdTuesday, "ExpiryDay"] = "WExpiry"
#     elif ThirdMonday in NiftyDf["Date"].values:
#         print(ThirdMonday, True)
#         NiftyDf.loc[NiftyDf["Date"] == ThirdMonday, "ExpiryDay"] = "WExpiry"
#     elif ThirdFriday in NiftyDf["Date"].values:
#         print(ThirdFriday, True)
#         NiftyDf.loc[NiftyDf["Date"] == ThirdFriday, "ExpiryDay"] = "WExpiry"

#     """
#     Fourth Week
#     """

#     FourthThursday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=3, weekday=3)
#     print("FourthThursday : ", FourthThursday)
#     print("---------------------------")
#     FourthWednesday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=3, weekday=2)
#     print("FourthWednesday : ", FourthWednesday)
#     print("---------------------------")
#     FourthTuesday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=3, weekday=1)
#     print("FourthTuesday : ", FourthTuesday)
#     print("---------------------------")
#     FourthMonday = StartDate + pd.offsets.WeekOfMonth(n=month + 1, week=3, weekday=0)
#     print("FourthMonday : ", FourthMonday)
#     print("---------------------------")
#     FourthFriday = (StartDate) + pd.offsets.WeekOfMonth(n=month + 1, week=2, weekday=4)
#     print("FourthFriday : ", FourthFriday)
#     print("---------------------------")

#     if FourthThursday in NiftyDf["Date"].values:
#         print(FourthThursday, True)
#         NiftyDf.loc[NiftyDf["Date"] == FourthThursday, "ExpiryDay"] = "WExpiry"
#     elif FourthWednesday in NiftyDf["Date"].values:
#         print(FourthWednesday, True)
#         NiftyDf.loc[NiftyDf["Date"] == FourthWednesday, "ExpiryDay"] = "WExpiry"
#     elif FourthTuesday in NiftyDf["Date"].values:
#         print(FourthTuesday, True)
#         NiftyDf.loc[NiftyDf["Date"] == FourthTuesday, "ExpiryDay"] = "WExpiry"
#     elif FourthMonday in NiftyDf["Date"].values:
#         print(FourthMonday, True)
#         NiftyDf.loc[NiftyDf["Date"] == FourthMonday, "ExpiryDay"] = "WExpiry"
#     elif FourthFriday in NiftyDf["Date"].values:
#         print(FourthFriday, True)
#         NiftyDf.loc[NiftyDf["Date"] == FourthFriday, "ExpiryDay"] = "WExpiry"

#     """    
#     Last Week
#     """

#     LastThursday = StartDate + pd.offsets.LastWeekOfMonth(n=month + 1, weekday=3)
#     print("LastThursday : ", LastThursday)
#     print("---------------------------")
#     LastWednesday = StartDate + pd.offsets.LastWeekOfMonth(n=month + 1, weekday=2)
#     print("LastWednesday : ", LastWednesday)
#     print("---------------------------")
#     LastTuesday = StartDate + pd.offsets.LastWeekOfMonth(n=month + 1, weekday=1)
#     print("LastTuesday : ", LastTuesday)
#     print("---------------------------")
#     LastMonday = StartDate + pd.offsets.LastWeekOfMonth(n=month + 1, weekday=0)
#     print("LastMonday : ", LastMonday)
#     print("---------------------------")
#     LastFriday = (StartDate) + pd.offsets.WeekOfMonth(n=month + 1, week=3, weekday=4)
#     print("LastFriday : ", LastFriday)
#     print("---------------------------")

#     if LastThursday in NiftyDf["Date"].values:
#         print(LastThursday, True)
#         NiftyDf.loc[NiftyDf["Date"] == LastThursday, "ExpiryDay"] = "MExpiry"
#     elif LastWednesday in NiftyDf["Date"].values:
#         print(LastWednesday, True)
#         NiftyDf.loc[NiftyDf["Date"] == LastWednesday, "ExpiryDay"] = "MExpiry"
#     elif LastTuesday in NiftyDf["Date"].values:
#         print(LastTuesday, True)
#         NiftyDf.loc[NiftyDf["Date"] == LastTuesday, "ExpiryDay"] = "MExpiry"
#     elif LastMonday in NiftyDf["Date"].values:
#         print(LastMonday, True)
#         NiftyDf.loc[NiftyDf["Date"] == LastMonday, "ExpiryDay"] = "MExpiry"
#     elif LastFriday in NiftyDf["Date"].values:
#         print(LastFriday, True)
#         NiftyDf.loc[NiftyDf["Date"] == LastFriday, "ExpiryDay"] = "MExpiry"

In [11]:
NiftyDf

                    Date      Open      High       Low     Close  DayOfWeek
0    2000-01-03 15:30:00   1482.15   1592.90   1482.15   1592.20     Monday
1    2000-01-04 15:30:00   1594.40   1641.95   1594.40   1638.70    Tuesday
2    2000-01-05 15:30:00   1634.55   1635.50   1555.05   1595.80  Wednesday
3    2000-01-06 15:30:00   1595.80   1639.00   1595.80   1617.60   Thursday
4    2000-01-07 15:30:00   1616.60   1628.25   1597.20   1613.30     Friday
...                  ...       ...       ...       ...       ...        ...
5943 2023-11-23 15:30:00  19828.45  19875.15  19786.75  19802.00   Thursday
5944 2023-11-24 15:30:00  19809.60  19832.85  19768.85  19794.70     Friday
5945 2023-11-28 15:30:00  19844.65  19916.85  19800.00  19889.70    Tuesday
5946 2023-11-29 15:30:00  19976.55  20104.65  19956.30  20096.60  Wednesday
5947 2023-11-30 15:30:00  20108.50  20158.70  20015.85  20133.15   Thursday

[5948 rows x 6 columns]

# Copy RawIndiaVixDf to IndiaVixDf and Clean

In [12]:
IndiaVixDf = RawIndiaVixDf.copy()
IndiaVixDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2768 entries, 0 to 2767
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   _id                   2768 non-null   object
 1   EOD_TIMESTAMP         2768 non-null   object
 2   EOD_INDEX_NAME        2768 non-null   object
 3   EOD_OPEN_INDEX_VAL    2768 non-null   float64
 4   EOD_CLOSE_INDEX_VAL   2768 non-null   float64
 5   EOD_HIGH_INDEX_VAL    2768 non-null   float64
 6   EOD_LOW_INDEX_VAL     2768 non-null   float64
 7   EOD_PREV_CLOSE        2768 non-null   float64
 8   TIMESTAMP             2768 non-null   object
 9   VIX_PTS_CHG           2768 non-null   float64
 10  VIX_PERC_CHG          2768 non-null   float64
 11  ALTERNATE_INDEX_NAME  2768 non-null   object
 12  createdAt             2768 non-null   object
 13  updatedAt             2768 non-null   object
 14  __v                   2768 non-null   int64
dtypes: float64(7), int64(1), object(7)
memory usage: 324.5+ KB

In [13]:
# Drop the columns from IndiaVixDf : _id, EOD_INDEX_NAME, TIMESTAMP, ALTERNATE_INDEX_NAME, createdAt, updatedAt, __v
IndiaVixDf = IndiaVixDf.drop(
    columns=[
        "_id",
        "EOD_INDEX_NAME",
        "TIMESTAMP",
        "ALTERNATE_INDEX_NAME",
        "createdAt",
        "updatedAt",
        "__v",
    ]
)

In [14]:
# Rename columns of IndiaVixDf : Date, Open, High, Low, Close, Volume
IndiaVixDf = IndiaVixDf.rename(
    columns={
        "EOD_TIMESTAMP": "Date",
        "EOD_OPEN_INDEX_VAL": "Open",
        "EOD_CLOSE_INDEX_VAL": "Close",
        "EOD_HIGH_INDEX_VAL": "High",
        "EOD_LOW_INDEX_VAL": "Low",
        "EOD_PREV_CLOSE": "PrevClose",
        "VIX_PTS_CHG": "PtsChange",
        "VIX_PERC_CHG": "PctChange",
    }
)
IndiaVixDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2768 entries, 0 to 2767
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2768 non-null   object
 1   Open       2768 non-null   float64
 2   Close      2768 non-null   float64
 3   High       2768 non-null   float64
 4   Low        2768 non-null   float64
 5   PrevClose  2768 non-null   float64
 6   PtsChange  2768 non-null   float64
 7   PctChange  2768 non-null   float64
dtypes: float64(7), object(1)
memory usage: 173.1+ KB

In [15]:
# Convert TimeStamp to DateTime in IndiaVixDf
IndiaVixDf["Date"] = pd.to_datetime(IndiaVixDf["Date"], format="%d-%b-%Y")
IndiaVixDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2768 entries, 0 to 2767
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2768 non-null   datetime64[ns]
 1   Open       2768 non-null   float64
 2   Close      2768 non-null   float64
 3   High       2768 non-null   float64
 4   Low        2768 non-null   float64
 5   PrevClose  2768 non-null   float64
 6   PtsChange  2768 non-null   float64
 7   PctChange  2768 non-null   float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 173.1 KB

In [16]:
# Sort IndiaVixDf by TimeStamp and reset index
IndiaVixDf = IndiaVixDf.sort_values(by="Date")
IndiaVixDf = IndiaVixDf.reset_index(drop=True)

In [17]:
IndiaVixDf["Date"] = pd.to_datetime(IndiaVixDf["Date"].dt.strftime("%Y-%m-%d 15:30:00"))

In [18]:
IndiaVixDf

,Date,Open,Close,High,Low,PrevClose,PtsChange,PctChange
0,2013-01-01 15:30:00,14.9500,13.6900,14.9500,13.6400,14.9500,-1.2600,-8.428094
1,2013-01-02 15:30:00,13.6900,13.7100,13.9100,12.9900,13.6900,0.0200,0.146092
2,2013-01-03 15:30:00,13.7100,13.4700,13.9400,13.2200,13.7100,-0.2400,-1.750547
3,2013-01-04 15:30:00,13.4700,13.3700,13.6300,13.2800,13.4700,-0.1000,-0.742390
4,2013-01-07 15:30:00,13.3700,13.9200,14.0400,13.3700,13.3700,0.5500,4.113687
...,...,...,...,...,...,...,...,...
2763,2023-11-23 15:30:00,11.8650,11.3150,12.1400,10.9750,11.8650,-0.5500,-4.635483
2764,2023-11-24 15:30:00,11.3150,11.3300,11.4650,8.6775,11.3150,0.0150,0.132567
2765,2023-11-28 15:30:00,11.3300,12.1750,12.4925,11.0650,11.3300,0.8450,7.458076
2766,2023-11-29 15:30:00,12.1750,12.7075,14.4600,11.3325,12.1750,0.5325,4.373717
2767,2023-11-30 15:30:00,12.7075,12.6900,13.3525,11.7625,12.7075,-0.0175,-0.137714

# Create ExpMvDf

In [19]:
# Create ExpMvDf as a copy of NiftyDf
ExpMvDf = NiftyDf.copy()

In [20]:
ExpMvDf["IndiaVix"] = None

In [ ]:
for Date in IndiaVixDf["Date"].values:
    if Date in ExpMvDf["Date"].values:
        print(f"{Date} is in ExpMvDf:", True)
        print("---------------------------")
        ExpMvDf.loc[ExpMvDf["Date"] == Date, "IndiaVix"] = IndiaVixDf.loc[
            IndiaVixDf["Date"] == Date, "Close"
        ].values[0]
    else:
        print(f"{Date} is NOT in ExpMvDf:", False)
        print("---------------------------")

In [22]:
# Show rows that have IndiaVix = NaN
ExpMvDf[ExpMvDf["IndiaVix"].isnull()]

,Date,Open,High,Low,Close,DayOfWeek,IndiaVix
0,2000-01-03 15:30:00,1482.15,1592.90,1482.15,1592.20,Monday,None
1,2000-01-04 15:30:00,1594.40,1641.95,1594.40,1638.70,Tuesday,None
2,2000-01-05 15:30:00,1634.55,1635.50,1555.05,1595.80,Wednesday,None
3,2000-01-06 15:30:00,1595.80,1639.00,1595.80,1617.60,Thursday,None
4,2000-01-07 15:30:00,1616.60,1628.25,1597.20,1613.30,Friday,None
...,...,...,...,...,...,...,...
3245,2012-12-31 15:30:00,5901.20,5919.00,5897.15,5905.10,Monday,None
5107,2020-07-15 15:30:00,10701.00,10827.45,10577.75,10618.20,Wednesday,None
5108,2020-07-16 15:30:00,10706.20,10755.30,10595.20,10739.95,Thursday,None
5109,2020-07-17 15:30:00,10752.00,10933.45,10749.65,10901.70,Friday,None
5110,2020-07-20 15:30:00,10999.45,11037.90,10953.00,11022.20,Monday,None

In [23]:
# Impute IndiaVix values from Tradingview on the missing dates

ExpMvDf.loc[ExpMvDf["Date"] == "2020-07-15 15:30:00", "IndiaVix"] = 26.2900
ExpMvDf.loc[ExpMvDf["Date"] == "2020-07-16 15:30:00", "IndiaVix"] = 25.3625
ExpMvDf.loc[ExpMvDf["Date"] == "2020-07-17 15:30:00", "IndiaVix"] = 24.1575
ExpMvDf.loc[ExpMvDf["Date"] == "2020-07-20 15:30:00", "IndiaVix"] = 24.7125

In [24]:
# Drop rows that have IndiaVix = NaN and reset index
ExpMvDf = ExpMvDf[ExpMvDf["IndiaVix"].notnull()]
ExpMvDf = ExpMvDf.reset_index(drop=True)

# Calculating Expected Move of Index
Expected Move = Stock Price x (IV/100) x square root of (DTE/365)

## Tastytrade method
* Target Expiry
* ATM Straddle * 0.6
* 1 OTM Strangle * 0.3
* 2 OTM Strangle * 0.1

In [25]:
# Create new empty columns named PrevExpDiff, NextExpDiff and TargetExpiry in ExpMvDf
ExpMvDf["TargetExpiry"] = None

In [41]:
# x = ExpMvDf["Date"][2536]
# print(x)
# print("------")
# xdiff = x + pd.offsets.LastWeekOfMonth(n=2, weekday=3)
# print(xdiff)
# xdiffdays = x + pd.offsets.LastWeekOfMonth(n=2, weekday=3) - x
# print(xdiffdays)
# print("------")
# print(x + xdiffdays)
# print(x + xdiffdays - timedelta(1))
# print(x + xdiffdays - timedelta(2))
# print(x + xdiffdays - timedelta(3))
# print(x + xdiffdays - timedelta(6))
# print("------")
# print(xdiff)
# print(xdiff - timedelta(1))
# print(xdiff - timedelta(2))
# print(xdiff - timedelta(3))
# print(xdiff - timedelta(6))

2023-03-29 15:30:00
------
2023-04-27 15:30:00
29 days 00:00:00
------
2023-04-27 15:30:00
2023-04-26 15:30:00
2023-04-25 15:30:00
2023-04-24 15:30:00
2023-04-21 15:30:00
------
2023-04-27 15:30:00
2023-04-26 15:30:00
2023-04-25 15:30:00
2023-04-24 15:30:00
2023-04-21 15:30:00

In [ ]:
# June 2023 is a good month to test logic

for index, row in ExpMvDf.iterrows():
    
    print("-----------------------------------------")
    print("Loop No.:", index)
    print("Date:", row["Date"])
    TargetExpiry = row["Date"] + pd.offsets.LastWeekOfMonth(n=2, weekday=3)
    
    try:
                   
        if (
            TargetExpiry in ExpMvDf["Date"].values
        ):
            ExpMvDf.loc[index, "TargetExpiry"] = TargetExpiry
            print("TargetExpiry :", TargetExpiry)

        elif (
            TargetExpiry - timedelta(1) in ExpMvDf["Date"].values
        ):
            ExpMvDf.loc[index, "TargetExpiry"] = TargetExpiry - timedelta(1)
            print("TargetExpiry :", TargetExpiry - timedelta(1))

        elif (
            TargetExpiry - timedelta(2) in ExpMvDf["Date"].values
        ):
            ExpMvDf.loc[index, "TargetExpiry"] = TargetExpiry - timedelta(2)
            print("TargetExpiry :", TargetExpiry - timedelta(2))

        elif (
            TargetExpiry - timedelta(3) in ExpMvDf["Date"].values
        ):
            ExpMvDf.loc[index, "TargetExpiry"] = TargetExpiry - timedelta(3)
            print("TargetExpiry :", TargetExpiry - timedelta(3))

        elif (
            TargetExpiry - timedelta(6) in ExpMvDf["Date"].values
        ):
            ExpMvDf.loc[index, "TargetExpiry"] = TargetExpiry - timedelta(6)
            print("TargetExpiry :", TargetExpiry - timedelta(6))

    except KeyError:
        print(f"KeyError in row :{index}")

    except IndexError:
        print(f"IndexError in row :{index}")

    except ValueError:
        print(f"ValueError in row :{index}")

In [ ]:
# # Loop through every row of ExpMvDf
# for index, row in ExpMvDf.iterrows():
#     print("-----------------------------------------")
#     print("Loop No.:", index)

#     Offset37Day = row["Date"] + pd.DateOffset(days=37)
#     Offset38Day = row["Date"] + pd.DateOffset(days=38)
#     Offset39Day = row["Date"] + pd.DateOffset(days=39)
#     Offset40Day = row["Date"] + pd.DateOffset(days=40)
#     Offset41Day = row["Date"] + pd.DateOffset(days=41)
#     Offset42Day = row["Date"] + pd.DateOffset(days=42)
#     Offset43Day = row["Date"] + pd.DateOffset(days=43)
#     Offset44Day = row["Date"] + pd.DateOffset(days=44)
#     Offset45Day = row["Date"] + pd.DateOffset(days=45)
#     Offset46Day = row["Date"] + pd.DateOffset(days=46)
#     Offset47Day = row["Date"] + pd.DateOffset(days=47)
#     Offset48Day = row["Date"] + pd.DateOffset(days=48)
#     Offset49Day = row["Date"] + pd.DateOffset(days=49)
#     Offset50Day = row["Date"] + pd.DateOffset(days=50)
#     Offset51Day = row["Date"] + pd.DateOffset(days=51)
#     Offset52Day = row["Date"] + pd.DateOffset(days=52)
#     Offset53Day = row["Date"] + pd.DateOffset(days=53)

#     if (
#         Offset45Day in ExpMvDf["Date"].values
#         and ExpMvDf.loc[ExpMvDf["Date"] == Offset45Day, "ExpiryDay"].notnull().any()
#     ):
#         print("Offset45Day if condition is true")
#         ExpMvDf.loc[index, "Approx45Dte"] = Offset45Day

#     elif (
#         Offset46Day in ExpMvDf["Date"].values or Offset44Day in ExpMvDf["Date"].values
#     ) and (
#         ExpMvDf.loc[ExpMvDf["Date"] == Offset46Day, "ExpiryDay"].notnull().any()
#         or ExpMvDf.loc[ExpMvDf["Date"] == Offset44Day, "ExpiryDay"].notnull().any()
#     ):
#         print("Offset46Day or Offset44Day if condition is true")
#         if (
#             Offset46Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset46Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset46Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset46Day
#         elif (
#             Offset44Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset44Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset44Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset44Day

#     elif (
#         Offset47Day in ExpMvDf["Date"].values or Offset43Day in ExpMvDf["Date"].values
#     ) and (
#         ExpMvDf.loc[ExpMvDf["Date"] == Offset47Day, "ExpiryDay"].notnull().any()
#         or ExpMvDf.loc[ExpMvDf["Date"] == Offset43Day, "ExpiryDay"].notnull().any()
#     ):
#         print("Offset47Day or Offset43Day if condition is true")
#         if (
#             Offset47Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset47Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset47Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset47Day
#         elif (
#             Offset43Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset43Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset43Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset43Day

#     elif (
#         Offset48Day in ExpMvDf["Date"].values or Offset42Day in ExpMvDf["Date"].values
#     ) and (
#         ExpMvDf.loc[ExpMvDf["Date"] == Offset48Day, "ExpiryDay"].notnull().any()
#         or ExpMvDf.loc[ExpMvDf["Date"] == Offset42Day, "ExpiryDay"].notnull().any()
#     ):
#         print("Offset48Day or Offset42Day if condition is true")
#         if (
#             Offset48Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset48Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset48Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset48Day
#         elif (
#             Offset42Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset42Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset42Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset42Day

#     elif (
#         Offset49Day in ExpMvDf["Date"].values or Offset41Day in ExpMvDf["Date"].values
#     ) and (
#         ExpMvDf.loc[ExpMvDf["Date"] == Offset49Day, "ExpiryDay"].notnull().any()
#         or ExpMvDf.loc[ExpMvDf["Date"] == Offset41Day, "ExpiryDay"].notnull().any()
#     ):
#         print("Offset49Day or Offset41Day if condition is true")
#         if (
#             Offset49Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset49Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset49Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset49Day
#         elif (
#             Offset41Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset41Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset41Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset41Day

#     elif (
#         Offset50Day in ExpMvDf["Date"].values or Offset40Day in ExpMvDf["Date"].values
#     ) and (
#         ExpMvDf.loc[ExpMvDf["Date"] == Offset50Day, "ExpiryDay"].notnull().any()
#         or ExpMvDf.loc[ExpMvDf["Date"] == Offset40Day, "ExpiryDay"].notnull().any()
#     ):
#         print("Offset50Day or Offset40Day if condition is true")
#         if (
#             Offset50Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset50Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset50Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset50Day
#         elif (
#             Offset40Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset40Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset40Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset40Day

#     elif (
#         Offset51Day in ExpMvDf["Date"].values or Offset39Day in ExpMvDf["Date"].values
#     ) and (
#         ExpMvDf.loc[ExpMvDf["Date"] == Offset51Day, "ExpiryDay"].notnull().any()
#         or ExpMvDf.loc[ExpMvDf["Date"] == Offset39Day, "ExpiryDay"].notnull().any()
#     ):
#         print("Offset51Day or Offset39Day if condition is true")
#         if (
#             Offset51Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset51Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset51Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset51Day
#         elif (
#             Offset39Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset39Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset39Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset39Day

#     elif (
#         Offset52Day in ExpMvDf["Date"].values or Offset38Day in ExpMvDf["Date"].values
#     ) and (
#         ExpMvDf.loc[ExpMvDf["Date"] == Offset52Day, "ExpiryDay"].notnull().any()
#         or ExpMvDf.loc[ExpMvDf["Date"] == Offset38Day, "ExpiryDay"].notnull().any()
#     ):
#         print("Offset52Day or Offset38Day if condition is true")
#         if (
#             Offset52Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset52Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset52Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset52Day
#         elif (
#             Offset38Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset38Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset38Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset38Day

#     elif (
#         Offset53Day in ExpMvDf["Date"].values or Offset37Day in ExpMvDf["Date"].values
#     ) and (
#         ExpMvDf.loc[ExpMvDf["Date"] == Offset53Day, "ExpiryDay"].notnull().any()
#         or ExpMvDf.loc[ExpMvDf["Date"] == Offset37Day, "ExpiryDay"].notnull().any()
#     ):
#         print("Offset53Day or Offset37Day if condition is true")
#         if (
#             Offset53Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset53Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset53Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset53Day
#         elif (
#             Offset37Day in ExpMvDf["Date"].values
#             and ExpMvDf.loc[ExpMvDf["Date"] == Offset37Day, "ExpiryDay"].notnull().any()
#         ):
#             print("Offset37Day if condition is true")
#             ExpMvDf.loc[index, "Approx45Dte"] = Offset37Day

In [27]:
# Set Approx45Dte as datetime object
ExpMvDf["TargetExpiry"] = pd.to_datetime(ExpMvDf["TargetExpiry"])

In [28]:
ExpMvDf["Dte"] = (ExpMvDf["TargetExpiry"] - ExpMvDf["Date"]).dt.days

In [ ]:
# ExpMvDf["Close"] * (ExpMvDf["IndiaVix"] / 100) * np.sqrt(45 / 365)

In [29]:
ExpMvDf["DteExpMv"] = (
    ExpMvDf["Close"]
    * (ExpMvDf["IndiaVix"] / 100)
    * np.sqrt(ExpMvDf["Dte"] / 365)
)

In [30]:
ExpMvDf["DteLL"] = ExpMvDf["Close"] - ExpMvDf["DteExpMv"]
ExpMvDf["DteUL"] = ExpMvDf["Close"] + ExpMvDf["DteExpMv"]

In [61]:
ExpMvDf

,Date,Open,High,Low,Close,DayOfWeek,IndiaVix,TargetExpiry,Dte,DteExpMv,DteLL,DteUL,0DteResult
0,2013-01-01 15:30:00,5937.65,5963.90,5935.20,5950.80,Tuesday,13.69,2013-02-28 15:30:00,58.0,324.747912,5626.052088,6275.547912,Pass
1,2013-01-02 15:30:00,5982.60,6006.05,5982.00,5993.20,Wednesday,13.71,2013-02-28 15:30:00,57.0,324.703688,5668.496312,6317.903688,Pass
2,2013-01-03 15:30:00,6015.80,6017.00,5986.55,6009.50,Thursday,13.47,2013-02-28 15:30:00,56.0,317.068806,5692.431194,6326.568806,Pass
3,2013-01-04 15:30:00,6011.95,6020.75,5981.55,6016.10,Friday,13.37,2013-02-28 15:30:00,55.0,312.234844,5703.865156,6328.334844,LLBreach
4,2013-01-07 15:30:00,6042.15,6042.15,5977.15,5988.40,Monday,13.92,2013-02-28 15:30:00,52.0,314.633728,5673.766272,6303.033728,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2697,2023-11-23 15:30:00,19828.45,19875.15,19786.75,19802.00,Thursday,11.315,NaT,NaN,NaN,NaN,NaN,Pass
2698,2023-11-24 15:30:00,19809.60,19832.85,19768.85,19794.70,Friday,11.33,NaT,NaN,NaN,NaN,NaN,Pass
2699,2023-11-28 15:30:00,19844.65,19916.85,19800.00,19889.70,Tuesday,12.175,NaT,NaN,NaN,NaN,NaN,Pass
2700,2023-11-29 15:30:00,19976.55,20104.65,19956.30,20096.60,Wednesday,12.7075,NaT,NaN,NaN,NaN,NaN,Pass
2701,2023-11-30 15:30:00,20108.50,20158.70,20015.85,20133.15,Thursday,12.69,NaT,NaN,NaN,NaN,NaN,Pass

# 0DteResult

In [67]:
pd.notnull(EndDate)

False

In [77]:
for index, row in ExpMvDf.iterrows():
    try:
        print("-----------------------")
        print("Loop No. :", index)
        Date = row["Date"]
        print("Date:", Date)
        Dte = row["Dte"]
        print("Dte:", Dte)
        
        # Set the lower and upper limits
        LowerLimit = ExpMvDf.loc[index, "DteLL"]
        print("DteLL:", LowerLimit)
        UpperLimit = ExpMvDf.loc[index, "DteUL"]
        print("DteUL:", UpperLimit)

        # Set the start and end dates
        StartDate = row["Date"]
        print("StartDate:", StartDate)
        EndDate = ExpMvDf.loc[index, "TargetExpiry"]
        print("EndDate:", EndDate)

        DateMask = (ExpMvDf["Date"] >= StartDate) & (ExpMvDf["Date"] <= EndDate)
        LLMask = DateMask & (ExpMvDf["Close"] >= LowerLimit)
        ULMask = DateMask & (ExpMvDf["Close"] <= UpperLimit)
        Mask = (
            DateMask
            & (ExpMvDf["Close"] >= LowerLimit)
            & (ExpMvDf["Close"] <= UpperLimit)
        )

        NoOfDaysInRange = ExpMvDf.loc[DateMask, "Date"].shape[0]
        print("No. of Days in range:", NoOfDaysInRange)
        NoOfRowsMaskTrue = Mask.sum()
        print("No. of rows with in LL and UL:", NoOfRowsMaskTrue)
        NoOfRowsLLMaskTrue = LLMask.sum()
        print("No. of rows with in LL:", NoOfRowsLLMaskTrue)
        NoOfRowsULMaskTrue = ULMask.sum()
        print("No. of rows with in UL:", NoOfRowsULMaskTrue)
        
        if (
            NoOfRowsMaskTrue == NoOfDaysInRange
            and pd.notnull(EndDate)
        ):
            print("0DteResult: Pass")
            ExpMvDf.loc[index, "0DteResult"] = "Pass"

        elif (
            NoOfRowsLLMaskTrue < NoOfDaysInRange
            and pd.notnull(EndDate)
        ):
            print("0DteResult: LLBreach")
            ExpMvDf.loc[index, "0DteResult"] = "LLBreach"

        elif (
            NoOfRowsULMaskTrue < NoOfDaysInRange
            and pd.notnull(EndDate)
        ):
            print("0DteResult: ULBreach")
            ExpMvDf.loc[index, "0DteResult"] = "ULBreach"

        elif (
            NoOfRowsLLMaskTrue < NoOfDaysInRange
            and NoOfRowsULMaskTrue < NoOfDaysInRange
            and pd.notnull(EndDate)
        ):
            print("0DteResult: BothBreach")
            ExpMvDf.loc[index, "0DteResult"] = "BothBreach"
            
        elif (
            pd.isnull(EndDate)
        ):
            print(f"EndDate in Null:{index}")
            ExpMvDf.loc[index, "0DteResult"] = np.nan
    
    except KeyError:
        print(f"KeyError in row:{index}")
        ExpMvDf.loc[index, "0DteResult"] = np.nan
            
    except ValueError:
        print(f"ValueError in row:{index}")
        ExpMvDf.loc[index, "0DteResult"] = np.nan

    except IndexError:
        print(f"IndexError in row:{index}")
        ExpMvDf.loc[index, "0DteResult"] = np.nan

-----------------------
Loop No. : 0
Date: 2013-01-01 15:30:00
Dte: 58.0
DteLL: 5626.052088289519
DteUL: 6275.5479117104815
StartDate: 2013-01-01 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 43
No. of rows with in LL and UL: 43
No. of rows with in LL: 43
No. of rows with in UL: 43
0DteResult: Pass
-----------------------
Loop No. : 1
Date: 2013-01-02 15:30:00
Dte: 57.0
DteLL: 5668.496312110375
DteUL: 6317.903687889625
StartDate: 2013-01-02 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 42
No. of rows with in LL and UL: 42
No. of rows with in LL: 42
No. of rows with in UL: 42
0DteResult: Pass
-----------------------
Loop No. : 2
Date: 2013-01-03 15:30:00
Dte: 56.0
DteLL: 5692.431194491126
DteUL: 6326.568805508874
StartDate: 2013-01-03 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 41
No. of rows with in LL and UL: 41
No. of rows with in LL: 41
No. of rows with in UL: 41
0DteResult: Pass
-----------------------
Loop No. : 3
Date: 2013-01-04 15:30:00
Dte: 55.0
DteLL: 5703.865156316779
DteUL: 6328.334843683222
StartDate: 2013-01-04 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 40
No. of rows with in LL and UL: 39
No. of rows with in LL: 39
No. of rows with in UL: 40
0DteResult: LLBreach
-----------------------
Loop No. : 4
Date: 2013-01-07 15:30:00
Dte: 52.0
DteLL: 5673.766271697586
DteUL: 6303.033728302414
StartDate: 2013-01-07 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 39
No. of rows with in LL and UL: 39
No. of rows with in LL: 39
No. of rows with in UL: 39
0DteResult: Pass
-----------------------
Loop No. : 5
Date: 2013-01-08 15:30:00
Dte: 51.0
DteLL: 5703.9965540080575
DteUL: 6299.403445991942
StartDate: 2013-01-08 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 38
No. of rows with in LL and UL: 37
No. of rows with in LL: 37
No. of rows with in UL: 38
0DteResult: LLBreach
-----------------------
Loop No. : 6
Date: 2013-01-09 15:30:00
Dte: 50.0
DteLL: 5677.107845861313
DteUL: 6265.892154138687
StartDate: 2013-01-09 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 37
No. of rows with in LL and UL: 37
No. of rows with in LL: 37
No. of rows with in UL: 37
0DteResult: Pass
-----------------------
Loop No. : 7
Date: 2013-01-10 15:30:00
Dte: 49.0
DteLL: 5678.40160561609
DteUL: 6258.798394383911
StartDate: 2013-01-10 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 36
No. of rows with in LL and UL: 36
No. of rows with in LL: 36
No. of rows with in UL: 36
0DteResult: Pass
-----------------------
Loop No. : 8
Date: 2013-01-11 15:30:00
Dte: 48.0
DteLL: 5665.773860200616
DteUL: 6236.826139799385
StartDate: 2013-01-11 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 35
No. of rows with in LL and UL: 35
No. of rows with in LL: 35
No. of rows with in UL: 35
0DteResult: Pass
-----------------------
Loop No. : 9
Date: 2013-01-14 15:30:00
Dte: 45.0
DteLL: 5734.222037138399
DteUL: 6313.777962861601
StartDate: 2013-01-14 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 34
No. of rows with in LL and UL: 33
No. of rows with in LL: 33
No. of rows with in UL: 34
0DteResult: LLBreach
-----------------------
Loop No. : 10
Date: 2013-01-15 15:30:00
Dte: 44.0
DteLL: 5771.032638972761
DteUL: 6342.16736102724
StartDate: 2013-01-15 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 33
No. of rows with in LL and UL: 31
No. of rows with in LL: 31
No. of rows with in UL: 33
0DteResult: LLBreach
-----------------------
Loop No. : 11
Date: 2013-01-16 15:30:00
Dte: 43.0
DteLL: 5713.604610183649
DteUL: 6289.995389816351
StartDate: 2013-01-16 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 32
No. of rows with in LL and UL: 31
No. of rows with in LL: 31
No. of rows with in UL: 32
0DteResult: LLBreach
-----------------------
Loop No. : 12
Date: 2013-01-17 15:30:00
Dte: 42.0
DteLL: 5752.190838016747
DteUL: 6326.209161983253
StartDate: 2013-01-17 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 31
No. of rows with in LL and UL: 30
No. of rows with in LL: 30
No. of rows with in UL: 31
0DteResult: LLBreach
-----------------------
Loop No. : 13
Date: 2013-01-18 15:30:00
Dte: 41.0
DteLL: 5782.083942238284
DteUL: 6346.716057761715
StartDate: 2013-01-18 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 30
No. of rows with in LL and UL: 28
No. of rows with in LL: 28
No. of rows with in UL: 30
0DteResult: LLBreach
-----------------------
Loop No. : 14
Date: 2013-01-21 15:30:00
Dte: 38.0
DteLL: 5814.220316147116
DteUL: 6350.379683852884
StartDate: 2013-01-21 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 29
No. of rows with in LL and UL: 26
No. of rows with in LL: 26
No. of rows with in UL: 29
0DteResult: LLBreach
-----------------------
Loop No. : 15
Date: 2013-01-22 15:30:00
Dte: 37.0
DteLL: 5781.011964907662
DteUL: 6315.988035092338
StartDate: 2013-01-22 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 28
No. of rows with in LL and UL: 26
No. of rows with in LL: 26
No. of rows with in UL: 28
0DteResult: LLBreach
-----------------------
Loop No. : 16
Date: 2013-01-23 15:30:00
Dte: 36.0
DteLL: 5794.3814534187995
DteUL: 6314.218546581201
StartDate: 2013-01-23 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 27
No. of rows with in LL and UL: 25
No. of rows with in LL: 25
No. of rows with in UL: 27
0DteResult: LLBreach
-----------------------
Loop No. : 17
Date: 2013-01-24 15:30:00
Dte: 35.0
DteLL: 5749.77325165493
DteUL: 6288.82674834507
StartDate: 2013-01-24 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 26
No. of rows with in LL and UL: 25
No. of rows with in LL: 25
No. of rows with in UL: 26
0DteResult: LLBreach
-----------------------
Loop No. : 18
Date: 2013-01-25 15:30:00
Dte: 34.0
DteLL: 5800.763580634585
DteUL: 6348.4364193654155
StartDate: 2013-01-25 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 25
No. of rows with in LL and UL: 22
No. of rows with in LL: 22
No. of rows with in UL: 25
0DteResult: LLBreach
-----------------------
Loop No. : 19
Date: 2013-01-28 15:30:00
Dte: 31.0
DteLL: 5806.233413214515
DteUL: 6343.366586785485
StartDate: 2013-01-28 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 24
No. of rows with in LL and UL: 21
No. of rows with in LL: 21
No. of rows with in UL: 24
0DteResult: LLBreach
-----------------------
Loop No. : 20
Date: 2013-01-29 15:30:00
Dte: 30.0
DteLL: 5798.924734448179
DteUL: 6300.87526555182
StartDate: 2013-01-29 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 23
No. of rows with in LL and UL: 20
No. of rows with in LL: 20
No. of rows with in UL: 23
0DteResult: LLBreach
-----------------------
Loop No. : 21
Date: 2013-01-30 15:30:00
Dte: 29.0
DteLL: 5810.242783603935
DteUL: 6301.1572163960645
StartDate: 2013-01-30 15:30:00
EndDate: 2013-02-28 15:30:00
No. of Days in range: 22
No. of rows with in LL and UL: 19
No. of rows with in LL: 19
No. of rows with in UL: 22
0DteResult: LLBreach
-----------------------
Loop No. : 22
Date: 2013-01-31 15:30:00
Dte: 56.0
DteLL: 5700.700798733604
DteUL: 6368.699201266396
StartDate: 2013-01-31 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 40
No. of rows with in LL and UL: 32
No. of rows with in LL: 32
No. of rows with in UL: 40
0DteResult: LLBreach
-----------------------
Loop No. : 23
Date: 2013-02-01 15:30:00
Dte: 55.0
DteLL: 5678.476050737392
DteUL: 6319.323949262607
StartDate: 2013-02-01 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 39
No. of rows with in LL and UL: 35
No. of rows with in LL: 35
No. of rows with in UL: 39
0DteResult: LLBreach
-----------------------
Loop No. : 24
Date: 2013-02-04 15:30:00
Dte: 52.0
DteLL: 5663.137963623321
DteUL: 6311.262036376678
StartDate: 2013-02-04 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 38
No. of rows with in LL and UL: 34
No. of rows with in LL: 34
No. of rows with in UL: 38
0DteResult: LLBreach
-----------------------
Loop No. : 25
Date: 2013-02-05 15:30:00
Dte: 51.0
DteLL: 5631.581185281307
DteUL: 6282.218814718693
StartDate: 2013-02-05 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 37
No. of rows with in LL and UL: 37
No. of rows with in LL: 37
No. of rows with in UL: 37
0DteResult: Pass
-----------------------
Loop No. : 26
Date: 2013-02-06 15:30:00
Dte: 50.0
DteLL: 5644.681600695258
DteUL: 6273.718399304742
StartDate: 2013-02-06 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 36
No. of rows with in LL and UL: 34
No. of rows with in LL: 34
No. of rows with in UL: 36
0DteResult: LLBreach
-----------------------
Loop No. : 27
Date: 2013-02-07 15:30:00
Dte: 49.0
DteLL: 5614.800003588169
DteUL: 6262.799996411832
StartDate: 2013-02-07 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 35
No. of rows with in LL and UL: 35
No. of rows with in LL: 35
No. of rows with in UL: 35
0DteResult: Pass
-----------------------
Loop No. : 28
Date: 2013-02-08 15:30:00
Dte: 48.0
DteLL: 5578.948997217972
DteUL: 6228.051002782028
StartDate: 2013-02-08 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 34
No. of rows with in LL and UL: 34
No. of rows with in LL: 34
No. of rows with in UL: 34
0DteResult: Pass
-----------------------
Loop No. : 29
Date: 2013-02-11 15:30:00
Dte: 45.0
DteLL: 5573.711062010298
DteUL: 6221.888937989703
StartDate: 2013-02-11 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 33
No. of rows with in LL and UL: 33
No. of rows with in LL: 33
No. of rows with in UL: 33
0DteResult: Pass
-----------------------
Loop No. : 30
Date: 2013-02-12 15:30:00
Dte: 44.0
DteLL: 5607.681557424649
DteUL: 6237.318442575351
StartDate: 2013-02-12 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 32
No. of rows with in LL and UL: 32
No. of rows with in LL: 32
No. of rows with in UL: 32
0DteResult: Pass
-----------------------
Loop No. : 31
Date: 2013-02-13 15:30:00
Dte: 43.0
DteLL: 5624.594907020207
DteUL: 6241.205092979792
StartDate: 2013-02-13 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 31
No. of rows with in LL and UL: 31
No. of rows with in LL: 31
No. of rows with in UL: 31
0DteResult: Pass
-----------------------
Loop No. : 32
Date: 2013-02-14 15:30:00
Dte: 42.0
DteLL: 5595.049975253959
DteUL: 6198.75002474604
StartDate: 2013-02-14 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 30
No. of rows with in LL and UL: 30
No. of rows with in LL: 30
No. of rows with in UL: 30
0DteResult: Pass
-----------------------
Loop No. : 33
Date: 2013-02-15 15:30:00
Dte: 41.0
DteLL: 5586.685751329932
DteUL: 6188.114248670067
StartDate: 2013-02-15 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 29
No. of rows with in LL and UL: 29
No. of rows with in LL: 29
No. of rows with in UL: 29
0DteResult: Pass
-----------------------
Loop No. : 34
Date: 2013-02-18 15:30:00
Dte: 38.0
DteLL: 5588.1826888628275
DteUL: 6208.217311137172
StartDate: 2013-02-18 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 28
No. of rows with in LL and UL: 28
No. of rows with in LL: 28
No. of rows with in UL: 28
0DteResult: Pass
-----------------------
Loop No. : 35
Date: 2013-02-19 15:30:00
Dte: 37.0
DteLL: 5640.714029526981
DteUL: 6238.685970473019
StartDate: 2013-02-19 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 27
No. of rows with in LL and UL: 26
No. of rows with in LL: 26
No. of rows with in UL: 27
0DteResult: LLBreach
-----------------------
Loop No. : 36
Date: 2013-02-20 15:30:00
Dte: 36.0
DteLL: 5651.83769638514
DteUL: 6234.16230361486
StartDate: 2013-02-20 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 26
No. of rows with in LL and UL: 23
No. of rows with in LL: 23
No. of rows with in UL: 26
0DteResult: LLBreach
-----------------------
Loop No. : 37
Date: 2013-02-21 15:30:00
Dte: 35.0
DteLL: 5545.212879144867
DteUL: 6159.187120855133
StartDate: 2013-02-21 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 25
No. of rows with in LL and UL: 25
No. of rows with in LL: 25
No. of rows with in UL: 25
0DteResult: Pass
-----------------------
Loop No. : 38
Date: 2013-02-22 15:30:00
Dte: 34.0
DteLL: 5550.506743651736
DteUL: 6150.093256348265
StartDate: 2013-02-22 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 24
No. of rows with in LL and UL: 24
No. of rows with in LL: 24
No. of rows with in UL: 24
0DteResult: Pass
-----------------------
Loop No. : 39
Date: 2013-02-25 15:30:00
Dte: 31.0
DteLL: 5569.246743421418
DteUL: 6140.153256578582
StartDate: 2013-02-25 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 23
No. of rows with in LL and UL: 23
No. of rows with in LL: 23
No. of rows with in UL: 23
0DteResult: Pass
-----------------------
Loop No. : 40
Date: 2013-02-26 15:30:00
Dte: 30.0
DteLL: 5474.562558244145
DteUL: 6048.037441755855
StartDate: 2013-02-26 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 22
No. of rows with in LL and UL: 22
No. of rows with in LL: 22
No. of rows with in UL: 22
0DteResult: Pass
-----------------------
Loop No. : 41
Date: 2013-02-27 15:30:00
Dte: 29.0
DteLL: 5531.704045245678
DteUL: 6062.095954754322
StartDate: 2013-02-27 15:30:00
EndDate: 2013-03-28 15:30:00
No. of Days in range: 21
No. of rows with in LL and UL: 21
No. of rows with in LL: 21
No. of rows with in UL: 21
0DteResult: Pass
-----------------------
Loop No. : 42
Date: 2013-02-28 15:30:00
Dte: 56.0
DteLL: 5361.634282936407
DteUL: 6024.365717063593
StartDate: 2013-02-28 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 37
No. of rows with in LL and UL: 37
No. of rows with in LL: 37
No. of rows with in UL: 37
0DteResult: Pass
-----------------------
Loop No. : 43
Date: 2013-03-01 15:30:00
Dte: 55.0
DteLL: 5407.528332867342
DteUL: 6031.871667132657
StartDate: 2013-03-01 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 36
No. of rows with in LL and UL: 36
No. of rows with in LL: 36
No. of rows with in UL: 36
0DteResult: Pass
-----------------------
Loop No. : 44
Date: 2013-03-04 15:30:00
Dte: 52.0
DteLL: 5404.474967420287
DteUL: 5992.525032579713
StartDate: 2013-03-04 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 35
No. of rows with in LL and UL: 35
No. of rows with in LL: 35
No. of rows with in UL: 35
0DteResult: Pass
-----------------------
Loop No. : 45
Date: 2013-03-05 15:30:00
Dte: 51.0
DteLL: 5494.690690207665
DteUL: 6073.709309792334
StartDate: 2013-03-05 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 34
No. of rows with in LL and UL: 34
No. of rows with in LL: 34
No. of rows with in UL: 34
0DteResult: Pass
-----------------------
Loop No. : 46
Date: 2013-03-06 15:30:00
Dte: 50.0
DteLL: 5530.022895890663
DteUL: 6107.177104109338
StartDate: 2013-03-06 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 33
No. of rows with in LL and UL: 31
No. of rows with in LL: 31
No. of rows with in UL: 33
0DteResult: LLBreach
-----------------------
Loop No. : 47
Date: 2013-03-07 15:30:00
Dte: 49.0
DteLL: 5582.51796900778
DteUL: 6144.08203099222
StartDate: 2013-03-07 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 32
No. of rows with in LL and UL: 25
No. of rows with in LL: 25
No. of rows with in UL: 32
0DteResult: LLBreach
-----------------------
Loop No. : 48
Date: 2013-03-08 15:30:00
Dte: 48.0
DteLL: 5658.070776769691
DteUL: 6233.329223230308
StartDate: 2013-03-08 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 31
No. of rows with in LL and UL: 20
No. of rows with in LL: 20
No. of rows with in UL: 31
0DteResult: LLBreach
-----------------------
Loop No. : 49
Date: 2013-03-11 15:30:00
Dte: 45.0
DteLL: 5644.976482159525
DteUL: 6239.623517840475
StartDate: 2013-03-11 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 30
No. of rows with in LL and UL: 20
No. of rows with in LL: 20
No. of rows with in UL: 30
0DteResult: LLBreach
-----------------------
Loop No. : 50
Date: 2013-03-12 15:30:00
Dte: 44.0
DteLL: 5603.424148256327
DteUL: 6224.775851743674
StartDate: 2013-03-12 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 29
No. of rows with in LL and UL: 21
No. of rows with in LL: 21
No. of rows with in UL: 29
0DteResult: LLBreach
-----------------------
Loop No. : 51
Date: 2013-03-13 15:30:00
Dte: 43.0
DteLL: 5525.852290859399
DteUL: 6176.547709140601
StartDate: 2013-03-13 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 28
No. of rows with in LL and UL: 27
No. of rows with in LL: 27
No. of rows with in UL: 28
0DteResult: LLBreach
-----------------------
Loop No. : 52
Date: 2013-03-14 15:30:00
Dte: 42.0
DteLL: 5615.054649367411
DteUL: 6202.745350632588
StartDate: 2013-03-14 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 27
No. of rows with in LL and UL: 19
No. of rows with in LL: 19
No. of rows with in UL: 27
0DteResult: LLBreach
-----------------------
Loop No. : 53
Date: 2013-03-15 15:30:00
Dte: 41.0
DteLL: 5574.216284028966
DteUL: 6170.983715971035
StartDate: 2013-03-15 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 26
No. of rows with in LL and UL: 20
No. of rows with in LL: 20
No. of rows with in UL: 26
0DteResult: LLBreach
-----------------------
Loop No. : 54
Date: 2013-03-18 15:30:00
Dte: 38.0
DteLL: 5536.778314743109
DteUL: 6133.6216852568905
StartDate: 2013-03-18 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 25
No. of rows with in LL and UL: 23
No. of rows with in LL: 23
No. of rows with in UL: 25
0DteResult: LLBreach
-----------------------
Loop No. : 55
Date: 2013-03-19 15:30:00
Dte: 37.0
DteLL: 5440.204572250392
DteUL: 6051.595427749608
StartDate: 2013-03-19 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 24
No. of rows with in LL and UL: 24
No. of rows with in LL: 24
No. of rows with in UL: 24
0DteResult: Pass
-----------------------
Loop No. : 56
Date: 2013-03-20 15:30:00
Dte: 36.0
DteLL: 5396.46070492762
DteUL: 5992.339295072379
StartDate: 2013-03-20 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 23
No. of rows with in LL and UL: 23
No. of rows with in LL: 23
No. of rows with in UL: 23
0DteResult: Pass
-----------------------
Loop No. : 57
Date: 2013-03-21 15:30:00
Dte: 35.0
DteLL: 5369.398068408966
DteUL: 5948.001931591034
StartDate: 2013-03-21 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 22
No. of rows with in LL and UL: 22
No. of rows with in LL: 22
No. of rows with in UL: 22
0DteResult: Pass
-----------------------
Loop No. : 58
Date: 2013-03-22 15:30:00
Dte: 34.0
DteLL: 5383.264447407948
DteUL: 5919.335552592052
StartDate: 2013-03-22 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 21
No. of rows with in LL and UL: 21
No. of rows with in LL: 21
No. of rows with in UL: 21
0DteResult: Pass
-----------------------
Loop No. : 59
Date: 2013-03-25 15:30:00
Dte: 31.0
DteLL: 5365.191878595767
DteUL: 5902.4081214042335
StartDate: 2013-03-25 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 20
No. of rows with in LL and UL: 19
No. of rows with in LL: 20
No. of rows with in UL: 19
0DteResult: ULBreach
-----------------------
Loop No. : 60
Date: 2013-03-26 15:30:00
Dte: 30.0
DteLL: 5386.051360781236
DteUL: 5897.148639218764
StartDate: 2013-03-26 15:30:00
EndDate: 2013-04-25 15:30:00
No. of Days in range: 19
No. of rows with in LL and UL: 18
No. of rows with in LL: 19
No. of rows with in UL: 18
0DteResult: ULBreach
-----------------------
Loop No. : 61
Date: 2013-03-28 15:30:00
Dte: 63.0
DteLL: 5323.18285578652
DteUL: 6041.81714421348
StartDate: 2013-03-28 15:30:00
EndDate: 2013-05-30 15:30:00
No. of Days in range: 43
No. of rows with in LL and UL: 28
No. of rows with in LL: 43
No. of rows with in UL: 28
0DteResult: ULBreach
-----------------------
Loop No. : 62
Date: 2013-04-01 15:30:00
Dte: 59.0
DteLL: 5363.822464534774
DteUL: 6044.977535465226
StartDate: 2013-04-01 15:30:00
EndDate: 2013-05-30 15:30:00
No. of Days in range: 42
No. of rows with in LL and UL: 28
No. of rows with in LL: 42
No. of rows with in UL: 28
0DteResult: ULBreach
-----------------------
Loop No. : 63
Date: 2013-04-02 15:30:00
Dte: 58.0

In [73]:
ExpMvDf["0DteResult"].isnull().sum()

25

In [74]:
print(ExpMvDf["0DteResult"].value_counts())
print("-----------------------")
print(ExpMvDf["0DteResult"].value_counts(normalize=True))

0DteResult
Pass        1526
ULBreach     683
LLBreach     468
Name: count, dtype: int64
-----------------------
0DteResult
Pass        0.570041
ULBreach    0.255136
LLBreach    0.174823
Name: proportion, dtype: float64

In [90]:
# ExpMvDf.loc[2451]

Date            2022-11-28 15:30:00
Open                       18430.55
High                       18614.25
Low                         18365.6
Close                      18562.75
DayOfWeek                    Monday
IndiaVix                     13.565
TargetExpiry    2023-01-25 15:30:00
Dte                            58.0
DteExpMv                1003.759522
DteLL                  17558.990478
DteUL                  19566.509522
0DteResult                     Pass
Name: 2451, dtype: object

In [71]:
ExpMvDf.tail()

,Date,Open,High,Low,Close,DayOfWeek,IndiaVix,TargetExpiry,Dte,DteExpMv,DteLL,DteUL,0DteResult
2697,2023-11-23 15:30:00,19828.45,19875.15,19786.75,19802.00,Thursday,11.315,NaT,NaN,NaN,NaN,NaN,NaN
2698,2023-11-24 15:30:00,19809.60,19832.85,19768.85,19794.70,Friday,11.33,NaT,NaN,NaN,NaN,NaN,NaN
2699,2023-11-28 15:30:00,19844.65,19916.85,19800.00,19889.70,Tuesday,12.175,NaT,NaN,NaN,NaN,NaN,NaN
2700,2023-11-29 15:30:00,19976.55,20104.65,19956.30,20096.60,Wednesday,12.7075,NaT,NaN,NaN,NaN,NaN,NaN
2701,2023-11-30 15:30:00,20108.50,20158.70,20015.85,20133.15,Thursday,12.69,NaT,NaN,NaN,NaN,NaN,NaN

# 2by3DteResult [(Approx 0.35*60Days) Delta] WORK FROM HERE

In [ ]:
# index = 0
# print("-----------------------")
# print("Loop No. :", index)
# Date = ExpMvDf.loc[index, "Date"]
# Dte = ExpMvDf.loc[index, "Dte"]
# OneThirdDays = round(Dte*0.35)
# OneThirdDte = Date + timedelta(days=OneThirdDays)

# if (
# OneThirdDte in ExpMvDf["Date"].values
# ):
#     print("Date :", Date)
#     print("Dte :", Dte)
#     print("OneThirdDays :", OneThirdDays)
#     print("OneThirdDte :", OneThirdDte)
#     print(True)
    
# else:
#     print("Date :", Date)
#     print("Dte :", Dte)
#     print("OneThirdDays :", OneThirdDays)
#     print("OneThirdDte :", OneThirdDte)
#     print(False)

In [78]:
for index, row in ExpMvDf.iterrows():
    try:
        print("-----------------------")
        print("Loop No. :", index)
        Date = row["Date"]
        print("Date :", Date)
        Dte = row["Dte"]
        print("Dte :", Dte)
        OneThirdDays = round(Dte*0.35)
        print("OneThirdDays :", OneThirdDays)
        OneThirdDte = row["TargetExpiry"] - timedelta(days=OneThirdDays)

        if OneThirdDte in ExpMvDf["Date"].values:
            print("OneThirdDte:", OneThirdDte)
            ExpMvDf.loc[index, "OneThirdDte"] = OneThirdDte
            OneThirdDte = OneThirdDte

        elif OneThirdDte - timedelta(days=1) in ExpMvDf["Date"].values:
            print("OneThirdDte:", OneThirdDte - timedelta(days=1))
            ExpMvDf.loc[index, "OneThirdDte"] = OneThirdDte - timedelta(days=1)
            OneThirdDte = OneThirdDte - timedelta(days=1)

        elif OneThirdDte - timedelta(days=2) in ExpMvDf["Date"].values:
            print("OneThirdDte:", OneThirdDte - timedelta(days=2))
            ExpMvDf.loc[index, "OneThirdDte"] = OneThirdDte - timedelta(days=2)
            OneThirdDte = OneThirdDte - timedelta(days=2)

        elif OneThirdDte - timedelta(days=3) in ExpMvDf["Date"].values:
            print("OneThirdDte:", OneThirdDte - timedelta(days=3))
            ExpMvDf.loc[index, "OneThirdDte"] = OneThirdDte - timedelta(days=3)
            OneThirdDte = OneThirdDte - timedelta(days=3)

        elif OneThirdDte - timedelta(days=4) in ExpMvDf["Date"].values:
            print("OneThirdDte:", OneThirdDte - timedelta(days=4))
            ExpMvDf.loc[index, "OneThirdDte"] = OneThirdDte - timedelta(days=4)
            OneThirdDte = OneThirdDte - timedelta(days=4)

        elif OneThirdDte - timedelta(days=5) in ExpMvDf["Date"].values:
            print("OneThirdDte:", OneThirdDte - timedelta(days=5))
            ExpMvDf.loc[index, "OneThirdDte"] = OneThirdDte - timedelta(days=5)
            OneThirdDte = OneThirdDte - timedelta(days=5)

        elif OneThirdDte - timedelta(days=6) in ExpMvDf["Date"].values:
            print("OneThirdDte:", OneThirdDte - timedelta(days=6))
            ExpMvDf.loc[index, "OneThirdDte"] = OneThirdDte - timedelta(days=6)
            OneThirdDte = OneThirdDte - timedelta(days=6)

        # Set the lower and upper limits
        LowerLimit = ExpMvDf.loc[index, "DteLL"]
        print("DteLL:", LowerLimit)
        UpperLimit = ExpMvDf.loc[index, "DteUL"]
        print("DteUL:", UpperLimit)

        # Set the start and end dates
        StartDate = ExpMvDf.loc[index, "Date"]
        print("StartDate:", StartDate)
        EndDate = ExpMvDf.loc[index, "OneThirdDte"]
        print("EndDate:", EndDate)

        DateMask = (ExpMvDf["Date"] >= StartDate) & (ExpMvDf["Date"] <= EndDate)
        LLMask = DateMask & (ExpMvDf["Close"] >= LowerLimit)
        ULMask = DateMask & (ExpMvDf["Close"] <= UpperLimit)
        Mask = (
            DateMask
            & (ExpMvDf["Close"] >= LowerLimit)
            & (ExpMvDf["Close"] <= UpperLimit)
        )

        NoOfDaysInRange = ExpMvDf.loc[DateMask, "Date"].shape[0]
        print("No. of Days in range:", NoOfDaysInRange)
        NoOfRowsMaskTrue = Mask.sum()
        print("No. of rows with in LL and UL:", NoOfRowsMaskTrue)
        NoOfRowsLLMaskTrue = LLMask.sum()
        print("No. of rows with in LL:", NoOfRowsLLMaskTrue)
        NoOfRowsULMaskTrue = ULMask.sum()
        print("No. of rows with in UL:", NoOfRowsULMaskTrue)
        
        if (
            NoOfRowsMaskTrue == NoOfDaysInRange
            and pd.notnull(EndDate)
        ):
            print("OneThirdDteResult: Pass")
            ExpMvDf.loc[index, "OneThirdDteResult"] = "Pass"

        elif (
            NoOfRowsLLMaskTrue < NoOfDaysInRange
            and pd.notnull(EndDate)
        ):
            print("OneThirdDteResult: LLBreach")
            ExpMvDf.loc[index, "OneThirdDteResult"] = "LLBreach"

        elif (
            NoOfRowsULMaskTrue < NoOfDaysInRange
            and pd.notnull(EndDate)
        ):
            print("OneThirdDteResult: ULBreach")
            ExpMvDf.loc[index, "OneThirdDteResult"] = "ULBreach"

        elif (
            NoOfRowsLLMaskTrue < NoOfDaysInRange 
            and NoOfRowsULMaskTrue < NoOfDaysInRange
            and pd.notnull(EndDate)
        ):
            print("OneThirdDteResult: BothBreach")
            ExpMvDf.loc[index, "OneThirdDteResult"] = "BothBreach"
            
        elif (
            pd.isnull(EndDate)
        ):
            print(f"EndDate in Null:{index}")
            ExpMvDf.loc[index, "OneThirdDteResult"] = np.nan
    
    except KeyError:
        print(f"KeyError in row:{index}")
        ExpMvDf.loc[index, "OneThirdDteResult"] = np.nan
            
    except ValueError:
        print(f"ValueError in row:{index}")
        ExpMvDf.loc[index, "OneThirdDteResult"] = np.nan

    except IndexError:
        print(f"IndexError in row:{index}")
        ExpMvDf.loc[index, "OneThirdDteResult"] = np.nan

-----------------------
Loop No. : 0
Date : 2013-01-01 15:30:00
Dte : 58.0
OneThirdDays : 20
OneThirdDte: 2013-02-08 15:30:00
DteLL: 5626.052088289519
DteUL: 6275.5479117104815
StartDate: 2013-01-01 15:30:00
EndDate: 2013-02-08 15:30:00
No. of Days in range: 29
No. of rows with in LL and UL: 29
No. of rows with in LL: 29
No. of rows with in UL: 29
OneThirdDteResult: Pass
-----------------------
Loop No. : 1
Date : 2013-01-02 15:30:00
Dte : 57.0
OneThirdDays : 20
OneThirdDte: 2013-02-08 15:30:00
DteLL: 5668.496312110375
DteUL: 6317.903687889625
StartDate: 2013-01-02 15:30:00
EndDate: 2013-02-08 15:30:00
No. of Days in range: 28
No. of rows with in LL and UL: 28
No. of rows with in LL: 28
No. of rows with in UL: 28
OneThirdDteResult: Pass
-----------------------
Loop No. : 2
Date : 2013-01-03 15:30:00
Dte : 56.0
OneThirdDays : 20
OneThirdDte: 2013-02-08 15:30:00
DteLL: 5692.431194491126
DteUL: 6326.568805508874
StartDate: 2013-01-03 15:30:00
EndDate: 2013-02-08 15:30:00
No. of Days in range: 27
No. of rows with in LL and UL: 27
No. of rows with in LL: 27
No. of rows with in UL: 27
OneThirdDteResult: Pass
-----------------------
Loop No. : 3
Date : 2013-01-04 15:30:00
Dte : 55.0
OneThirdDays : 19
OneThirdDte: 2013-02-08 15:30:00
DteLL: 5703.865156316779
DteUL: 6328.334843683222
StartDate: 2013-01-04 15:30:00
EndDate: 2013-02-08 15:30:00
No. of Days in range: 26
No. of rows with in LL and UL: 26
No. of rows with in LL: 26
No. of rows with in UL: 26
OneThirdDteResult: Pass
-----------------------
Loop No. : 4
Date : 2013-01-07 15:30:00
Dte : 52.0
OneThirdDays : 18
OneThirdDte: 2013-02-08 15:30:00
DteLL: 5673.766271697586
DteUL: 6303.033728302414
StartDate: 2013-01-07 15:30:00
EndDate: 2013-02-08 15:30:00
No. of Days in range: 25
No. of rows with in LL and UL: 25
No. of rows with in LL: 25
No. of rows with in UL: 25
OneThirdDteResult: Pass
-----------------------
Loop No. : 5
Date : 2013-01-08 15:30:00
Dte : 51.0
OneThirdDays : 18
OneThirdDte: 2013-02-08 15:30:00
DteLL: 5703.9965540080575
DteUL: 6299.403445991942
StartDate: 2013-01-08 15:30:00
EndDate: 2013-02-08 15:30:00
No. of Days in range: 24
No. of rows with in LL and UL: 24
No. of rows with in LL: 24
No. of rows with in UL: 24
OneThirdDteResult: Pass
-----------------------
Loop No. : 6
Date : 2013-01-09 15:30:00
Dte : 50.0
OneThirdDays : 18
OneThirdDte: 2013-02-08 15:30:00
DteLL: 5677.107845861313
DteUL: 6265.892154138687
StartDate: 2013-01-09 15:30:00
EndDate: 2013-02-08 15:30:00
No. of Days in range: 23
No. of rows with in LL and UL: 23
No. of rows with in LL: 23
No. of rows with in UL: 23
OneThirdDteResult: Pass
-----------------------
Loop No. : 7
Date : 2013-01-10 15:30:00
Dte : 49.0
OneThirdDays : 17
OneThirdDte: 2013-02-11 15:30:00
DteLL: 5678.40160561609
DteUL: 6258.798394383911
StartDate: 2013-01-10 15:30:00
EndDate: 2013-02-11 15:30:00
No. of Days in range: 23
No. of rows with in LL and UL: 23
No. of rows with in LL: 23
No. of rows with in UL: 23
OneThirdDteResult: Pass
-----------------------
Loop No. : 8
Date : 2013-01-11 15:30:00
Dte : 48.0
OneThirdDays : 17
OneThirdDte: 2013-02-11 15:30:00
DteLL: 5665.773860200616
DteUL: 6236.826139799385
StartDate: 2013-01-11 15:30:00
EndDate: 2013-02-11 15:30:00
No. of Days in range: 22
No. of rows with in LL and UL: 22
No. of rows with in LL: 22
No. of rows with in UL: 22
OneThirdDteResult: Pass
-----------------------
Loop No. : 9
Date : 2013-01-14 15:30:00
Dte : 45.0
OneThirdDays : 16
OneThirdDte: 2013-02-12 15:30:00
DteLL: 5734.222037138399
DteUL: 6313.777962861601
StartDate: 2013-01-14 15:30:00
EndDate: 2013-02-12 15:30:00
No. of Days in range: 22
No. of rows with in LL and UL: 22
No. of rows with in LL: 22
No. of rows with in UL: 22
OneThirdDteResult: Pass
-----------------------
Loop No. : 10
Date : 2013-01-15 15:30:00
Dte : 44.0
OneThirdDays : 15
OneThirdDte: 2013-02-13 15:30:00
DteLL: 5771.032638972761
DteUL: 6342.16736102724
StartDate: 2013-01-15 15:30:00
EndDate: 2013-02-13 15:30:00
No. of Days in range: 22
No. of rows with in LL and UL: 22
No. of rows with in LL: 22
No. of rows with in UL: 22
OneThirdDteResult: Pass
-----------------------
Loop No. : 11
Date : 2013-01-16 15:30:00
Dte : 43.0
OneThirdDays : 15
OneThirdDte: 2013-02-13 15:30:00
DteLL: 5713.604610183649
DteUL: 6289.995389816351
StartDate: 2013-01-16 15:30:00
EndDate: 2013-02-13 15:30:00
No. of Days in range: 21
No. of rows with in LL and UL: 21
No. of rows with in LL: 21
No. of rows with in UL: 21
OneThirdDteResult: Pass
-----------------------
Loop No. : 12
Date : 2013-01-17 15:30:00
Dte : 42.0
OneThirdDays : 15
OneThirdDte: 2013-02-13 15:30:00
DteLL: 5752.190838016747
DteUL: 6326.209161983253
StartDate: 2013-01-17 15:30:00
EndDate: 2013-02-13 15:30:00
No. of Days in range: 20
No. of rows with in LL and UL: 20
No. of rows with in LL: 20
No. of rows with in UL: 20
OneThirdDteResult: Pass
-----------------------
Loop No. : 13
Date : 2013-01-18 15:30:00
Dte : 41.0
OneThirdDays : 14
OneThirdDte: 2013-02-14 15:30:00
DteLL: 5782.083942238284
DteUL: 6346.716057761715
StartDate: 2013-01-18 15:30:00
EndDate: 2013-02-14 15:30:00
No. of Days in range: 20
No. of rows with in LL and UL: 20
No. of rows with in LL: 20
No. of rows with in UL: 20
OneThirdDteResult: Pass
-----------------------
Loop No. : 14
Date : 2013-01-21 15:30:00
Dte : 38.0
OneThirdDays : 13
OneThirdDte: 2013-02-15 15:30:00
DteLL: 5814.220316147116
DteUL: 6350.379683852884
StartDate: 2013-01-21 15:30:00
EndDate: 2013-02-15 15:30:00
No. of Days in range: 20
No. of rows with in LL and UL: 20
No. of rows with in LL: 20
No. of rows with in UL: 20
OneThirdDteResult: Pass
-----------------------
Loop No. : 15
Date : 2013-01-22 15:30:00
Dte : 37.0
OneThirdDays : 13
OneThirdDte: 2013-02-15 15:30:00
DteLL: 5781.011964907662
DteUL: 6315.988035092338
StartDate: 2013-01-22 15:30:00
EndDate: 2013-02-15 15:30:00
No. of Days in range: 19
No. of rows with in LL and UL: 19
No. of rows with in LL: 19
No. of rows with in UL: 19
OneThirdDteResult: Pass
-----------------------
Loop No. : 16
Date : 2013-01-23 15:30:00
Dte : 36.0
OneThirdDays : 13
OneThirdDte: 2013-02-15 15:30:00
DteLL: 5794.3814534187995
DteUL: 6314.218546581201
StartDate: 2013-01-23 15:30:00
EndDate: 2013-02-15 15:30:00
No. of Days in range: 18
No. of rows with in LL and UL: 18
No. of rows with in LL: 18
No. of rows with in UL: 18
OneThirdDteResult: Pass
-----------------------
Loop No. : 17
Date : 2013-01-24 15:30:00
Dte : 35.0
OneThirdDays : 12
OneThirdDte: 2013-02-15 15:30:00
DteLL: 5749.77325165493
DteUL: 6288.82674834507
StartDate: 2013-01-24 15:30:00
EndDate: 2013-02-15 15:30:00
No. of Days in range: 17
No. of rows with in LL and UL: 17
No. of rows with in LL: 17
No. of rows with in UL: 17
OneThirdDteResult: Pass
-----------------------
Loop No. : 18
Date : 2013-01-25 15:30:00
Dte : 34.0
OneThirdDays : 12
OneThirdDte: 2013-02-15 15:30:00
DteLL: 5800.763580634585
DteUL: 6348.4364193654155
StartDate: 2013-01-25 15:30:00
EndDate: 2013-02-15 15:30:00
No. of Days in range: 16
No. of rows with in LL and UL: 16
No. of rows with in LL: 16
No. of rows with in UL: 16
OneThirdDteResult: Pass
-----------------------
Loop No. : 19
Date : 2013-01-28 15:30:00
Dte : 31.0
OneThirdDays : 11
OneThirdDte: 2013-02-15 15:30:00
DteLL: 5806.233413214515
DteUL: 6343.366586785485
StartDate: 2013-01-28 15:30:00
EndDate: 2013-02-15 15:30:00
No. of Days in range: 15
No. of rows with in LL and UL: 15
No. of rows with in LL: 15
No. of rows with in UL: 15
OneThirdDteResult: Pass
-----------------------
Loop No. : 20
Date : 2013-01-29 15:30:00
Dte : 30.0
OneThirdDays : 10
OneThirdDte: 2013-02-18 15:30:00
DteLL: 5798.924734448179
DteUL: 6300.87526555182
StartDate: 2013-01-29 15:30:00
EndDate: 2013-02-18 15:30:00
No. of Days in range: 15
No. of rows with in LL and UL: 15
No. of rows with in LL: 15
No. of rows with in UL: 15
OneThirdDteResult: Pass
-----------------------
Loop No. : 21
Date : 2013-01-30 15:30:00
Dte : 29.0
OneThirdDays : 10
OneThirdDte: 2013-02-18 15:30:00
DteLL: 5810.242783603935
DteUL: 6301.1572163960645
StartDate: 2013-01-30 15:30:00
EndDate: 2013-02-18 15:30:00
No. of Days in range: 14
No. of rows with in LL and UL: 14
No. of rows with in LL: 14
No. of rows with in UL: 14
OneThirdDteResult: Pass
-----------------------
Loop No. : 22
Date : 2013-01-31 15:30:00
Dte : 56.0
OneThirdDays : 20
OneThirdDte: 2013-03-08 15:30:00
DteLL: 5700.700798733604
DteUL: 6368.699201266396
StartDate: 2013-01-31 15:30:00
EndDate: 2013-03-08 15:30:00
No. of Days in range: 27
No. of rows with in LL and UL: 25
No. of rows with in LL: 25
No. of rows with in UL: 27
OneThirdDteResult: LLBreach
-----------------------
Loop No. : 23
Date : 2013-02-01 15:30:00
Dte : 55.0
OneThirdDays : 19
OneThirdDte: 2013-03-08 15:30:00
DteLL: 5678.476050737392
DteUL: 6319.323949262607
StartDate: 2013-02-01 15:30:00
EndDate: 2013-03-08 15:30:00
No. of Days in range: 26
No. of rows with in LL and UL: 26
No. of rows with in LL: 26
No. of rows with in UL: 26
OneThirdDteResult: Pass
-----------------------
Loop No. : 24
Date : 2013-02-04 15:30:00
Dte : 52.0
OneThirdDays : 18
OneThirdDte: 2013-03-08 15:30:00
DteLL: 5663.137963623321
DteUL: 6311.262036376678
StartDate: 2013-02-04 15:30:00
EndDate: 2013-03-08 15:30:00
No. of Days in range: 25
No. of rows with in LL and UL: 25
No. of rows with in LL: 25
No. of rows with in UL: 25
OneThirdDteResult: Pass
-----------------------
Loop No. : 25
Date : 2013-02-05 15:30:00
Dte : 51.0
OneThirdDays : 18
OneThirdDte: 2013-03-08 15:30:00
DteLL: 5631.581185281307
DteUL: 6282.218814718693
StartDate: 2013-02-05 15:30:00
EndDate: 2013-03-08 15:30:00
No. of Days in range: 24
No. of rows with in LL and UL: 24
No. of rows with in LL: 24
No. of rows with in UL: 24
OneThirdDteResult: Pass
-----------------------
Loop No. : 26
Date : 2013-02-06 15:30:00
Dte : 50.0
OneThirdDays : 18
OneThirdDte: 2013-03-08 15:30:00
DteLL: 5644.681600695258
DteUL: 6273.718399304742
StartDate: 2013-02-06 15:30:00
EndDate: 2013-03-08 15:30:00
No. of Days in range: 23
No. of rows with in LL and UL: 23
No. of rows with in LL: 23
No. of rows with in UL: 23
OneThirdDteResult: Pass
-----------------------
Loop No. : 27
Date : 2013-02-07 15:30:00
Dte : 49.0
OneThirdDays : 17
OneThirdDte: 2013-03-11 15:30:00
DteLL: 5614.800003588169
DteUL: 6262.799996411832
StartDate: 2013-02-07 15:30:00
EndDate: 2013-03-11 15:30:00
No. of Days in range: 23
No. of rows with in LL and UL: 23
No. of rows with in LL: 23
No. of rows with in UL: 23
OneThirdDteResult: Pass
-----------------------
Loop No. : 28
Date : 2013-02-08 15:30:00
Dte : 48.0
OneThirdDays : 17
OneThirdDte: 2013-03-11 15:30:00
DteLL: 5578.948997217972
DteUL: 6228.051002782028
StartDate: 2013-02-08 15:30:00
EndDate: 2013-03-11 15:30:00
No. of Days in range: 22
No. of rows with in LL and UL: 22
No. of rows with in LL: 22
No. of rows with in UL: 22
OneThirdDteResult: Pass
-----------------------
Loop No. : 29
Date : 2013-02-11 15:30:00
Dte : 45.0
OneThirdDays : 16
OneThirdDte: 2013-03-12 15:30:00
DteLL: 5573.711062010298
DteUL: 6221.888937989703
StartDate: 2013-02-11 15:30:00
EndDate: 2013-03-12 15:30:00
No. of Days in range: 22
No. of rows with in LL and UL: 22
No. of rows with in LL: 22
No. of rows with in UL: 22
OneThirdDteResult: Pass
-----------------------
Loop No. : 30
Date : 2013-02-12 15:30:00
Dte : 44.0
OneThirdDays : 15
OneThirdDte: 2013-03-13 15:30:00
DteLL: 5607.681557424649
DteUL: 6237.318442575351
StartDate: 2013-02-12 15:30:00
EndDate: 2013-03-13 15:30:00
No. of Days in range: 22
No. of rows with in LL and UL: 22
No. of rows with in LL: 22
No. of rows with in UL: 22
OneThirdDteResult: Pass
-----------------------
Loop No. : 31
Date : 2013-02-13 15:30:00
Dte : 43.0
OneThirdDays : 15
OneThirdDte: 2013-03-13 15:30:00
DteLL: 5624.594907020207
DteUL: 6241.205092979792
StartDate: 2013-02-13 15:30:00
EndDate: 2013-03-13 15:30:00
No. of Days in range: 21
No. of rows with in LL and UL: 21
No. of rows with in LL: 21
No. of rows with in UL: 21
OneThirdDteResult: Pass
-----------------------
Loop No. : 32
Date : 2013-02-14 15:30:00
Dte : 42.0
OneThirdDays : 15
OneThirdDte: 2013-03-13 15:30:00
DteLL: 5595.049975253959
DteUL: 6198.75002474604
StartDate: 2013-02-14 15:30:00
EndDate: 2013-03-13 15:30:00
No. of Days in range: 20
No. of rows with in LL and UL: 20
No. of rows with in LL: 20
No. of rows with in UL: 20
OneThirdDteResult: Pass
-----------------------
Loop No. : 33
Date : 2013-02-15 15:30:00
Dte : 41.0
OneThirdDays : 14
OneThirdDte: 2013-03-14 15:30:00
DteLL: 5586.685751329932
DteUL: 6188.114248670067
StartDate: 2013-02-15 15:30:00
EndDate: 2013-03-14 15:30:00
No. of Days in range: 20
No. of rows with in LL and UL: 20
No. of rows with in LL: 20
No. of rows with in UL: 20
OneThirdDteResult: Pass
-----------------------
Loop No. : 34
Date : 2013-02-18 15:30:00
Dte : 38.0
OneThirdDays : 13
OneThirdDte: 2013-03-15 15:30:00
DteLL: 5588.1826888628275
DteUL: 6208.217311137172
StartDate: 2013-02-18 15:30:00
EndDate: 2013-03-15 15:30:00
No. of Days in range: 20
No. of rows with in LL and UL: 20
No. of rows with in LL: 20
No. of rows with in UL: 20
OneThirdDteResult: Pass
-----------------------
Loop No. : 35
Date : 2013-02-19 15:30:00
Dte : 37.0
OneThirdDays : 13
OneThirdDte: 2013-03-15 15:30:00
DteLL: 5640.714029526981
DteUL: 6238.685970473019
StartDate: 2013-02-19 15:30:00
EndDate: 2013-03-15 15:30:00
No. of Days in range: 19
No. of rows with in LL and UL: 19
No. of rows with in LL: 19
No. of rows with in UL: 19
OneThirdDteResult: Pass
-----------------------
Loop No. : 36
Date : 2013-02-20 15:30:00
Dte : 36.0
OneThirdDays : 13
OneThirdDte: 2013-03-15 15:30:00
DteLL: 5651.83769638514
DteUL: 6234.16230361486
StartDate: 2013-02-20 15:30:00
EndDate: 2013-03-15 15:30:00
No. of Days in range: 18
No. of rows with in LL and UL: 18
No. of rows with in LL: 18
No. of rows with in UL: 18
OneThirdDteResult: Pass
-----------------------
Loop No. : 37
Date : 2013-02-21 15:30:00
Dte : 35.0
OneThirdDays : 12
OneThirdDte: 2013-03-15 15:30:00
DteLL: 5545.212879144867
DteUL: 6159.187120855133
StartDate: 2013-02-21 15:30:00
EndDate: 2013-03-15 15:30:00
No. of Days in range: 17
No. of rows with in LL and UL: 17
No. of rows with in LL: 17
No. of rows with in UL: 17
OneThirdDteResult: Pass
-----------------------
Loop No. : 38
Date : 2013-02-22 15:30:00
Dte : 34.0
OneThirdDays : 12
OneThirdDte: 2013-03-15 15:30:00
DteLL: 5550.506743651736
DteUL: 6150.093256348265
StartDate: 2013-02-22 15:30:00
EndDate: 2013-03-15 15:30:00
No. of Days in range: 16
No. of rows with in LL and UL: 16
No. of rows with in LL: 16
No. of rows with in UL: 16
OneThirdDteResult: Pass
-----------------------
Loop No. : 39
Date : 2013-02-25 15:30:00
Dte : 31.0
OneThirdDays : 11
OneThirdDte: 2013-03-15 15:30:00
DteLL: 5569.246743421418
DteUL: 6140.153256578582
StartDate: 2013-02-25 15:30:00
EndDate: 2013-03-15 15:30:00
No. of Days in range: 15
No. of rows with in LL and UL: 15
No. of rows with in LL: 15
No. of rows with in UL: 15
OneThirdDteResult: Pass
-----------------------
Loop No. : 40
Date : 2013-02-26 15:30:00
Dte : 30.0
OneThirdDays : 10
OneThirdDte: 2013-03-18 15:30:00
DteLL: 5474.562558244145
DteUL: 6048.037441755855
StartDate: 2013-02-26 15:30:00
EndDate: 2013-03-18 15:30:00
No. of Days in range: 15
No. of rows with in LL and UL: 15
No. of rows with in LL: 15
No. of rows with in UL: 15
OneThirdDteResult: Pass
-----------------------
Loop No. : 41
Date : 2013-02-27 15:30:00
Dte : 29.0
OneThirdDays : 10
OneThirdDte: 2013-03-18 15:30:00
DteLL: 5531.704045245678
DteUL: 6062.095954754322
StartDate: 2013-02-27 15:30:00
EndDate: 2013-03-18 15:30:00
No. of Days in range: 14
No. of rows with in LL and UL: 14
No. of rows with in LL: 14
No. of rows with in UL: 14
OneThirdDteResult: Pass
-----------------------
Loop No. : 42
Date : 2013-02-28 15:30:00
Dte : 56.0
OneThirdDays : 20
OneThirdDte: 2013-04-05 15:30:00
DteLL: 5361.634282936407
DteUL: 6024.365717063593
StartDate: 2013-02-28 15:30:00
EndDate: 2013-04-05 15:30:00
No. of Days in range: 25
No. of rows with in LL and UL: 25
No. of rows with in LL: 25
No. of rows with in UL: 25
OneThirdDteResult: Pass
-----------------------
Loop No. : 43
Date : 2013-03-01 15:30:00
Dte : 55.0
OneThirdDays : 19
OneThirdDte: 2013-04-05 15:30:00
DteLL: 5407.528332867342
DteUL: 6031.871667132657
StartDate: 2013-03-01 15:30:00
EndDate: 2013-04-05 15:30:00
No. of Days in range: 24
No. of rows with in LL and UL: 24
No. of rows with in LL: 24
No. of rows with in UL: 24
OneThirdDteResult: Pass
-----------------------
Loop No. : 44
Date : 2013-03-04 15:30:00
Dte : 52.0
OneThirdDays : 18
OneThirdDte: 2013-04-05 15:30:00
DteLL: 5404.474967420287
DteUL: 5992.525032579713
StartDate: 2013-03-04 15:30:00
EndDate: 2013-04-05 15:30:00
No. of Days in range: 23
No. of rows with in LL and UL: 23
No. of rows with in LL: 23
No. of rows with in UL: 23
OneThirdDteResult: Pass
-----------------------
Loop No. : 45
Date : 2013-03-05 15:30:00
Dte : 51.0
OneThirdDays : 18
OneThirdDte: 2013-04-05 15:30:00
DteLL: 5494.690690207665
DteUL: 6073.709309792334
StartDate: 2013-03-05 15:30:00
EndDate: 2013-04-05 15:30:00
No. of Days in range: 22
No. of rows with in LL and UL: 22
No. of rows with in LL: 22
No. of rows with in UL: 22
OneThirdDteResult: Pass
-----------------------
Loop No. : 46
Date : 2013-03-06 15:30:00
Dte : 50.0
OneThirdDays : 18
OneThirdDte: 2013-04-05 15:30:00
DteLL: 5530.022895890663
DteUL: 6107.177104109338
StartDate: 2013-03-06 15:30:00
EndDate: 2013-04-05 15:30:00
No. of Days in range: 21
No. of rows with in LL and UL: 21
No. of rows with in LL: 21
No. of rows with in UL: 21
OneThirdDteResult: Pass
-----------------------
Loop No. : 47
Date : 2013-03-07 15:30:00
Dte : 49.0
OneThirdDays : 17
OneThirdDte: 2013-04-08 15:30:00
DteLL: 5582.51796900778
DteUL: 6144.08203099222
StartDate: 2013-03-07 15:30:00
EndDate: 2013-04-08 15:30:00
No. of Days in range: 21
No. of rows with in LL and UL: 18
No. of rows with in LL: 18
No. of rows with in UL: 21
OneThirdDteResult: LLBreach
-----------------------
Loop No. : 48
Date : 2013-03-08 15:30:00
Dte : 48.0
OneThirdDays : 17
OneThirdDte: 2013-04-08 15:30:00
DteLL: 5658.070776769691
DteUL: 6233.329223230308
StartDate: 2013-03-08 15:30:00
EndDate: 2013-04-08 15:30:00
No. of Days in range: 20
No. of rows with in LL and UL: 14
No. of rows with in LL: 14
No. of rows with in UL: 20
OneThirdDteResult: LLBreach
-----------------------
Loop No. : 49
Date : 2013-03-11 15:30:00
Dte : 45.0
OneThirdDays : 16
OneThirdDte: 2013-04-09 15:30:00
DteLL: 5644.976482159525
DteUL: 6239.623517840475
StartDate: 2013-03-11 15:30:00
EndDate: 2013-04-09 15:30:00
No. of Days in range: 20
No. of rows with in LL and UL: 14
No. of rows with in LL: 14
No. of rows with in UL: 20
OneThirdDteResult: LLBreach
-----------------------
Loop No. : 50
Date : 2013-03-12 15:30:00
Dte : 44.0
OneThirdDays : 15
OneThirdDte: 2013-04-10 15:30:00
DteLL: 5603.424148256327
DteUL: 6224.775851743674
StartDate: 2013-03-12 15:30:00
EndDate: 2013-04-10 15:30:00
No. of Days in range: 20
No. of rows with in LL and UL: 15
No. of rows with in LL: 15
No. of rows with in UL: 20
OneThirdDteResult: LLBreach
-----------------------
Loop No. : 51
Date : 2013-03-13 15:30:00
Dte : 43.0
OneThirdDays : 15
OneThirdDte: 2013-04-10 15:30:00
DteLL: 5525.852290859399
DteUL: 6176.547709140601
StartDate: 2013-03-13 15:30:00
EndDate: 2013-04-10 15:30:00
No. of Days in range: 19
No. of rows with in LL and UL: 18
No. of rows with in LL: 18
No. of rows with in UL: 19
OneThirdDteResult: LLBreach
-----------------------
Loop No. : 52
Date : 2013-03-14 15:30:00
Dte : 42.0
OneThirdDays : 15
OneThirdDte: 2013-04-10 15:30:00
DteLL: 5615.054649367411
DteUL: 6202.745350632588
StartDate: 2013-03-14 15:30:00
EndDate: 2013-04-10 15:30:00
No. of Days in range: 18
No. of rows with in LL and UL: 13
No. of rows with in LL: 13
No. of rows with in UL: 18
OneThirdDteResult: LLBreach
-----------------------
Loop No. : 53
Date : 2013-03-15 15:30:00
Dte : 41.0
OneThirdDays : 14
OneThirdDte: 2013-04-11 15:30:00
DteLL: 5574.216284028966

In [ ]:
# for index, row in ExpMvDf.iterrows():
#     try:
#         print("-----------------------")
#         print("Loop No:", index)
#         print("Date:", row["Date"])

#         if row["Date"] + timedelta(days=21) in ExpMvDf["Date"].values:
#             print("Approx21Dte:", row["Date"] + timedelta(days=21))
#             ExpMvDf.loc[index, "Approx21Dte"] = row["Date"] + timedelta(days=21)
#             Approx21Dte = row["Date"] + timedelta(days=21)

#         elif row["Date"] + timedelta(days=20) in ExpMvDf["Date"].values:
#             print("Approx21Dte:", row["Date"] + timedelta(days=20))
#             ExpMvDf.loc[index, "Approx21Dte"] = row["Date"] + timedelta(days=20)
#             Approx21Dte = row["Date"] + timedelta(days=20)

#         elif row["Date"] + timedelta(days=19) in ExpMvDf["Date"].values:
#             print("Approx21Dte:", row["Date"] + timedelta(days=19))
#             ExpMvDf.loc[index, "Approx21Dte"] = row["Date"] + timedelta(days=19)
#             Approx21Dte = row["Date"] + timedelta(days=19)

#         elif row["Date"] + timedelta(days=18) in ExpMvDf["Date"].values:
#             print("Approx21Dte:", row["Date"] + timedelta(days=18))
#             ExpMvDf.loc[index, "Approx21Dte"] = row["Date"] + timedelta(days=18)
#             Approx21Dte = row["Date"] + timedelta(days=18)

#         elif row["Date"] + timedelta(days=17) in ExpMvDf["Date"].values:
#             print("Approx21Dte:", row["Date"] + timedelta(days=17))
#             ExpMvDf.loc[index, "Approx21Dte"] = row["Date"] + timedelta(days=17)
#             Approx21Dte = row["Date"] + timedelta(days=17)

#         elif row["Date"] + timedelta(days=16) in ExpMvDf["Date"].values:
#             print("Approx21Dte:", row["Date"] + timedelta(days=16))
#             ExpMvDf.loc[index, "Approx21Dte"] = row["Date"] + timedelta(days=16)
#             Approx21Dte = row["Date"] + timedelta(days=16)

#         elif row["Date"] + timedelta(days=15) in ExpMvDf["Date"].values:
#             print("Approx21Dte:", row["Date"] + timedelta(days=15))
#             ExpMvDf.loc[index, "Approx21Dte"] = row["Date"] + timedelta(days=15)
#             Approx21Dte = row["Date"] + timedelta(days=15)

#         # Set the lower and upper limits
#         lower_limit = ExpMvDf["45DteLL"][index]
#         print("Lower Limit:", lower_limit)
#         upper_limit = ExpMvDf["45DteUL"][index]
#         print("Upper Limit:", upper_limit)

#         # Set the start and end dates
#         start_date = ExpMvDf["Date"][index]
#         print("Start Date:", start_date)
#         end_date = ExpMvDf.loc[ExpMvDf["Date"] == Approx21Dte, "Date"].values[0]
#         print("End Date:", end_date)

#         DateMask = (ExpMvDf["Date"] >= start_date) & (ExpMvDf["Date"] <= end_date)
#         LLMask = DateMask & (ExpMvDf["Close"] >= lower_limit)
#         ULMask = DateMask & (ExpMvDf["Close"] <= upper_limit)
#         Mask = (
#             DateMask
#             & (ExpMvDf["Close"] >= lower_limit)
#             & (ExpMvDf["Close"] <= upper_limit)
#         )

#         NoOfRowsMaskTrue = Mask.sum()
#         print("No. of rows with in LL and UL:", NoOfRowsMaskTrue)
#         NoOfRowsLLMaskTrue = LLMask.sum()
#         print("No. of rows with in LL:", NoOfRowsLLMaskTrue)
#         NoOfRowsULMaskTrue = ULMask.sum()
#         print("No. of rows with in UL:", NoOfRowsULMaskTrue)
#         NoOfDaysInRange = ExpMvDf.loc[DateMask, "Date"].shape[0]
#         print("No. of Days in range:", NoOfDaysInRange)

#         if NoOfRowsMaskTrue == NoOfDaysInRange:
#             print("OneThirdDteResult: Pass")
#             ExpMvDf.loc[index, "OneThirdDteResult"] = "Pass"

#         elif NoOfRowsLLMaskTrue < NoOfDaysInRange:
#             print("OneThirdDteResult: LLBreach")
#             ExpMvDf.loc[index, "OneThirdDteResult"] = "LLBreach"

#         elif NoOfRowsULMaskTrue < NoOfDaysInRange:
#             print("OneThirdDteResult: ULBreach")
#             ExpMvDf.loc[index, "OneThirdDteResult"] = "ULBreach"

#         elif (NoOfRowsLLMaskTrue < NoOfDaysInRange) and (
#             NoOfRowsULMaskTrue < NoOfDaysInRange
#         ):
#             print("OneThirdDteResult: BothBreach")
#             ExpMvDf.loc[index, "OneThirdDteResult"] = "BothBreach"
    
#     except KeyError:
#         print(f"KeyError in row:{index}")
#         ExpMvDf.loc[index, "OneThirdDteResult"] = np.nan
            
#     except ValueError:
#         print(f"ValueError in row:{index}")
#         ExpMvDf.loc[index, "OneThirdDteResult"] = np.nan

#     except IndexError:
#         print(f"IndexError in row:{index}")
#         ExpMvDf.loc[index, "OneThirdDteResult"] = np.nan

In [80]:
print(ExpMvDf["OneThirdDteResult"].value_counts())
print("-----------------------")
print(ExpMvDf["OneThirdDteResult"].value_counts(normalize=True))

OneThirdDteResult
Pass        2024
ULBreach     371
LLBreach     282
Name: count, dtype: int64
-----------------------
OneThirdDteResult
Pass        0.756070
ULBreach    0.138588
LLBreach    0.105342
Name: proportion, dtype: float64

In [83]:
print((ExpMvDf["OneThirdDte"] - ExpMvDf["Date"]).dt.days.min())
print((ExpMvDf["OneThirdDte"] - ExpMvDf["Date"]).dt.days.max())

16.0
41.0

In [85]:
ExpMvDf[0:50]

,Date,Open,High,Low,Close,DayOfWeek,IndiaVix,TargetExpiry,Dte,DteExpMv,DteLL,DteUL,0DteResult,OneThirdDte,OneThirdDteResult
0,2013-01-01 15:30:00,5937.65,5963.90,5935.20,5950.8,Tuesday,13.69,2013-02-28 15:30:00,58.0,324.747912,5626.052088,6275.547912,Pass,2013-02-08 15:30:00,Pass
1,2013-01-02 15:30:00,5982.60,6006.05,5982.00,5993.2,Wednesday,13.71,2013-02-28 15:30:00,57.0,324.703688,5668.496312,6317.903688,Pass,2013-02-08 15:30:00,Pass
2,2013-01-03 15:30:00,6015.80,6017.00,5986.55,6009.5,Thursday,13.47,2013-02-28 15:30:00,56.0,317.068806,5692.431194,6326.568806,Pass,2013-02-08 15:30:00,Pass
3,2013-01-04 15:30:00,6011.95,6020.75,5981.55,6016.1,Friday,13.37,2013-02-28 15:30:00,55.0,312.234844,5703.865156,6328.334844,LLBreach,2013-02-08 15:30:00,Pass
4,2013-01-07 15:30:00,6042.15,6042.15,5977.15,5988.4,Monday,13.92,2013-02-28 15:30:00,52.0,314.633728,5673.766272,6303.033728,Pass,2013-02-08 15:30:00,Pass
5,2013-01-08 15:30:00,5983.45,6007.05,5964.40,6001.7,Tuesday,13.27,2013-02-28 15:30:00,51.0,297.703446,5703.996554,6299.403446,LLBreach,2013-02-08 15:30:00,Pass
6,2013-01-09 15:30:00,6006.20,6020.10,5958.45,5971.5,Wednesday,13.32,2013-02-28 15:30:00,50.0,294.392154,5677.107846,6265.892154,Pass,2013-02-08 15:30:00,Pass
7,2013-01-10 15:30:00,5998.80,6005.15,5947.30,5968.6,Thursday,13.27,2013-02-28 15:30:00,49.0,290.198394,5678.401606,6258.798394,Pass,2013-02-11 15:30:00,Pass
8,2013-01-11 15:30:00,6012.40,6018.85,5940.60,5951.3,Friday,13.23,2013-02-28 15:30:00,48.0,285.52614,5665.77386,6236.82614,Pass,2013-02-11 15:30:00,Pass
9,2013-01-14 15:30:00,5967.20,6036.90,5962.15,6024.0,Monday,13.7,2013-02-28 15:30:00,45.0,289.777963,5734.222037,6313.777963,LLBreach,2013-02-12 15:30:00,Pass
10,2013-01-15 15:30:00,6037.85,6068.50,6018.60,6056.6,Tuesday,13.58,2013-02-28 15:30:00,44.0,285.567361,5771.032639,6342.167361,LLBreach,2013-02-13 15:30:00,Pass
11,2013-01-16 15:30:00,6049.00,6055.95,5992.05,6001.8,Wednesday,13.99,2013-02-28 15:30:00,43.0,288.19539,5713.60461,6289.99539,LLBreach,2013-02-13 15:30:00,Pass
12,2013-01-17 15:30:00,6001.25,6053.20,5988.10,6039.2,Thursday,14.01,2013-02-28 15:30:00,42.0,287.009162,5752.190838,6326.209162,LLBreach,2013-02-13 15:30:00,Pass
13,2013-01-18 15:30:00,6059.85,6083.40,6048.30,6064.4,Friday,13.89,2013-02-28 15:30:00,41.0,282.316058,5782.083942,6346.716058,LLBreach,2013-02-14 15:30:00,Pass
14,2013-01-21 15:30:00,6085.75,6094.35,6065.10,6082.3,Monday,13.66,2013-02-28 15:30:00,38.0,268.079684,5814.220316,6350.379684,LLBreach,2013-02-15 15:30:00,Pass
15,2013-01-22 15:30:00,6080.15,6101.30,6040.50,6048.5,Tuesday,13.89,2013-02-28 15:30:00,37.0,267.488035,5781.011965,6315.988035,LLBreach,2013-02-15 15:30:00,Pass
16,2013-01-23 15:30:00,6052.85,6069.80,6021.15,6054.3,Wednesday,13.67,2013-02-28 15:30:00,36.0,259.918547,5794.381453,6314.218547,LLBreach,2013-02-15 15:30:00,Pass
17,2013-01-24 15:30:00,6046.20,6065.30,6007.85,6019.3,Thursday,14.46,2013-02-28 15:30:00,35.0,269.526748,5749.773252,6288.826748,LLBreach,2013-02-15 15:30:00,Pass
18,2013-01-25 15:30:00,6024.50,6080.55,6014.45,6074.6,Friday,14.77,2013-02-28 15:30:00,34.0,273.836419,5800.763581,6348.436419,LLBreach,2013-02-15 15:30:00,Pass
19,2013-01-28 15:30:00,6082.10,6088.40,6061.40,6074.8,Monday,15.17,2013-02-28 15:30:00,31.0,268.566587,5806.233413,6343.366587,LLBreach,2013-02-15 15:30:00,Pass
20,2013-01-29 15:30:00,6064.70,6111.80,6042.45,6049.9,Tuesday,14.47,2013-02-28 15:30:00,30.0,250.975266,5798.924734,6300.875266,LLBreach,2013-02-18 15:30:00,Pass
21,2013-01-30 15:30:00,6065.00,6071.95,6044.15,6055.7,Wednesday,14.38,2013-02-28 15:30:00,29.0,245.457216,5810.242784,6301.157216,LLBreach,2013-02-18 15:30:00,Pass
22,2013-01-31 15:30:00,6045.65,6058.05,6025.15,6034.7,Thursday,14.13,2013-03-28 15:30:00,56.0,333.999201,5700.700799,6368.699201,LLBreach,2013-03-08 15:30:00,LLBreach
23,2013-02-01 15:30:00,6040.95,6052.95,5983.20,5998.9,Friday,13.76,2013-03-28 15:30:00,55.0,320.423949,5678.476051,6319.323949,LLBreach,2013-03-08 15:30:00,Pass
24,2013-02-04 15:30:00,6025.20,6038.50,5981.25,5987.2,Monday,14.34,2013-03-28 15:30:00,52.0,324.062036,5663.137964,6311.262036,LLBreach,2013-03-08 15:30:00,Pass
25,2013-02-05 15:30:00,5948.20,5970.35,5946.90,5956.9,Tuesday,14.61,2013-03-28 15:30:00,51.0,325.318815,5631.581185,6282.218815,Pass,2013-03-08 15:30:00,Pass
26,2013-02-06 15:30:00,5988.05,5990.90,5953.15,5959.2,Wednesday,14.26,2013-03-28 15:30:00,50.0,314.518399,5644.681601,6273.718399,LLBreach,2013-03-08 15:30:00,Pass
27,2013-02-07 15:30:00,5936.45,5978.50,5927.60,5938.8,Thursday,14.89,2013-03-28 15:30:00,49.0,323.999996,5614.800004,6262.799996,Pass,2013-03-11 15:30:00,Pass
28,2013-02-08 15:30:00,5929.10,5953.70,5883.65,5903.5,Friday,15.16,2013-03-28 15:30:00,48.0,324.551003,5578.948997,6228.051003,Pass,2013-03-11 15:30:00,Pass
29,2013-02-11 15:30:00,5920.05,5924.15,5879.10,5897.8,Monday,15.65,2013-03-28 15:30:00,45.0,324.088938,5573.711062,6221.888938,Pass,2013-03-12 15:30:00,Pass
30,2013-02-12 15:30:00,5894.35,5927.65,5886.45,5922.5,Tuesday,15.31,2013-03-28 15:30:00,44.0,314.818443,5607.681557,6237.318443,Pass,2013-03-13 15:30:00,Pass
31,2013-02-13 15:30:00,5943.15,5969.50,5922.95,5932.9,Wednesday,15.14,2013-03-28 15:30:00,43.0,308.305093,5624.594907,6241.205093,Pass,2013-03-13 15:30:00,Pass
32,2013-02-14 15:30:00,5933.20,5940.20,5884.55,5896.9,Thursday,15.09,2013-03-28 15:30:00,42.0,301.850025,5595.049975,6198.750025,Pass,2013-03-13 15:30:00,Pass
33,2013-02-15 15:30:00,5869.95,5899.95,5853.90,5887.4,Friday,15.24,2013-03-28 15:30:00,41.0,300.714249,5586.685751,6188.114249,Pass,2013-03-14 15:30:00,Pass
34,2013-02-18 15:30:00,5888.65,5911.00,5878.45,5898.2,Monday,16.29,2013-03-28 15:30:00,38.0,310.017311,5588.182689,6208.217311,Pass,2013-03-15 15:30:00,Pass
35,2013-02-19 15:30:00,5900.20,5947.55,5883.15,5939.7,Tuesday,15.81,2013-03-28 15:30:00,37.0,298.98597,5640.71403,6238.68597,LLBreach,2013-03-15 15:30:00,Pass
36,2013-02-20 15:30:00,5966.30,5971.00,5937.55,5943.0,Wednesday,15.6,2013-03-28 15:30:00,36.0,291.162304,5651.837696,6234.162304,LLBreach,2013-03-15 15:30:00,Pass
37,2013-02-21 15:30:00,5909.65,5921.15,5844.40,5852.2,Thursday,16.94,2013-03-28 15:30:00,35.0,306.987121,5545.212879,6159.187121,Pass,2013-03-15 15:30:00,Pass
38,2013-02-22 15:30:00,5837.95,5873.80,5835.80,5850.3,Friday,16.79,2013-03-28 15:30:00,34.0,299.793256,5550.506744,6150.093256,Pass,2013-03-15 15:30:00,Pass
39,2013-02-25 15:30:00,5870.55,5878.40,5825.00,5854.7,Monday,16.73,2013-03-28 15:30:00,31.0,285.453257,5569.246743,6140.153257,Pass,2013-03-15 15:30:00,Pass
40,2013-02-26 15:30:00,5838.30,5838.85,5748.60,5761.3,Tuesday,17.36,2013-03-28 15:30:00,30.0,286.737442,5474.562558,6048.037442,Pass,2013-03-18 15:30:00,Pass
41,2013-02-27 15:30:00,5784.90,5818.20,5749.70,5796.9,Wednesday,16.23,2013-03-28 15:30:00,29.0,265.195955,5531.704045,6062.095955,Pass,2013-03-18 15:30:00,Pass
42,2013-02-28 15:30:00,5834.35,5849.90,5671.90,5693.0,Thursday,14.86,2013-04-25 15:30:00,56.0,331.365717,5361.634283,6024.365717,Pass,2013-04-05 15:30:00,Pass
43,2013-03-01 15:30:00,5702.45,5739.45,5679.90,5719.7,Friday,14.06,2013-04-25 15:30:00,55.0,312.171667,5407.528333,6031.871667,Pass,2013-04-05 15:30:00,Pass
44,2013-03-04 15:30:00,5704.70,5712.00,5663.60,5698.5,Monday,13.67,2013-04-25 15:30:00,52.0,294.025033,5404.474967,5992.525033,Pass,2013-04-05 15:30:00,Pass
45,2013-03-05 15:30:00,5722.45,5790.10,5722.40,5784.2,Tuesday,13.39,2013-04-25 15:30:00,51.0,289.50931,5494.69069,6073.70931,Pass,2013-04-05 15:30:00,Pass
46,2013-03-06 15:30:00,5816.40,5828.70,5795.05,5818.6,Wednesday,13.4,2013-04-25 15:30:00,50.0,288.577104,5530.022896,6107.177104,LLBreach,2013-04-05 15:30:00,Pass
47,2013-03-07 15:30:00,5801.30,5878.00,5801.30,5863.3,Thursday,13.07,2013-04-25 15:30:00,49.0,280.782031,5582.517969,6144.082031,LLBreach,2013-04-08 15:30:00,LLBreach
48,2013-03-08 15:30:00,5883.65,5952.85,5883.00,5945.7,Friday,13.34,2013-04-25 15:30:00,48.0,287.629223,5658.070777,6233.329223,LLBreach,2013-04-08 15:30:00,LLBreach
49,2013-03-11 15:30:00,5946.10,5971.20,5930.35,5942.3,Monday,14.25,2013-04-25 15:30:00,45.0,297.323518,5644.976482,6239.623518,LLBreach,2013-04-09 15:30:00,LLBreach

# Create ExpMvDf30Days

In [ ]:
# Create ExpMvDf30Days as a copy of NiftyDf
ExpMvDf30Days = NiftyDf.copy()

In [ ]:
ExpMvDf30Days["IndiaVix"] = None

In [ ]:
for Date in IndiaVixDf["Date"].values:
    if Date in ExpMvDf30Days["Date"].values:
        print(f"{Date} is in ExpMvDf30Days:", True)
        print("---------------------------")
        ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Date, "IndiaVix"] = IndiaVixDf.loc[
            IndiaVixDf["Date"] == Date, "Close"
        ].values[0]
    else:
        print(f"{Date} is NOT in ExpMvDf30Days:", False)
        print("---------------------------")

In [ ]:
# Show rows that have IndiaVix = NaN
# ExpMvDf30Days[ExpMvDf30Days["IndiaVix"].isnull()]

In [ ]:
# Impute IndiaVix values from Tradingview on the missing dates

ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == "2020-07-15 15:30:00", "IndiaVix"] = 26.2900
ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == "2020-07-16 15:30:00", "IndiaVix"] = 25.3625
ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == "2020-07-17 15:30:00", "IndiaVix"] = 24.1575
ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == "2020-07-20 15:30:00", "IndiaVix"] = 24.7125

In [ ]:
# Drop rows that have IndiaVix = NaN and reset index
ExpMvDf30Days = ExpMvDf30Days[ExpMvDf30Days["IndiaVix"].notnull()]
ExpMvDf30Days = ExpMvDf30Days.reset_index(drop=True)

# Calculating Expected Move of Index
Expected Move = Stock Price x (IV/100) x square root of (DTE/365)

## Tastytrade method
* Target Expiry
* ATM Straddle * 0.6
* 1 OTM Strangle * 0.3
* 2 OTM Strangle * 0.1

In [ ]:
# Create new empty columns named PrevExpDiff, NextExpDiff and Approx45Dte in ExpMvDf30Days
ExpMvDf30Days["Approx30Dte"] = None

In [ ]:
# Loop through every row of ExpMvDf30Days
for index, row in ExpMvDf30Days.iterrows():
    print("-----------------------------------------")
    print("Loop No.:", index)

    Offset22Day = row["Date"] + pd.DateOffset(days=22)
    Offset23Day = row["Date"] + pd.DateOffset(days=23)
    Offset24Day = row["Date"] + pd.DateOffset(days=24)
    Offset25Day = row["Date"] + pd.DateOffset(days=25)
    Offset26Day = row["Date"] + pd.DateOffset(days=26)
    Offset27Day = row["Date"] + pd.DateOffset(days=27)
    Offset28Day = row["Date"] + pd.DateOffset(days=28)
    Offset29Day = row["Date"] + pd.DateOffset(days=29)
    Offset30Day = row["Date"] + pd.DateOffset(days=30)
    Offset31Day = row["Date"] + pd.DateOffset(days=31)
    Offset32Day = row["Date"] + pd.DateOffset(days=32)
    Offset33Day = row["Date"] + pd.DateOffset(days=33)
    Offset34Day = row["Date"] + pd.DateOffset(days=34)
    Offset35Day = row["Date"] + pd.DateOffset(days=35)
    Offset36Day = row["Date"] + pd.DateOffset(days=36)
    Offset37Day = row["Date"] + pd.DateOffset(days=37)
    Offset38Day = row["Date"] + pd.DateOffset(days=38)

    if (
        Offset30Day in ExpMvDf30Days["Date"].values
        and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset30Day, "ExpiryDay"]
        .notnull()
        .any()
    ):
        print("Offset30Day if condition is true")
        ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset30Day

    elif (
        Offset31Day in ExpMvDf30Days["Date"].values
        or Offset29Day in ExpMvDf30Days["Date"].values
    ) and (
        ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset31Day, "ExpiryDay"]
        .notnull()
        .any()
        or ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset29Day, "ExpiryDay"]
        .notnull()
        .any()
    ):
        print("Offset31Day or Offset29Day if condition is true")
        if (
            Offset31Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset31Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset31Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset31Day
        elif (
            Offset29Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset29Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset29Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset29Day

    elif (
        Offset32Day in ExpMvDf30Days["Date"].values
        or Offset28Day in ExpMvDf30Days["Date"].values
    ) and (
        ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset32Day, "ExpiryDay"]
        .notnull()
        .any()
        or ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset28Day, "ExpiryDay"]
        .notnull()
        .any()
    ):
        print("Offset32Day or Offset28Day if condition is true")
        if (
            Offset32Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset32Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset32Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset32Day
        elif (
            Offset28Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset28Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset28Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset28Day

    elif (
        Offset33Day in ExpMvDf30Days["Date"].values
        or Offset27Day in ExpMvDf30Days["Date"].values
    ) and (
        ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset33Day, "ExpiryDay"]
        .notnull()
        .any()
        or ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset27Day, "ExpiryDay"]
        .notnull()
        .any()
    ):
        print("Offset33Day or Offset27Day if condition is true")
        if (
            Offset33Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset33Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset33Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset33Day
        elif (
            Offset27Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset27Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset27Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset27Day

    elif (
        Offset34Day in ExpMvDf30Days["Date"].values
        or Offset26Day in ExpMvDf30Days["Date"].values
    ) and (
        ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset34Day, "ExpiryDay"]
        .notnull()
        .any()
        or ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset26Day, "ExpiryDay"]
        .notnull()
        .any()
    ):
        print("Offset34Day or Offset26Day if condition is true")
        if (
            Offset34Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset34Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset34Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset34Day
        elif (
            Offset26Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset26Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset26Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset26Day

    elif (
        Offset35Day in ExpMvDf30Days["Date"].values
        or Offset25Day in ExpMvDf30Days["Date"].values
    ) and (
        ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset35Day, "ExpiryDay"]
        .notnull()
        .any()
        or ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset25Day, "ExpiryDay"]
        .notnull()
        .any()
    ):
        print("Offset35Day or Offset25Day if condition is true")
        if (
            Offset35Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset35Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset35Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset35Day
        elif (
            Offset25Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset25Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset25Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset25Day

    elif (
        Offset36Day in ExpMvDf30Days["Date"].values
        or Offset24Day in ExpMvDf30Days["Date"].values
    ) and (
        ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset36Day, "ExpiryDay"]
        .notnull()
        .any()
        or ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset24Day, "ExpiryDay"]
        .notnull()
        .any()
    ):
        print("Offset36Day or Offset24Day if condition is true")
        if (
            Offset36Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset36Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset36Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset36Day
        elif (
            Offset24Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset24Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset24Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset24Day

    elif (
        Offset37Day in ExpMvDf30Days["Date"].values
        or Offset23Day in ExpMvDf30Days["Date"].values
    ) and (
        ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset37Day, "ExpiryDay"]
        .notnull()
        .any()
        or ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset23Day, "ExpiryDay"]
        .notnull()
        .any()
    ):
        print("Offset37Day or Offset23Day if condition is true")
        if (
            Offset37Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset37Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset37Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset37Day
        elif (
            Offset23Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset23Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset23Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset23Day

    elif (
        Offset38Day in ExpMvDf30Days["Date"].values
        or Offset22Day in ExpMvDf30Days["Date"].values
    ) and (
        ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset38Day, "ExpiryDay"]
        .notnull()
        .any()
        or ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset22Day, "ExpiryDay"]
        .notnull()
        .any()
    ):
        print("Offset38Day or Offset22Day if condition is true")
        if (
            Offset38Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset38Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset38Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset38Day
        elif (
            Offset22Day in ExpMvDf30Days["Date"].values
            and ExpMvDf30Days.loc[ExpMvDf30Days["Date"] == Offset22Day, "ExpiryDay"]
            .notnull()
            .any()
        ):
            print("Offset22Day if condition is true")
            ExpMvDf30Days.loc[index, "Approx30Dte"] = Offset22Day

In [ ]:
# ExpMvDf30Days.loc[ExpMvDf30Days["DayOfWeek"]=="Friday"]

In [ ]:
for index, row in ExpMvDf30Days.iterrows():
    if row["DayOfWeek"] == "Friday":
        print("-------------------------")
        print(ExpMvDf30Days.loc[index, ["Date", "DayOfWeek", "Approx30Dte"]])
        print("-----")
        print(ExpMvDf30Days.loc[index + 1, ["Date", "DayOfWeek", "Approx30Dte"]])
        ExpMvDf30Days.loc[index, "Approx30Dte"] = ExpMvDf30Days.loc[
            index + 1, "Approx30Dte"
        ]

In [ ]:
# ExpMvDf30Days[0:50]

In [ ]:
# Set Approx30Dte as datetime object
ExpMvDf30Days["Approx30Dte"] = pd.to_datetime(ExpMvDf30Days["Approx30Dte"])

In [ ]:
ExpMvDf30Days["Approx30DteDays"] = (
    ExpMvDf30Days["Approx30Dte"] - ExpMvDf30Days["Date"]
).dt.days

In [ ]:
# ExpMvDf30Days["Close"] * (ExpMvDf30Days["IndiaVix"] / 100) * np.sqrt(45 / 365)

In [ ]:
ExpMvDf30Days["30DteExpMv"] = (
    ExpMvDf30Days["Close"]
    * (ExpMvDf30Days["IndiaVix"] / 100)
    * np.sqrt(ExpMvDf30Days["Approx30DteDays"] / 365)
)

In [ ]:
ExpMvDf30Days["30DteLL"] = ExpMvDf30Days["Close"] - ExpMvDf30Days["30DteExpMv"]
ExpMvDf30Days["30DteUL"] = ExpMvDf30Days["Close"] + ExpMvDf30Days["30DteExpMv"]

In [ ]:
ExpMvDf30Days

# 0DteResult

In [ ]:
for index, row in ExpMvDf30Days.iterrows():
    try:
        print("-----------------------")
        print("Loop No:", index)
        print("Date:", row["Date"])

        # Set the lower and upper limits
        lower_limit = ExpMvDf30Days["30DteLL"][index]
        print("Lower Limit:", lower_limit)
        upper_limit = ExpMvDf30Days["30DteUL"][index]
        print("Upper Limit:", upper_limit)

        # Set the start and end dates
        start_date = ExpMvDf30Days["Date"][index]
        print("Start Date:", start_date)
        end_date = ExpMvDf30Days.loc[
            ExpMvDf30Days["Date"] == ExpMvDf30Days["Approx30Dte"][index], "Date"
        ].values[0]
        print("End Date:", end_date)

        DateMask = (ExpMvDf30Days["Date"] >= start_date) & (
            ExpMvDf30Days["Date"] <= end_date
        )
        LLMask = DateMask & (ExpMvDf30Days["Close"] >= lower_limit)
        ULMask = DateMask & (ExpMvDf30Days["Close"] <= upper_limit)
        Mask = (
            DateMask
            & (ExpMvDf30Days["Close"] >= lower_limit)
            & (ExpMvDf30Days["Close"] <= upper_limit)
        )

        NoOfRowsMaskTrue = Mask.sum()
        print("No. of rows with in LL and UL:", NoOfRowsMaskTrue)
        NoOfRowsLLMaskTrue = LLMask.sum()
        print("No. of rows with in LL:", NoOfRowsLLMaskTrue)
        NoOfRowsULMaskTrue = ULMask.sum()
        print("No. of rows with in UL:", NoOfRowsULMaskTrue)
        NoOfDaysInRange = ExpMvDf30Days.loc[DateMask, "Date"].shape[0]
        print("No. of Days in range:", NoOfDaysInRange)

        if NoOfRowsMaskTrue == NoOfDaysInRange:
            print("0DteResult: Pass")
            ExpMvDf30Days.loc[index, "0DteResult"] = "Pass"

        elif NoOfRowsLLMaskTrue < NoOfDaysInRange:
            print("0DteResult: LLBreach")
            ExpMvDf30Days.loc[index, "0DteResult"] = "LLBreach"

        elif NoOfRowsULMaskTrue < NoOfDaysInRange:
            print("0DteResult: ULBreach")
            ExpMvDf30Days.loc[index, "0DteResult"] = "ULBreach"

        elif (NoOfRowsLLMaskTrue < NoOfDaysInRange) and (
            NoOfRowsULMaskTrue < NoOfDaysInRange
        ):
            print("0DteResult: BothBreach")
            ExpMvDf30Days.loc[index, "0DteResult"] = "BothBreach"
    except IndexError:
        print("-----------------------")
        print("IndexError : Exiting the loop")
        break

In [ ]:
print(ExpMvDf30Days["0DteResult"].value_counts())
print("-----------------------")
print(ExpMvDf30Days["0DteResult"].value_counts(normalize=True))

# 11DteResult

In [ ]:
ExpMvDf30Days.loc[0, "Date"] + timedelta(days=11)

In [ ]:
for index, row in ExpMvDf30Days.iterrows():
    try:
        print("-----------------------")
        print("Loop No:", index)
        print("Date:", row["Date"])

        if row["Date"] + timedelta(days=11) in ExpMvDf30Days["Date"].values:
            print("Approx11Dte:", row["Date"] + timedelta(days=11))
            ExpMvDf30Days.loc[index, "Approx11Dte"] = row["Date"] + timedelta(days=11)
            Approx11Dte = row["Date"] + timedelta(days=11)

        elif row["Date"] + timedelta(days=10) in ExpMvDf30Days["Date"].values:
            print("Approx11Dte:", row["Date"] + timedelta(days=10))
            ExpMvDf30Days.loc[index, "Approx11Dte"] = row["Date"] + timedelta(days=10)
            Approx11Dte = row["Date"] + timedelta(days=10)

        elif row["Date"] + timedelta(days=9) in ExpMvDf30Days["Date"].values:
            print("Approx11Dte:", row["Date"] + timedelta(days=9))
            ExpMvDf30Days.loc[index, "Approx11Dte"] = row["Date"] + timedelta(days=9)
            Approx11Dte = row["Date"] + timedelta(days=9)

        elif row["Date"] + timedelta(days=8) in ExpMvDf30Days["Date"].values:
            print("Approx11Dte:", row["Date"] + timedelta(days=8))
            ExpMvDf30Days.loc[index, "Approx11Dte"] = row["Date"] + timedelta(days=8)
            Approx11Dte = row["Date"] + timedelta(days=8)

        elif row["Date"] + timedelta(days=7) in ExpMvDf30Days["Date"].values:
            print("Approx11Dte:", row["Date"] + timedelta(days=7))
            ExpMvDf30Days.loc[index, "Approx11Dte"] = row["Date"] + timedelta(days=7)
            Approx11Dte = row["Date"] + timedelta(days=7)

        elif row["Date"] + timedelta(days=6) in ExpMvDf30Days["Date"].values:
            print("Approx11Dte:", row["Date"] + timedelta(days=6))
            ExpMvDf30Days.loc[index, "Approx11Dte"] = row["Date"] + timedelta(days=6)
            Approx11Dte = row["Date"] + timedelta(days=6)

        elif row["Date"] + timedelta(days=5) in ExpMvDf30Days["Date"].values:
            print("Approx11Dte:", row["Date"] + timedelta(days=5))
            ExpMvDf30Days.loc[index, "Approx11Dte"] = row["Date"] + timedelta(days=5)
            Approx11Dte = row["Date"] + timedelta(days=5)

        # Set the lower and upper limits
        lower_limit = ExpMvDf30Days["30DteLL"][index]
        print("Lower Limit:", lower_limit)
        upper_limit = ExpMvDf30Days["30DteUL"][index]
        print("Upper Limit:", upper_limit)

        # Set the start and end dates
        start_date = ExpMvDf30Days["Date"][index]
        print("Start Date:", start_date)
        end_date = ExpMvDf30Days.loc[
            ExpMvDf30Days["Date"] == Approx11Dte, "Date"
        ].values[0]
        print("End Date:", end_date)

        DateMask = (ExpMvDf30Days["Date"] >= start_date) & (
            ExpMvDf30Days["Date"] <= end_date
        )
        LLMask = DateMask & (ExpMvDf30Days["Close"] >= lower_limit)
        ULMask = DateMask & (ExpMvDf30Days["Close"] <= upper_limit)
        Mask = (
            DateMask
            & (ExpMvDf30Days["Close"] >= lower_limit)
            & (ExpMvDf30Days["Close"] <= upper_limit)
        )

        NoOfRowsMaskTrue = Mask.sum()
        print("No. of rows with in LL and UL:", NoOfRowsMaskTrue)
        NoOfRowsLLMaskTrue = LLMask.sum()
        print("No. of rows with in LL:", NoOfRowsLLMaskTrue)
        NoOfRowsULMaskTrue = ULMask.sum()
        print("No. of rows with in UL:", NoOfRowsULMaskTrue)
        NoOfDaysInRange = ExpMvDf30Days.loc[DateMask, "Date"].shape[0]
        print("No. of Days in range:", NoOfDaysInRange)

        if NoOfRowsMaskTrue == NoOfDaysInRange:
            print("11DteResult: Pass")
            ExpMvDf30Days.loc[index, "11DteResult"] = "Pass"

        elif NoOfRowsLLMaskTrue < NoOfDaysInRange:
            print("11DteResult: LLBreach")
            ExpMvDf30Days.loc[index, "11DteResult"] = "LLBreach"

        elif NoOfRowsULMaskTrue < NoOfDaysInRange:
            print("11DteResult: ULBreach")
            ExpMvDf30Days.loc[index, "11DteResult"] = "ULBreach"

        elif (NoOfRowsLLMaskTrue < NoOfDaysInRange) and (
            NoOfRowsULMaskTrue < NoOfDaysInRange
        ):
            print("11DteResult: BothBreach")
            ExpMvDf30Days.loc[index, "11DteResult"] = "BothBreach"
    except IndexError:
        print("-----------------------")
        print("IndexError : Exiting the loop")
        break

In [ ]:
print(ExpMvDf30Days["11DteResult"].value_counts())
print("-----------------------")
print(ExpMvDf30Days["11DteResult"].value_counts(normalize=True))

In [ ]:
print((ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days.min())
print((ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days.max())

In [ ]:
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 5,
        "11DteResult",
    ].value_counts()
)
print("-----------------------")
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 5,
        "11DteResult",
    ].value_counts(normalize=True)
)

In [ ]:
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 6,
        "11DteResult",
    ].value_counts()
)
print("-----------------------")
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 6,
        "11DteResult",
    ].value_counts(normalize=True)
)

In [ ]:
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 7,
        "11DteResult",
    ].value_counts()
)
print("-----------------------")
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 7,
        "11DteResult",
    ].value_counts(normalize=True)
)

In [ ]:
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 8,
        "11DteResult",
    ].value_counts()
)
print("-----------------------")
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 8,
        "11DteResult",
    ].value_counts(normalize=True)
)

In [ ]:
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 9,
        "11DteResult",
    ].value_counts()
)
print("-----------------------")
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 9,
        "11DteResult",
    ].value_counts(normalize=True)
)

In [ ]:
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 10,
        "11DteResult",
    ].value_counts()
)
print("-----------------------")
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 10,
        "11DteResult",
    ].value_counts(normalize=True)
)

In [ ]:
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 11,
        "11DteResult",
    ].value_counts()
)
print("-----------------------")
print(
    ExpMvDf30Days.loc[
        (ExpMvDf30Days["Approx11Dte"] - ExpMvDf30Days["Date"]).dt.days == 11,
        "11DteResult",
    ].value_counts(normalize=True)
)

In [ ]:
ExpMvDf30Days

# Continue Work From here

# BacktestingDf

In [ ]:
BacktestingDf = ExpMvDf30Days[
    (ExpMvDf30Days["Date"] >= "2020-01-01") & (ExpMvDf30Days["Date"] <= "2023-12-1")
].copy()
BacktestingDf.reset_index(drop=True, inplace=True)
# BacktestingDf = ExpMvDf30Days.copy()

In [ ]:
BacktestingDf = BacktestingDf.loc[
    :,
    [
        "Date",
        "Close",
        "DayOfWeek",
        "Approx30Dte",
        "Approx30DteDays",
        "30DteLL",
        "30DteUL",
        "0DteResult",
        "Approx11Dte",
        "11DteResult",
    ],
].copy()

In [ ]:
# print(BacktestingDf["Date"][0].strftime("%d-%m-%Y"))
# print(BacktestingDf["Approx30Dte"][0].strftime("%d-%m-%Y"))
# print(BacktestingDf["Date"][0].year)
# print(BacktestingDf["Approx30Dte"][0].strftime("%d-%b-%Y"))
# print(BacktestingDf["30DteLL"][0])
# print(str(round(int(BacktestingDf["30DteLL"][0]), -2)))

In [ ]:
# # StartDate = "01-01-2020"
# # EndDate = "30-01-2020"
# # Year = "2020"
# # ExpiryDate = "30-Jan-2020"
# # StrikePrice = "11800"
# # OptionType = "PE"

# # nsefetch("https://www.nseindia.com/api/historical/foCPV?from=01-01-2019&to=31-01-2019&instrumentType=OPTIDX&symbol=NIFTY&year=2019&expiryDate=31-Jan-2019&optionType=PE&strikePrice=10400")

# StartDate = BacktestingDf["Date"][0].strftime("%d-%m-%Y")
# print("StartDate:", StartDate)
# EndDate = BacktestingDf["Approx30Dte"][0].strftime("%d-%m-%Y")
# print("EndDate:", EndDate)
# Year = BacktestingDf["Date"][0].year
# print("Year:", Year)
# ExpiryDate = BacktestingDf["Approx30Dte"][0].strftime("%d-%b-%Y")
# print("ExpiryDate:", ExpiryDate)
# StrikePrice = str(round(int(BacktestingDf["30DteLL"][0]), -2))
# print("StrikePrice:", StrikePrice)
# OptionType = "PE"

# positionsPE = nsefetch(
#     f"https://www.nseindia.com/api/historical/foCPV?from={StartDate}&to={EndDate}&instrumentType=OPTIDX&symbol=NIFTY&year={Year}&expiryDate={ExpiryDate}&optionType={OptionType}&strikePrice={StrikePrice}"
# )
# # positions = nsefetch("https://www.nseindia.com/api/historical/foCPV?from=01-01-2019&to=31-01-2019&instrumentType=OPTIDX&symbol=NIFTY&year=2019&expiryDate=31-Jan-2019&optionType=PE&strikePrice=10400")
# tempdfPE = pd.DataFrame(positions["data"]).copy()
# # tempdf save tempdf as csv file in the data folder
# tempdfPE.to_csv(
#     f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/{StartDate}-PE-{StrikePrice}-{ExpiryDate}.csv",
#     index=False,
# )
# print(tempdfPE.iloc[0]["FH_TIMESTAMP"])
# print(tempdfPE.iloc[-1]["FH_TIMESTAMP"])
# tempdfPE

In [ ]:
# StartDate = BacktestingDf["Date"][0].strftime("%d-%m-%Y")
# print("StartDate:", StartDate)
# EndDate = BacktestingDf["Approx30Dte"][0].strftime("%d-%m-%Y")
# print("EndDate:", EndDate)
# Year = BacktestingDf["Date"][0].year
# print("Year:", Year)
# ExpiryDate = BacktestingDf["Approx30Dte"][0].strftime("%d-%b-%Y")
# print("ExpiryDate:", ExpiryDate)
# StrikePrice = str(round(int(BacktestingDf["30DteUL"][0]), -2))
# print("StrikePrice:", StrikePrice)
# OptionType = "CE"

# positionsCE = nsefetch(
#     f"https://www.nseindia.com/api/historical/foCPV?from={StartDate}&to={EndDate}&instrumentType=OPTIDX&symbol=NIFTY&year={Year}&expiryDate={ExpiryDate}&optionType={OptionType}&strikePrice={StrikePrice}"
# )
# # positions = nsefetch("https://www.nseindia.com/api/historical/foCPV?from=01-01-2019&to=31-01-2019&instrumentType=OPTIDX&symbol=NIFTY&year=2019&expiryDate=31-Jan-2019&optionType=PE&strikePrice=10400")
# tempdfCE = pd.DataFrame(positions["data"]).copy()
# # tempdf save tempdf as csv file in the data folder
# tempdfCE.to_csv(
#     f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/{StartDate}-PE-{StrikePrice}-{ExpiryDate}.csv",
#     index=False,
# )
# print(tempdfCE.iloc[0]["FH_TIMESTAMP"])
# print(tempdfCE.iloc[-1]["FH_TIMESTAMP"])
# tempdfCE

# Download LlUlOptionContractsData

## Sell Legs

In [ ]:
# for index, row in BacktestingDf.iterrows():
#     try:
#         """
#         PE Contract
#         """

#         print("-------------------------")
#         StartDate = row["Date"].strftime("%d-%m-%Y")
#         print("StartDate:", StartDate)
#         EndDate = row["Approx30Dte"].strftime("%d-%m-%Y")
#         print("EndDate:", EndDate)
#         Year = row["Date"].year
#         print("Year:", Year)
#         ExpiryDate = row["Approx30Dte"].strftime("%d-%b-%Y")
#         print("ExpiryDate:", ExpiryDate)
#         StrikePrice = str(round(int(row["30DteLL"]), -2))
#         print("StrikePrice:", StrikePrice)
#         OptionType = "PE"

#         PositionsPE = nsefetch(
#             f"https://www.nseindia.com/api/historical/foCPV?from={StartDate}&to={EndDate}&instrumentType=OPTIDX&symbol=NIFTY&year={Year}&expiryDate={ExpiryDate}&optionType={OptionType}&strikePrice={StrikePrice}"
#         )
#         TempPEDf = pd.DataFrame(PositionsPE["data"]).copy()
#         TempPEDf.to_csv(
#             f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/SellLegs/{StartDate}-PE-{StrikePrice}-{ExpiryDate}.csv",
#             index=False,
#         )
#         try:
#             print(TempPEDf.iloc[0]["FH_TIMESTAMP"])
#             print(TempPEDf.iloc[-1]["FH_TIMESTAMP"])

#         except KeyError:
#             print(f"KeyError in row:{StartDate}")

#         except IndexError:
#             print(f"IndexError in row:{StartDate}")

#         except ValueError:
#             print(f"ValueError in row:{StartDate}")

#         """
#         CE Contract
#         """

#         print("------")
#         StartDate = row["Date"].strftime("%d-%m-%Y")
#         print("StartDate:", StartDate)
#         EndDate = row["Approx30Dte"].strftime("%d-%m-%Y")
#         print("EndDate:", EndDate)
#         Year = row["Date"].year
#         print("Year:", Year)
#         ExpiryDate = row["Approx30Dte"].strftime("%d-%b-%Y")
#         print("ExpiryDate:", ExpiryDate)
#         StrikePrice = str(round(int(row["30DteUL"]), -2))
#         print("StrikePrice:", StrikePrice)
#         OptionType = "CE"

#         PositionsCE = nsefetch(
#             f"https://www.nseindia.com/api/historical/foCPV?from={StartDate}&to={EndDate}&instrumentType=OPTIDX&symbol=NIFTY&year={Year}&expiryDate={ExpiryDate}&optionType={OptionType}&strikePrice={StrikePrice}"
#         )
#         TempCEDf = pd.DataFrame(PositionsCE["data"]).copy()
#         TempCEDf.to_csv(
#             f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/SellLegs/{StartDate}-CE-{StrikePrice}-{ExpiryDate}.csv",
#             index=False,
#         )
#         try:
#             print(TempCEDf.iloc[0]["FH_TIMESTAMP"])
#             print(TempCEDf.iloc[-1]["FH_TIMESTAMP"])

#         except KeyError:
#             print(f"KeyError in row:{StartDate}")

#         except IndexError:
#             print(f"IndexError in row:{StartDate}")

#         except ValueError:
#             print(f"ValueError in row:{StartDate}")

#     except ValueError:
#         print("-----------------------")
#         print(f"ValueError : Exiting the loop in row:{index}")
#         break

## Buy Legs

In [ ]:
# round(int(BacktestingDf["30DteLL"][0]), -2) - 400

In [ ]:
# for index, row in BacktestingDf.iterrows():
#     try:
#         """
#         PE Contract
#         """

#         print("-------------------------")
#         StartDate = row["Date"].strftime("%d-%m-%Y")
#         print("StartDate:", StartDate)
#         EndDate = row["Approx30Dte"].strftime("%d-%m-%Y")
#         print("EndDate:", EndDate)
#         Year = row["Date"].year
#         print("Year:", Year)
#         ExpiryDate = row["Approx30Dte"].strftime("%d-%b-%Y")
#         print("ExpiryDate:", ExpiryDate)
#         StrikePrice = str(round(int(row["30DteLL"]), -2) - 400)
#         print("StrikePrice:", StrikePrice)
#         OptionType = "PE"

#         PositionsPE = nsefetch(
#             f"https://www.nseindia.com/api/historical/foCPV?from={StartDate}&to={EndDate}&instrumentType=OPTIDX&symbol=NIFTY&year={Year}&expiryDate={ExpiryDate}&optionType={OptionType}&strikePrice={StrikePrice}"
#         )
#         TempPEDf = pd.DataFrame(PositionsPE["data"]).copy()
#         TempPEDf.to_csv(
#             f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/BuyLegs/{StartDate}-PE-{StrikePrice}-{ExpiryDate}.csv",
#             index=False,
#         )
#         try:
#             print(TempPEDf.iloc[0]["FH_TIMESTAMP"])
#             print(TempPEDf.iloc[-1]["FH_TIMESTAMP"])

#         except KeyError:
#             print(f"KeyError in row:{StartDate}")

#         except IndexError:
#             print(f"IndexError in row:{StartDate}")

#         except ValueError:
#             print(f"ValueError in row:{StartDate}")

#         """
#         CE Contract
#         """

#         print("------")
#         StartDate = row["Date"].strftime("%d-%m-%Y")
#         print("StartDate:", StartDate)
#         EndDate = row["Approx30Dte"].strftime("%d-%m-%Y")
#         print("EndDate:", EndDate)
#         Year = row["Date"].year
#         print("Year:", Year)
#         ExpiryDate = row["Approx30Dte"].strftime("%d-%b-%Y")
#         print("ExpiryDate:", ExpiryDate)
#         StrikePrice = str(round(int(row["30DteUL"]), -2) + 400)
#         print("StrikePrice:", StrikePrice)
#         OptionType = "CE"

#         PositionsCE = nsefetch(
#             f"https://www.nseindia.com/api/historical/foCPV?from={StartDate}&to={EndDate}&instrumentType=OPTIDX&symbol=NIFTY&year={Year}&expiryDate={ExpiryDate}&optionType={OptionType}&strikePrice={StrikePrice}"
#         )
#         TempCEDf = pd.DataFrame(PositionsCE["data"]).copy()
#         TempCEDf.to_csv(
#             f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/BuyLegs/{StartDate}-CE-{StrikePrice}-{ExpiryDate}.csv",
#             index=False,
#         )
#         try:
#             print(TempCEDf.iloc[0]["FH_TIMESTAMP"])
#             print(TempCEDf.iloc[-1]["FH_TIMESTAMP"])

#         except KeyError:
#             print(f"KeyError in row:{StartDate}")

#         except IndexError:
#             print(f"IndexError in row:{StartDate}")

#         except ValueError:
#             print(f"ValueError in row:{StartDate}")

#     except ValueError:
#         print("-----------------------")
#         print(f"ValueError : Exiting the loop in row:{index}")
#         break

In [ ]:
tempdf = pd.read_csv(
    "/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/SellLegs/01-01-2020-PE-11800-30-Jan-2020.csv"
).head()

In [ ]:
tempdf.head()

In [ ]:
BacktestingDf[0:50]

# Imputing LTP Values in BacktestingDf

In [ ]:
for index, row in BacktestingDf.iterrows():
    try:
        print("---------------------------")
        print(f"Loop No :{index}")
        print("---------------------------")
        
        """
        PE Sell Contract
        """
        print("------")
        print("PE Sell Contract")
        print("------")
        StartDate = row["Date"].strftime("%d-%m-%Y")
        print("StartDate:", StartDate)
        StartDateCopy = row["Date"].strftime("%d-%b-%Y")
        print("StartDateCopy:", StartDateCopy)        
        EndDate = row["Approx11Dte"].strftime("%d-%b-%Y")
        print("EndDate:", EndDate)
        Year = row["Date"].year
        print("Year:", Year)
        ExpiryDate = row["Approx30Dte"].strftime("%d-%b-%Y")
        print("ExpiryDate:", ExpiryDate)
        StrikePrice = str(round(int(row["30DteLL"]), -2))
        print("StrikePrice:", StrikePrice)
        OptionType = "PE"

        # PositionsPE = nsefetch(
        #     f"https://www.nseindia.com/api/historical/foCPV?from={StartDate}&to={EndDate}&instrumentType=OPTIDX&symbol=NIFTY&year={Year}&expiryDate={ExpiryDate}&optionType={OptionType}&strikePrice={StrikePrice}"
        # )
        TempPEDf = pd.read_csv(
            f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/SellLegs/{StartDate}-PE-{StrikePrice}-{ExpiryDate}.csv")
        # TempPEDf.to_csv(
        #     f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/BuyLegs/{StartDate}-PE-{StrikePrice}-{ExpiryDate}.csv",
        #     index=False,
        # )
        try:
            BacktestingDf.loc[index, "30DtePESell"] = TempPEDf.loc[
                TempPEDf["FH_TIMESTAMP"] == StartDateCopy, "FH_LAST_TRADED_PRICE"].iloc[0]
            print("30Dte :", 
                  TempPEDf.loc[TempPEDf["FH_TIMESTAMP"] == StartDateCopy, "FH_LAST_TRADED_PRICE"])
            BacktestingDf.loc[index, "11DtePESell"] = TempPEDf.loc[
                TempPEDf["FH_TIMESTAMP"] == EndDate, "FH_LAST_TRADED_PRICE"].iloc[0]
            print("11Dte :",
                  TempPEDf.loc[TempPEDf["FH_TIMESTAMP"] == EndDate, "FH_LAST_TRADED_PRICE"])
            BacktestingDf.loc[index, "0DtePESell"] = TempPEDf.loc[
                TempPEDf["FH_TIMESTAMP"] == ExpiryDate, "FH_LAST_TRADED_PRICE"].iloc[0]
            print("30Dte :",
                  TempPEDf.loc[TempPEDf["FH_TIMESTAMP"] == ExpiryDate, "FH_LAST_TRADED_PRICE"])

        except KeyError:
            print(f"KeyError in row:{StartDate}")

        except IndexError:
            print(f"IndexError in row:{StartDate}")

        except ValueError:
            print(f"ValueError in row:{StartDate}")
            
        """
        PE Buy Contract
        """
        print("------")
        print("PE Buy Contract")
        print("------")
        StartDate = row["Date"].strftime("%d-%m-%Y")
        print("StartDate:", StartDate)
        StartDateCopy = row["Date"].strftime("%d-%b-%Y")
        print("StartDateCopy:", StartDateCopy)        
        EndDate = row["Approx30Dte"].strftime("%d-%b-%Y")
        print("EndDate:", EndDate)
        Year = row["Date"].year
        print("Year:", Year)
        ExpiryDate = row["Approx30Dte"].strftime("%d-%b-%Y")
        print("ExpiryDate:", ExpiryDate)
        StrikePrice = str(round(int(row["30DteLL"]), -2) - 400)
        print("StrikePrice:", StrikePrice)
        OptionType = "PE"

        # PositionsPE = nsefetch(
        #     f"https://www.nseindia.com/api/historical/foCPV?from={StartDate}&to={EndDate}&instrumentType=OPTIDX&symbol=NIFTY&year={Year}&expiryDate={ExpiryDate}&optionType={OptionType}&strikePrice={StrikePrice}"
        # )
        TempPEDf = pd.read_csv(
            f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/BuyLegs/{StartDate}-PE-{StrikePrice}-{ExpiryDate}.csv")
        # TempPEDf.to_csv(
        #     f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/BuyLegs/{StartDate}-PE-{StrikePrice}-{ExpiryDate}.csv",
        #     index=False,
        # )
        try:
            
            BacktestingDf.loc[index, "30DtePEBuy"] = TempPEDf.loc[
                TempPEDf["FH_TIMESTAMP"] == StartDateCopy, "FH_LAST_TRADED_PRICE"].iloc[0]
            print("30Dte :", 
                  TempPEDf.loc[TempPEDf["FH_TIMESTAMP"] == StartDateCopy, "FH_LAST_TRADED_PRICE"])
            BacktestingDf.loc[index, "11DtePEBuy"] = TempPEDf.loc[
                TempPEDf["FH_TIMESTAMP"] == EndDate, "FH_LAST_TRADED_PRICE"].iloc[0]
            print("11Dte :",
                  TempPEDf.loc[TempPEDf["FH_TIMESTAMP"] == EndDate, "FH_LAST_TRADED_PRICE"])
            BacktestingDf.loc[index, "0DtePEBuy"] = TempPEDf.loc[
                TempPEDf["FH_TIMESTAMP"] == ExpiryDate, "FH_LAST_TRADED_PRICE"].iloc[0]
            print("30Dte :",
                  TempPEDf.loc[TempPEDf["FH_TIMESTAMP"] == ExpiryDate, "FH_LAST_TRADED_PRICE"])

        except KeyError:
            print(f"KeyError in row:{StartDate}")

        except IndexError:
            print(f"IndexError in row:{StartDate}")

        except ValueError:
            print(f"ValueError in row:{StartDate}")

        """
        CE Sell Contract
        """

        print("------")
        print("CE Sell Contract")
        print("------")
        StartDate = row["Date"].strftime("%d-%m-%Y")
        print("StartDate:", StartDate)
        StartDateCopy = row["Date"].strftime("%d-%b-%Y")
        print("StartDateCopy:", StartDateCopy)        
        EndDate = row["Approx30Dte"].strftime("%d-%b-%Y")
        print("EndDate:", EndDate)
        Year = row["Date"].year
        print("Year:", Year)
        ExpiryDate = row["Approx30Dte"].strftime("%d-%b-%Y")
        print("ExpiryDate:", ExpiryDate)
        StrikePrice = str(round(int(row["30DteUL"]), -2))
        print("StrikePrice:", StrikePrice)
        OptionType = "CE"

        # PositionsCE = nsefetch(
        #     f"https://www.nseindia.com/api/historical/foCPV?from={StartDate}&to={EndDate}&instrumentType=OPTIDX&symbol=NIFTY&year={Year}&expiryDate={ExpiryDate}&optionType={OptionType}&strikePrice={StrikePrice}"
        # )
        TempCEDf = TempPEDf = pd.read_csv(
            f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/SellLegs/{StartDate}-CE-{StrikePrice}-{ExpiryDate}.csv")
        # TempCEDf.to_csv(
        #     f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/BuyLegs/{StartDate}-CE-{StrikePrice}-{ExpiryDate}.csv",
        #     index=False,
        # )
        try:
            
            BacktestingDf.loc[index, "30DteCESell"] = TempPEDf.loc[
                TempPEDf["FH_TIMESTAMP"] == StartDateCopy, "FH_LAST_TRADED_PRICE"].iloc[0]
            print("30Dte :", 
                  TempPEDf.loc[TempPEDf["FH_TIMESTAMP"] == StartDateCopy, "FH_LAST_TRADED_PRICE"])
            BacktestingDf.loc[index, "11DteCESell"] = TempPEDf.loc[
                TempPEDf["FH_TIMESTAMP"] == EndDate, "FH_LAST_TRADED_PRICE"].iloc[0]
            print("11Dte :",
                  TempPEDf.loc[TempPEDf["FH_TIMESTAMP"] == EndDate, "FH_LAST_TRADED_PRICE"])
            BacktestingDf.loc[index, "0DteCESell"] = TempPEDf.loc[
                TempPEDf["FH_TIMESTAMP"] == ExpiryDate, "FH_LAST_TRADED_PRICE"].iloc[0]
            print("30Dte :",
                  TempPEDf.loc[TempPEDf["FH_TIMESTAMP"] == ExpiryDate, "FH_LAST_TRADED_PRICE"])

        except KeyError:
            print(f"KeyError in row:{StartDate}")

        except IndexError:
            print(f"IndexError in row:{StartDate}")

        except ValueError:
            print(f"ValueError in row:{StartDate}")
            
        """
        CE Buy Contract
        """

        print("------")
        print("CE Buy Contract")
        print("------")
        StartDate = row["Date"].strftime("%d-%m-%Y")
        print("StartDate:", StartDate)
        StartDateCopy = row["Date"].strftime("%d-%b-%Y")
        print("StartDateCopy:", StartDateCopy)        
        EndDate = row["Approx30Dte"].strftime("%d-%b-%Y")
        print("EndDate:", EndDate)
        Year = row["Date"].year
        print("Year:", Year)
        ExpiryDate = row["Approx30Dte"].strftime("%d-%b-%Y")
        print("ExpiryDate:", ExpiryDate)
        StrikePrice = str(round(int(row["30DteUL"]), -2) + 400)
        print("StrikePrice:", StrikePrice)
        OptionType = "CE"

        # PositionsCE = nsefetch(
        #     f"https://www.nseindia.com/api/historical/foCPV?from={StartDate}&to={EndDate}&instrumentType=OPTIDX&symbol=NIFTY&year={Year}&expiryDate={ExpiryDate}&optionType={OptionType}&strikePrice={StrikePrice}"
        # )
        TempCEDf = TempPEDf = pd.read_csv(
            f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/BuyLegs/{StartDate}-CE-{StrikePrice}-{ExpiryDate}.csv")
        # TempCEDf.to_csv(
        #     f"/home/shankar/1MyProjects/test_poetry_project/data/raw/LlUlOptionContractsData/BuyLegs/{StartDate}-CE-{StrikePrice}-{ExpiryDate}.csv",
        #     index=False,
        # )
        try:
            
            BacktestingDf.loc[index, "30DteCEBuy"] = TempPEDf.loc[
                TempPEDf["FH_TIMESTAMP"] == StartDateCopy, "FH_LAST_TRADED_PRICE"].iloc[0]
            print("30Dte :", 
                  TempPEDf.loc[TempPEDf["FH_TIMESTAMP"] == StartDateCopy, "FH_LAST_TRADED_PRICE"])
            BacktestingDf.loc[index, "11DteCEBuy"] = TempPEDf.loc[
                TempPEDf["FH_TIMESTAMP"] == EndDate, "FH_LAST_TRADED_PRICE"].iloc[0]
            print("11Dte :",
                  TempPEDf.loc[TempPEDf["FH_TIMESTAMP"] == EndDate, "FH_LAST_TRADED_PRICE"])
            BacktestingDf.loc[index, "0DteCEBuy"] = TempPEDf.loc[
                TempPEDf["FH_TIMESTAMP"] == ExpiryDate, "FH_LAST_TRADED_PRICE"].iloc[0]
            print("30Dte :",
                  TempPEDf.loc[TempPEDf["FH_TIMESTAMP"] == ExpiryDate, "FH_LAST_TRADED_PRICE"])

        except KeyError:
            print(f"KeyError in row:{StartDate}")

        except IndexError:
            print(f"IndexError in row:{StartDate}")

        except ValueError:
            print(f"ValueError in row:{StartDate}")

    except ValueError:
        print("-----------------------")
        print(f"ValueError : Exiting the loop in row:{index}")

# Comparing performance of 0Dte and 11Dte Profits

In [ ]:
# for index, row in BacktestingDf.iterrows():
    
#     try:
#         """
#         Bull Put
#         """
#         if (
#             row["30DtePESell"] != 0
#         ):
#             print("------")
#             print("Bull Put")
#             print("------")
#             BacktestingDf.loc[index, "30DteBullPut"] = (row["30DtePESell"] - row["0DtePESell"]) - (-(row["30DtePEBuy"]) + row["0DtePEBuy"])
#             print(f"Row No.: {index}, 30DteBullPut: {BacktestingDf.loc[index, '30DteBullPut']}")
#             BacktestingDf.loc[index, "11DteBullPut"] = (row["30DtePESell"] - row["11DtePESell"]) - (-(row["30DtePEBuy"]) + row["11DtePEBuy"])
#             print(f"Row No.: {index}, 11DteBullPut: {BacktestingDf.loc[index, '11DteBullPut']}")
#         """
#         Bear Call
#         """
#         if (
#             row["30DteCESell"] != 0
#         ):
#             print("------")
#             print("Bear Call")
#             print("------")
#             BacktestingDf.loc[index, "30DteBearCall"] = (row["30DteCESell"] - row["0DteCESell"]) - (-(row["30DteCEBuy"]) + row["0DteCEBuy"])
#             print(f"Row No.: {index}, 30DteBearCall: {BacktestingDf.loc[index, '30DteBearCall']}")
#             BacktestingDf.loc[index, "11DteBearCall"] = (row["30DteCESell"] - row["11DteCESell"]) - (-(row["30DteCEBuy"]) + row["11DteCEBuy"])
#             print(f"Row No.: {index}, 11DteBearCall: {BacktestingDf.loc[index, '11DteBearCall']}")
    
#     except KeyError:
#         print(f"KeyError in row:{StartDate}")

#     except IndexError:
#         print(f"IndexError in row:{StartDate}")

#     except ValueError:
#         print(f"ValueError in row:{StartDate}")

In [ ]:
# BacktestingDf["30Dte"] = BacktestingDf["30DteBullPut"] + BacktestingDf["30DteBearCall"]
# BacktestingDf["11Dte"] = BacktestingDf["11DteBullPut"] + BacktestingDf["11DteBearCall"]

In [ ]:
# BacktestingDf["30DteCumulative"] = BacktestingDf["30Dte"].cumsum()
# BacktestingDf["11DteCumulative"] = BacktestingDf["11Dte"].cumsum()

In [ ]:
# BacktestingDf[0:50]

In [ ]:
# # Line plot of 30DteCumulative and 11DteCumulative
# BacktestingDf[0:959].plot(x="Date", y=["30DteCumulative", "11DteCumulative"])