In [1]:
!pwd

/home/studio-lab-user/1MyProjects/test_poetry_project/notebooks

# When using Google Colab, run the following code

## Mounting Google Drive

In [2]:
"""
Mounting Google Drive
"""
from google.colab import drive

drive.mount("/content/gdrive")

Mounted at /content/gdrive

## Install Poetry in the colab runtime environment

In [3]:
!poetry --version

/bin/bash: line 1: poetry: command not found

In [4]:
!pip install poetry

Collecting poetry
  Downloading poetry-1.7.1-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 236.0/236.0 kB 3.3 MB/s eta 0:00:00
Requirement already satisfied: build<2.0.0,>=1.0.3 in /usr/local/lib/python3.10/dist-packages (from poetry) (1.0.3)
Requirement already satisfied: cachecontrol[filecache]<0.14.0,>=0.13.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (0.13.1)
Collecting cleo<3.0.0,>=2.1.0 (from poetry)
  Downloading cleo-2.1.0-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.7/78.7 kB 10.6 MB/s eta 0:00:00
Collecting crashtest<0.5.0,>=0.4.1 (from poetry)
  Downloading crashtest-0.4.1-py3-none-any.whl (7.6 kB)
Collecting dulwich<0.22.0,>=0.21.2 (from poetry)
  Downloading dulwich-0.21.7-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (514 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 514.7/514.7 kB 31.6 MB/s eta 0:00:00
Requirement already satisfied: fastjsonschema<3.0.0,>=2.18.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (2.19.0)
Collecting installer<0.8.0,>=0.7.0 (from poetry)
  Downloading installer-0.7.0-py3-none-any.whl (453 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 453.8/453.8 kB 29.3 MB/s eta 0:00:00
Collecting keyring<25.0.0,>=24.0.0 (from poetry)
  Downloading keyring-24.3.0-py3-none-any.whl (38 kB)
Requirement already satisfied: packaging>=20.5 in /usr/local/lib/python3.10/dist-packages (from poetry) (23.2)
Requirement already satisfied: pexpect<5.0.0,>=4.7.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (4.9.0)
Collecting pkginfo<2.0.0,>=1.9.4 (from poetry)
  Downloading pkginfo-1.9.6-py3-none-any.whl (30 kB)
Collecting platformdirs<4.0.0,>=3.0.0 (from poetry)
  Downloading platformdirs-3.11.0-py3-none-any.whl (17 kB)
Collecting poetry-core==1.8.1 (from poetry)
  Downloading poetry_core-1.8.1-py3-none-any.whl (306 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 306.6/306.6 kB 34.9 MB/s eta 0:00:00
Collecting poetry-plugin-export<2.0.0,>=1.6.0 (from poetry)
  Downloading poetry_plugin_export-1.6.0-py3-none-any.whl (10 kB)
Requirement already satisfied: pyproject-hooks<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (1.0.0)
Requirement already satisfied: requests<3.0,>=2.26 in /usr/local/lib/python3.10/dist-packages (from poetry) (2.31.0)
Collecting requests-toolbelt<2,>=0.9.1 (from poetry)
  Downloading requests_toolbelt-1.0.0-py2.py3-none-any.whl (54 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.5/54.5 kB 6.6 MB/s eta 0:00:00
Collecting shellingham<2.0,>=1.5 (from poetry)
  Downloading shellingham-1.5.4-py2.py3-none-any.whl (9.8 kB)
Requirement already satisfied: tomli<3.0.0,>=2.0.1 in /usr/local/lib/python3.10/dist-packages (from poetry) (2.0.1)
Collecting tomlkit<1.0.0,>=0.11.4 (from poetry)
  Downloading tomlkit-0.12.3-py3-none-any.whl (37 kB)
Collecting trove-classifiers>=2022.5.19 (from poetry)
  Downloading trove_classifiers-2023.11.29-py3-none-any.whl (13 kB)
Collecting virtualenv<21.0.0,>=20.23.0 (from poetry)
  Downloading virtualenv-20.25.0-py3-none-any.whl (3.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.8/3.8 MB 48.2 MB/s eta 0:00:00
Requirement already satisfied: msgpack>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from cachecontrol[filecache]<0.14.0,>=0.13.0->poetry) (1.0.7)
Requirement already satisfied: filelock>=3.8.0 in /usr/local/lib/python3.10/dist-packages (from cachecontrol[filecache]<0.14.0,>=0.13.0->poetry) (3.13.1)
Collecting rapidfuzz<4.0.0,>=3.0.0 (from cleo<3.0.0,>=2.1.0->poetry)
  Downloading rapidfuzz-3.5.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 50.2 MB/s eta 0:00:00
Requirement already satisfied: urllib3>=1.25 in /usr/local/lib/python3.10/dist-packages (from dulwich<0.22.0,>=0.21.2->poetry) (2.0.7)
Collecting jaraco.classes (from keyring<25.0.0,>=24.0.0->poetry)
  Downloading jaraco.classes-3.3.0-py3-none-any.whl (5.9 kB)
Requirement already satisfied: importlib-metadata>=4.11.4 in /usr/local/lib/python3.10/dist-packages (from keyring<25.0.0,>=24.0.0->poetry) (7.0.0)
Requirement already satisfied: SecretStorage>=3.2 in /usr/lib/python3/dist-packages (from keyring<25.0.0,>=24.0.0->poetry) (3.3.1)
Requirement already satisfied: jeepney>=0.4.2 in /usr/lib/python3/dist-packages (from keyring<25.0.0,>=24.0.0->poetry) (0.7.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect<5.0.0,>=4.7.0->poetry) (0.7.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.26->poetry) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.26->poetry) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.26->poetry) (2023.11.17)
Collecting distlib<1,>=0.3.7 (from virtualenv<21.0.0,>=20.23.0->poetry)
  Downloading distlib-0.3.8-py2.py3-none-any.whl (468 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 468.9/468.9 kB 44.0 MB/s eta 0:00:00
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.11.4->keyring<25.0.0,>=24.0.0->poetry) (3.17.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.10/dist-packages (from jaraco.classes->keyring<25.0.0,>=24.0.0->poetry) (10.1.0)
Installing collected packages: trove-classifiers, distlib, tomlkit, shellingham, rapidfuzz, poetry-core, platformdirs, pkginfo, jaraco.classes, installer, dulwich, crashtest, virtualenv, requests-toolbelt, keyring, cleo, poetry-plugin-export, poetry
  Attempting uninstall: platformdirs
    Found existing installation: platformdirs 4.1.0
    Uninstalling platformdirs-4.1.0:
      Successfully uninstalled platformdirs-4.1.0
  Attempting uninstall: keyring
    Found existing installation: keyring 23.5.0
    Uninstalling keyring-23.5.0:
      Successfully uninstalled keyring-23.5.0
Successfully installed cleo-2.1.0 crashtest-0.4.1 distlib-0.3.8 dulwich-0.21.7 installer-0.7.0 jaraco.classes-3.3.0 keyring-24.3.0 pkginfo-1.9.6 platformdirs-3.11.0 poetry-1.7.1 poetry-core-1.8.1 poetry-plugin-export-1.6.0 rapidfuzz-3.5.2 requests-toolbelt-1.0.0 shellingham-1.5.4 tomlkit-0.12.3 trove-classifiers-2023.11.29 virtualenv-20.25.0

In [5]:
!poetry --version

Poetry (version 1.7.1)

In [6]:
!poetry config --list

cache-dir = "/root/.cache/pypoetry"
experimental.system-git-client = false
installer.max-workers = null
installer.modern-installation = true
installer.no-binary = null
installer.parallel = true
virtualenvs.create = true
virtualenvs.in-project = null
virtualenvs.options.always-copy = false
virtualenvs.options.no-pip = false
virtualenvs.options.no-setuptools = false
virtualenvs.options.system-site-packages = false
virtualenvs.path = "{cache-dir}/virtualenvs"  # /root/.cache/pypoetry/virtualenvs
virtualenvs.prefer-active-python = false
virtualenvs.prompt = "{project_name}-py{python_version}"
warnings.export = true

In [7]:
# Configure poetry to create virtual environments in the project folder

!poetry config virtualenvs.in-project true

## Installing Project Dependencies

In [8]:
!pwd

/content

In [9]:
%cd /content/gdrive/MyDrive/GitHubProjects/test_poetry_project

/content/gdrive/MyDrive/GitHubProjects/test_poetry_project

In [10]:
!pwd

/content/gdrive/MyDrive/GitHubProjects/test_poetry_project

In [11]:
# !ls -a
!rm -rf .venv/

In [12]:
!make env-colab

Initializing Git...
git init
Reinitialized existing Git repository in /content/gdrive/MyDrive/GitHubProjects/test_poetry_project/.git/
Installing dependencies...
poetry install --without DesktopEnvDep,AsmslEnvDep --with ColabEnvDep --no-ansi
Creating virtualenv test-poetry-project in /content/gdrive/MyDrive/GitHubProjects/test_poetry_project/.venv
Installing dependencies from lock file

Package operations: 138 installs, 0 updates, 0 removals

  • Installing frozenlist (1.4.0)
  • Installing idna (3.6)
  • Installing multidict (6.0.4)
  • Installing pycparser (2.21)
  • Installing vine (5.1.0)
  • Installing wcwidth (0.2.12)
  • Installing aiosignal (1.3.1)
  • Installing amqp (5.2.0)
  • Installing certifi (2023.11.17)
  • Installing async-timeout (4.0.3)
  • Installing attrs (23.1.0)
  • Installing cffi (1.16.0)
  • Installing charset-normalizer (3.3.2)
  • Installing click (8.1.7)
  • Installing prompt-toolkit (3.0.43)
  • Installing six (1.16.0)
  • Installing smmap (5.0.1)
  • Installing urllib3 (2.1.0)
  • Installing yarl (1.9.4)
  • Installing aiohttp (3.9.1)
  • Installing antlr4-python3-runtime (4.9.3)
  • Installing asttokens (2.4.1)
  • Installing billiard (4.2.0)
  • Installing click-didyoumean (0.3.0)
  • Installing click-plugins (1.1.1)
  • Installing click-repl (0.3.0)
  • Installing cryptography (41.0.7)
  • Installing executing (2.0.1)
  • Installing fsspec (2023.12.2)
  • Installing funcy (2.0)
  • Installing gitdb (4.0.11)
  • Installing kombu (5.3.4)
  • Installing mdurl (0.1.2)
  • Installing numpy (1.26.2)
  • Installing orjson (3.9.10)
  • Installing packaging (23.2)
  • Installing parso (0.8.3)
  • Installing ptyprocess (0.7.0)
  • Installing pure-eval (0.2.2)
  • Installing pygtrie (2.5.0)
  • Installing python-dateutil (2.8.2)
  • Installing pyyaml (6.0.1)
  • Installing requests (2.31.0)
  • Installing shortuuid (1.0.11)
  • Installing tqdm (4.66.1)
  • Installing traitlets (5.14.0)
  • Installing typing-extensions (4.9.0)
  • Installing tzdata (2023.3)
  • Installing aiohttp-retry (2.8.3)
  • Installing appdirs (1.4.4)
  • Installing asyncssh (2.14.1)
  • Installing atpublic (4.0)
  • Installing celery (5.3.6)
  • Installing contourpy (1.2.0)
  • Installing cycler (0.12.1)
  • Installing decorator (5.1.1)
  • Installing dictdiffer (0.9.0)
  • Installing diskcache (5.6.3)
  • Installing distlib (0.3.8)
  • Installing distro (1.8.0)
  • Installing dulwich (0.21.7)
  • Installing dvc-objects (0.25.0)
  • Installing exceptiongroup (1.2.0)
  • Installing filelock (3.13.1)
  • Installing fonttools (4.46.0)
  • Installing gitpython (3.1.40)
  • Installing jedi (0.19.1)
  • Installing kiwisolver (1.4.5)
  • Installing markdown-it-py (3.0.0)
  • Installing markupsafe (2.1.3)
  • Installing matplotlib-inline (0.1.6)
  • Installing nanotime (0.5.2)
  • Installing omegaconf (2.3.0)
  • Installing pathspec (0.12.1)
  • Installing pexpect (4.9.0)
  • Installing pillow (10.1.0)
  • Installing platformdirs (3.11.0)
  • Installing psutil (5.9.6)
  • Installing pygit2 (1.13.3)
  • Installing pygments (2.17.2)
  • Installing pyparsing (3.1.1)
  • Installing pytz (2023.3.post1)
  • Installing ruamel-yaml-clib (0.2.8)
  • Installing sqltrie (0.10.0)
  • Installing stack-data (0.6.3)
  • Installing voluptuous (0.14.1)
  • Installing cfgv (3.4.0)
  • Installing colorama (0.4.6)
  • Installing configobj (5.0.8)
  • Installing dpath (2.1.6)
  • Installing dvc-data (0.51.0)
  • Installing dvc-http (2.32.0)
  • Installing dvc-render (0.7.0)
  • Installing dvc-studio-client (0.18.0)
  • Installing dvc-task (0.3.0)
  • Installing flatten-dict (0.4.2)
  • Installing flufl-lock (8.0.2)
  • Installing grandalf (0.8)
  • Installing hydra-core (1.3.2)
  • Installing identify (2.5.33)
  • Installing iniconfig (2.0.0)
  • Installing ipython (8.18.1)
  • Installing iterative-telemetry (0.0.8)
  • Installing joblib (1.3.2)
  • Installing mako (1.3.0)
  • Installing markdown (3.5.1)
  • Installing matplotlib (3.8.2)
  • Installing mypy-extensions (1.0.0)
  • Installing networkx (3.2.1)
  • Installing nodeenv (1.8.0)
  • Installing pandas (2.1.4)
  • Installing pluggy (1.3.0)
  • Installing py (1.11.0)
  • Installing pydot (1.4.2)
  • Installing rich (13.7.0)
  • Installing ruamel-yaml (0.18.5)
  • Installing scipy (1.11.4)
  • Installing scmrepo (1.4.1)
  • Installing shtab (1.6.5)
  • Installing tabulate (0.9.0)
  • Installing threadpoolctl (3.2.0)
  • Installing tokenize-rt (5.2.0)
  • Installing toml (0.10.2)
  • Installing tomli (2.0.1)
  • Installing tomlkit (0.12.3)
  • Installing virtualenv (20.25.0)
  • Installing zc-lockfile (3.0.post1)
  • Installing zope-interface (6.1)
  • Installing black (23.12.0)
  • Installing datetime (5.3)
  • Installing dvc (2.58.2)
  • Installing nsepythonserver (2.7)
  • Installing pdoc3 (0.10.0)
  • Installing pre-commit (2.21.0)
  • Installing pytest (6.2.5)
  • Installing scikit-learn (1.3.2)
  • Installing seaborn (0.13.0)
  • Installing xgboost (2.0.2)

Installing the current project: test_poetry_project (0.1.0)

The current project could not be installed: No file/folder found for package test-poetry-project
If you do not want to install the current project use --no-root
# poetry run pre-commit install
Virtual environment information
poetry env info

Virtualenv
Python:         3.10.12
Implementation: CPython
Path:           /content/gdrive/MyDrive/GitHubProjects/test_poetry_project/.venv
Executable:     /content/gdrive/MyDrive/GitHubProjects/test_poetry_project/.venv/bin/python
Valid:          True

System
Platform:   linux
OS:         posix
Python:     3.10.12
Path:       /usr
Executable: /usr/bin/python3.10

* **Adding additional packages to the virtual environment (USEFUL ONLY IF CREATING VIRTUAL ENVIRONMENT IN PROJECT FOLDER IN COLAB)**

In [13]:
# '''
# Add any package like 'torch'
# '''

# !poetry add torch
# !poetry install --no-ansi --no-root

* **Add poetry virtual environment to python path (USEFUL ONLY IF CREATING VIRTUAL ENVIRONMENT IN PROJECT FOLDER IN COLAB)**

In [14]:
'''
Add poetry virtual environment to python
path so that all installed dependencies
can be found by the python interpreter.
'''

import os, sys

VENV_PATH = "/content/gdrive/MyDrive/GitHubProjects/test_poetry_project/.venv/lib/python3.10/site-packages"
LOCAL_VENV_PATH = '/content/venv' # local notebook
os.symlink(VENV_PATH, LOCAL_VENV_PATH) # connect to directory in drive
sys.path.insert(0, LOCAL_VENV_PATH)

* **Use the added packages**

In [15]:
# import torch
# print(torch.__version__)

* **Check the size of the virtual environment**

In [16]:
# !du -hs /content/gdrive/MyDrive/GitHubProjects/test_poetry_project/.venv/

## Format with black

In [17]:
# Install black
# !pip install "black[jupyter]"

# Format using black
# !black /content/gdrive/MyDrive/GitHubProjects/test_poetry_project/notebooks/

# Importing Libraries

In [2]:
# Import basic libraries
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", None)

from datetime import date

import matplotlib.pyplot as plt
import seaborn as sns

from nsepythonserver import *
# from nsepython import *

from sklearn.model_selection import train_test_split

%matplotlib inline

import calendar

# Unofficed functions code snippets

## equity_history

In [ ]:
symbol = "SBIN"
series = "EQ"
start_date = "08-06-2021"
end_date = "14-06-2021"
print(equity_history(symbol, series, start_date, end_date))

                        _id CH_SYMBOL CH_SERIES CH_MARKET_TYPE  \
0  63d7a3d2ce536a0007460775      SBIN        EQ              N
1  63d7a3e191e6ce00070a9f27      SBIN        EQ              N
2  63d7a3f006404c0006d94d31      SBIN        EQ              N
3  63d7a3ffb726b40007af6585      SBIN        EQ              N
4  63d7a40f3aa4bc0006fce1b1      SBIN        EQ              N

   CH_TRADE_HIGH_PRICE  CH_TRADE_LOW_PRICE  CH_OPENING_PRICE  \
0               432.50              424.00            432.25
1               432.30              418.20            427.50
2               433.30              422.40            424.90
3               435.50              425.25            434.85
4               432.45              416.70            427.00

   CH_CLOSING_PRICE  CH_LAST_TRADED_PRICE  CH_PREVIOUS_CLS_PRICE  \
0            427.20                427.40                 432.25
1            421.45                421.95                 427.20
2            432.25                432.40                 421.45
3            429.60                429.40                 432.25
4            430.35                430.00                 429.60

   CH_TOT_TRADED_QTY  CH_TOT_TRADED_VAL  CH_52WEEK_HIGH_PRICE  \
0           31113823       1.330030e+10                441.95
1           27784834       1.185249e+10                441.95
2           27397712       1.174471e+10                441.95
3           26831924       1.153870e+10                441.95
4           30106015       1.279312e+10                441.95

   CH_52WEEK_LOW_PRICE  CH_TOTAL_TRADES       CH_ISIN CH_TIMESTAMP  \
0               169.25           247824  INE062A01020   2021-06-08
1               169.25           241080  INE062A01020   2021-06-09
2               169.25           211924  INE062A01020   2021-06-10
3               169.25           211915  INE062A01020   2021-06-11
4               169.25           279081  INE062A01020   2021-06-14

                  TIMESTAMP                 createdAt  \
0  2021-06-07T18:30:00.000Z  2023-01-30T11:02:42.626Z
1  2021-06-08T18:30:00.000Z  2023-01-30T11:02:57.750Z
2  2021-06-09T18:30:00.000Z  2023-01-30T11:03:12.813Z
3  2021-06-10T18:30:00.000Z  2023-01-30T11:03:27.915Z
4  2021-06-13T18:30:00.000Z  2023-01-30T11:03:43.011Z

                  updatedAt  __v SLBMH_TOT_VAL    VWAP   mTIMESTAMP
0  2023-01-30T11:02:42.626Z    0          None  427.47  08-Jun-2021
1  2023-01-30T11:02:57.750Z    0          None  426.58  09-Jun-2021
2  2023-01-30T11:03:12.813Z    0          None  428.67  10-Jun-2021
3  2023-01-30T11:03:27.915Z    0          None  430.04  11-Jun-2021
4  2023-01-30T11:03:43.011Z    0          None  424.94  14-Jun-2021

## derivative_history

In [ ]:
symbol = "SBIN"
start_date = "15-05-2021"
end_date = "15-06-2021"
instrumentType = "options"
expiry_date = "24-Jun-2021"
strikePrice = 300
optionType = "PE"
print(
    derivative_history(
        symbol,
        start_date,
        end_date,
        instrumentType,
        expiry_date,
        strikePrice,
        optionType,
    )
)

                        _id FH_INSTRUMENT FH_SYMBOL FH_EXPIRY_DT  \
0  6443fb9ebf1903287158e320        OPTSTK      SBIN  24-Jun-2021
1  6443fd93bf190328715961fc        OPTSTK      SBIN  24-Jun-2021
2  6443ff8dbf190328715a5ad4        OPTSTK      SBIN  24-Jun-2021
3  64440180bf190328715be0db        OPTSTK      SBIN  24-Jun-2021

  FH_STRIKE_PRICE FH_OPTION_TYPE FH_MARKET_TYPE FH_OPENING_PRICE  \
0          300.00             PE              N             1.65
1          300.00             PE              N             1.85
2          300.00             PE              N             0.80
3          300.00             PE              N             0.40

  FH_TRADE_HIGH_PRICE FH_TRADE_LOW_PRICE FH_CLOSING_PRICE  \
0                2.00               1.55             1.95
1                1.85               0.80             1.10
2                0.85               0.65             0.75
3                0.45               0.35             0.35

  FH_LAST_TRADED_PRICE FH_PREV_CLS FH_SETTLE_PRICE FH_TOT_TRADED_QTY  \
0                 1.95        1.75            1.95             78000
1                 1.10        1.95            1.10            376500
2                 0.70        0.80            0.75            238500
3                 0.35        0.40            0.35            139500

  FH_TOT_TRADED_VAL FH_OPEN_INT FH_CHANGE_IN_OI FH_MARKET_LOT FH_TIMESTAMP  \
0       23536350.00      496500        16500.00          1500  20-May-2021
1      113420475.00      535500        39000.00          1500  21-May-2021
2       71722125.00      661500        39000.00          1500  27-May-2021
3       41901825.00      838500        25500.00          1500  04-Jun-2021

                  TIMESTAMP  FH_UNDERLYING_VALUE  CALCULATED_PREMIUM_VAL
0  2021-05-19T18:30:00.000Z               543.15                  136350
1  2021-05-20T18:30:00.000Z               543.15                  470475
2  2021-05-26T18:30:00.000Z               543.15                  172125
3  2021-06-03T18:30:00.000Z               543.15                   51825

## expiry_history

In [ ]:
symbol = "SBIN"
start_date = "15-05-2020"
end_date = "15-06-2021"

print(expiry_history(symbol, start_date, end_date))
# print(expiry_history(symbol,start_date))
# print(expiry_history(symbol))

{'data': [['FUTSTK', 'OPTSTK'], ['CE', 'PE'], ['30-Jan-2020', '27-Feb-2020', '26-Mar-2020', '30-Apr-2020', '28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020', '28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021', '29-Jul-2021', '26-Aug-2021', '30-Sep-2021', '28-Oct-2021', '25-Nov-2021', '30-Dec-2021'], ['0', '0.00', '100', '102.5', '105', '107.5', '110', '112.5', '115', '117.5', '120', '122.5', '125', '127.5', '130', '132.5', '135', '137.5', '140', '142.5', '145', '147.5', '150', '152.5', '155', '157.5', '160', '162.5', '165', '165.00', '167.5', '170', '170.00', '172.5', '175', '175.00', '177.5', '180', '180.00', '182.5', '185', '185.00', '187.5', '190', '190.00', '192.5', '195', '195.00', '197.5', '200', '200.00', '202.5', '205', '205.00', '207.5', '210', '210.00', '212.5', '215', '215.00', '217.5', '220', '220.00', '222.5', '225', '225.00', '227.5', '230', '230.00', '232.5', '235', '235.00', '237.5', '240', '240.00', '242.5', '245', '245.00', '250', '250.00', '255', '255.00', '260', '260.00', '265', '265.00', '270', '270.00', '275', '275.00', '280', '280.00', '285', '285.00', '290', '290.00', '295', '295.00', '300', '300.00', '305', '305.00', '310', '310.00', '315', '315.00', '320', '320.00', '325', '325.00', '330', '330.00', '335', '335.00', '340', '340.00', '345', '345.00', '350', '350.00', '355', '355.00', '360', '360.00', '365', '365.00', '370', '370.00', '375', '375.00', '380', '380.00', '385', '385.00', '390', '390.00', '395', '395.00', '400', '400.00', '405', '405.00', '410', '410.00', '415', '415.00', '420', '420.00', '425', '425.00', '430', '430.00', '435', '435.00', '440', '440.00', '445', '445.00', '450', '450.00', '455', '455.00', '460', '460.00', '465', '465.00', '470', '470.00', '475', '475.00', '480', '480.00', '485', '485.00', '490', '490.00', '495', '495.00', '500', '500.00', '505', '505.00', '510', '510.00', '515', '515.00', '520', '520.00']], 'years': {'2020': ['28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020'], '2021': ['28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021', '29-Jul-2021', '26-Aug-2021'], 'all': ['2020', '2021']}, 'expiryDatesByInstrument': {'FUTSTK': ['30-Jan-2020', '27-Feb-2020', '26-Mar-2020', '30-Apr-2020', '28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020', '28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021', '29-Jul-2021', '26-Aug-2021', '30-Sep-2021', '28-Oct-2021', '25-Nov-2021', '30-Dec-2021'], 'OPTSTK': ['30-Jan-2020', '27-Feb-2020', '26-Mar-2020', '30-Apr-2020', '28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020', '28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021', '29-Jul-2021', '26-Aug-2021', '30-Sep-2021', '28-Oct-2021', '25-Nov-2021', '30-Dec-2021']}, 'yearsByInstrument': {'FUTSTK': {'2020': ['30-Jan-2020', '27-Feb-2020', '26-Mar-2020', '30-Apr-2020', '28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020'], '2021': ['28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021', '29-Jul-2021', '26-Aug-2021', '30-Sep-2021', '28-Oct-2021', '25-Nov-2021', '30-Dec-2021'], 'all': ['2020', '2021']}, 'OPTSTK': {'2020': ['30-Jan-2020', '27-Feb-2020', '26-Mar-2020', '30-Apr-2020', '28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020'], '2021': ['28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021', '29-Jul-2021', '26-Aug-2021', '30-Sep-2021', '28-Oct-2021', '25-Nov-2021', '30-Dec-2021'], 'all': ['2020', '2021']}}, 'from': '15-May-2020', 'to': '15-Jun-2021', 'symbol': 'SBIN'}
['28-May-2020', '25-Jun-2020', '30-Jul-2020', '27-Aug-2020', '24-Sep-2020', '29-Oct-2020', '26-Nov-2020', '31-Dec-2020', '28-Jan-2021', '25-Feb-2021', '25-Mar-2021', '29-Apr-2021', '27-May-2021', '24-Jun-2021']

## index_history

In [ ]:
symbol = "NIFTY 50"
start_date = "01-Mar-2011"
end_date = "07-Jun-2021"
print(index_history(symbol, start_date, end_date))

     Index Name INDEX_NAME HistoricalDate      OPEN      HIGH       LOW  \
0      Nifty 50   NIFTY 50    07 Jun 2021   15725.1  15773.45   15678.1
1      Nifty 50   NIFTY 50    04 Jun 2021   15712.5   15733.6  15622.35
2      Nifty 50   NIFTY 50    03 Jun 2021  15655.55   15705.1     15611
3      Nifty 50   NIFTY 50    02 Jun 2021  15520.35  15597.45  15459.85
4      Nifty 50   NIFTY 50    01 Jun 2021  15629.65  15660.75   15528.3
...         ...        ...            ...       ...       ...       ...
2538   Nifty 50   Nifty 50    08 Mar 2011    5466.1   5530.55   5464.75
2539   Nifty 50   Nifty 50    07 Mar 2011   5490.05   5491.25   5408.45
2540   Nifty 50   Nifty 50    04 Mar 2011    5586.2    5608.2    5524.1
2541   Nifty 50   Nifty 50    03 Mar 2011   5478.45   5570.75   5468.25
2542   Nifty 50   Nifty 50    01 Mar 2011      5382   5533.05   5373.55

         CLOSE
0     15751.65
1     15670.25
2     15690.35
3     15576.20
4     15574.85
...        ...
2538   5520.80
2539   5463.10
2540   5538.70
2541   5536.20
2542   5522.30

[2543 rows x 7 columns]

## index_pe_pb_div

In [ ]:
symbol = "NIFTY 50"
start_date = "01-Mar-2011"
end_date = "07-Jun-2021"
print(index_pe_pb_div(symbol, start_date, end_date))

     Index Name     pe    pb divYield         DATE
0      NIFTY 50  29.21  4.44     1.07  07 Jun 2021
1      NIFTY 50  29.06  4.42     1.07  04 Jun 2021
2      NIFTY 50  29.10  4.43     1.07  03 Jun 2021
3      NIFTY 50  28.88  4.39     1.06  02 Jun 2021
4      NIFTY 50  28.87  4.39     1.07  01 Jun 2021
...         ...    ...   ...      ...          ...
2538   Nifty 50  21.14   3.5     1.13  08 Mar 2011
2539   Nifty 50  20.92  3.46     1.14  07 Mar 2011
2540   Nifty 50  21.21  3.51     1.12  04 Mar 2011
2541   Nifty 50   21.2  3.51     1.12  03 Mar 2011
2542   Nifty 50  21.14   3.5     1.13  01 Mar 2011

[2543 rows x 5 columns]

## index_total_returns

In [ ]:
symbol = "NIFTY 50"
start_date = "01-Mar-2011"
end_date = "07-Jun-2021"
print(index_total_returns(symbol, start_date, end_date))

     Index Name         Date TotalReturnsIndex
0      NIFTY 50  07 Jun 2021          22449.24
1      NIFTY 50  04 Jun 2021          22333.23
2      NIFTY 50  03 Jun 2021          22361.86
3      NIFTY 50  02 Jun 2021          22194.18
4      NIFTY 50  01 Jun 2021          22192.25
...         ...          ...               ...
2538   Nifty 50  08 Mar 2011           6931.56
2539   Nifty 50  07 Mar 2011           6859.22
2540   Nifty 50  04 Mar 2011           6954.14
2541   Nifty 50  03 Mar 2011           6950.94
2542   Nifty 50  01 Mar 2011           6933.43

[2543 rows x 3 columns]

## get_bhavcopy

In [ ]:
print(get_bhavcopy("04-06-2021"))

          SYMBOL  SERIES         DATE1   PREV_CLOSE   OPEN_PRICE   HIGH_PRICE  \
0     1018GS2026      GS   04-Jun-2021       106.00       102.00       102.00
1      20MICRONS      EQ   04-Jun-2021        62.55        63.40        64.35
2     21STCENMGM      EQ   04-Jun-2021        15.95        15.95        16.25
3     3IINFOTECH      EQ   04-Jun-2021         8.95         8.90         9.00
4        3MINDIA      EQ   04-Jun-2021     26261.80     26431.80     26648.70
...          ...     ...           ...          ...          ...          ...
2053   ZODJRDMKJ      BE   04-Jun-2021        36.60        37.40        37.40
2054        ZOTA      EQ   04-Jun-2021       183.75       184.00       184.00
2055       ZUARI      EQ   04-Jun-2021        97.30        97.85        98.40
2056   ZUARIGLOB      EQ   04-Jun-2021        92.55        93.95        94.00
2057   ZYDUSWELL      EQ   04-Jun-2021      2083.75      2095.25      2107.45

       LOW_PRICE  LAST_PRICE   CLOSE_PRICE   AVG_PRICE   TTL_TRD_QNTY  \
0         102.00      102.00        102.00      102.00             50
1          61.30       61.95         61.90       62.25         213663
2          15.95       16.25         16.25       16.25            358
3           8.70        8.85          8.85        8.85       13804265
4       26000.00    26113.70      26110.45    26301.91           2347
...          ...         ...           ...         ...            ...
2053       34.85       35.05         36.45       36.10           8456
2054      160.00      172.95        173.60      174.48         121798
2055       96.05       96.35         96.50       97.08          89071
2056       91.00       93.25         92.65       92.34          53853
2057     2080.00     2091.00       2096.90     2082.57         169249

       TURNOVER_LACS   NO_OF_TRADES  DELIV_QTY  DELIV_PER
0               0.05              1         50     100.00
1             133.00           1813     131248      61.43
2               0.06              8        358     100.00
3            1221.17          15649    9166344      66.40
4             617.31           1771       1192      50.79
...              ...            ...        ...        ...
2053            3.05             72          -          -
2054          212.51           3414      52566      43.16
2055           86.47           1569      50221      56.38
2056           49.73            559      37343      69.34
2057         3524.73           2958     154029      91.01

[2058 rows x 15 columns]

# Functions

# Variables

# Nifty Data Download - NiftyDf

In [ ]:
symbol = "NIFTY 50"
start_date = "01-Jan-2000"
end_date = "30-Nov-2023"
NiftyDf = index_history(symbol, start_date, end_date)
print(NiftyDf)

           Index Name       INDEX_NAME HistoricalDate      OPEN      HIGH  \
0     Nifty GS 8 13Yr  NIFTY GS 8 13YR    18 Dec 2023   2517.09    2518.6
1     Nifty GS 8 13Yr  NIFTY GS 8 13YR    15 Dec 2023   2510.15   2516.78
2            Nifty 50         Nifty 50    30 Nov 2023   20108.5   20158.7
3            Nifty 50         Nifty 50    29 Nov 2023  19976.55  20104.65
4            Nifty 50         Nifty 50    28 Nov 2023  19844.65  19916.85
...               ...              ...            ...       ...       ...
5945         Nifty 50         Nifty 50    07 Jan 2000    1616.6   1628.25
5946         Nifty 50         Nifty 50    06 Jan 2000    1595.8      1639
5947         Nifty 50         Nifty 50    05 Jan 2000   1634.55    1635.5
5948         Nifty 50         Nifty 50    04 Jan 2000    1594.4   1641.95
5949         Nifty 50         Nifty 50    03 Jan 2000   1482.15    1592.9

           LOW     CLOSE
0      2514.87   2518.60
1       2509.2   2515.62
2     20015.85  20133.15
3      19956.3  20096.60
4        19800  19889.70
...        ...       ...
5945    1597.2   1613.30
5946    1595.8   1617.60
5947   1555.05   1595.80
5948    1594.4   1638.70
5949   1482.15   1592.20

[5950 rows x 7 columns]

In [ ]:
NiftyDf

,Index Name,INDEX_NAME,HistoricalDate,OPEN,HIGH,LOW,CLOSE
0,Nifty GS 8 13Yr,NIFTY GS 8 13YR,18 Dec 2023,2517.09,2518.6,2514.87,2518.60
1,Nifty GS 8 13Yr,NIFTY GS 8 13YR,15 Dec 2023,2510.15,2516.78,2509.2,2515.62
2,Nifty 50,Nifty 50,30 Nov 2023,20108.5,20158.7,20015.85,20133.15
3,Nifty 50,Nifty 50,29 Nov 2023,19976.55,20104.65,19956.3,20096.60
4,Nifty 50,Nifty 50,28 Nov 2023,19844.65,19916.85,19800,19889.70
...,...,...,...,...,...,...,...
5945,Nifty 50,Nifty 50,07 Jan 2000,1616.6,1628.25,1597.2,1613.30
5946,Nifty 50,Nifty 50,06 Jan 2000,1595.8,1639,1595.8,1617.60
5947,Nifty 50,Nifty 50,05 Jan 2000,1634.55,1635.5,1555.05,1595.80
5948,Nifty 50,Nifty 50,04 Jan 2000,1594.4,1641.95,1594.4,1638.70
5949,Nifty 50,Nifty 50,03 Jan 2000,1482.15,1592.9,1482.15,1592.20

In [ ]:
# # Define your path
# file_path = "/home/shankar/1MyProjects/test_poetry_project/data/raw/nifty_historic.csv"

# # Save the DataFrame to the specified path
# NiftyDf.to_csv(file_path, index=False)

# IndiaVIX data Download - IndiaVixDf

In [ ]:
def indiavix_history_virgin(start_date, end_date):
    # url="https://www.nseindia.com/api/historical/cm/equity?symbol="+symbol+"&series=[%22"+series+"%22]&from="+str(start_date)+"&to="+str(end_date)+""
    # https://www.nseindia.com/api/historical/vixhistory?from=14-12-2022&to=14-12-2023
    url = (
        "https://www.nseindia.com/api/historical/vixhistory?from="
        + start_date
        + "&to="
        + end_date
    )

    payload = nsefetch(url)
    return pd.DataFrame.from_records(payload["data"])

In [ ]:
# Testing indiavix_history_virging function

# start_date = "14-12-2022"
# end_date ="14-12-2023"
# print(indiavix_history_virgin(start_date,end_date))

In [ ]:
# You shall see beautiful use the logger function.
def indiavix_history(start_date, end_date):
    # We are getting the input in text. So it is being converted to Datetime object from String.
    start_date = datetime.datetime.strptime(start_date, "%d-%m-%Y")
    end_date = datetime.datetime.strptime(end_date, "%d-%m-%Y")
    logging.info("Starting Date: " + str(start_date))
    logging.info("Ending Date: " + str(end_date))

    # We are calculating the difference between the days
    diff = end_date - start_date
    logging.info("Total Number of Days: " + str(diff.days))
    logging.info("Total FOR Loops in the program: " + str(int(diff.days / 40)))
    logging.info("Remainder Loop: " + str(diff.days - (int(diff.days / 40) * 40)))

    total = pd.DataFrame()
    for i in range(0, int(diff.days / 40)):
        temp_date = (start_date + datetime.timedelta(days=(40))).strftime("%d-%m-%Y")
        start_date = datetime.datetime.strftime(start_date, "%d-%m-%Y")

        logging.info("Loop = " + str(i))
        logging.info("====")
        logging.info("Starting Date: " + str(start_date))
        logging.info("Ending Date: " + str(temp_date))
        logging.info("====")

        # total=total.append(equity_history_virgin(symbol,series,start_date,temp_date))
        # total=total.concat(equity_history_virgin(symbol,series,start_date,temp_date))
        total = pd.concat([total, indiavix_history_virgin(start_date, temp_date)])

        logging.info("Length of the Table: " + str(len(total)))

        # Preparation for the next loop
        start_date = datetime.datetime.strptime(temp_date, "%d-%m-%Y")

    start_date = datetime.datetime.strftime(start_date, "%d-%m-%Y")
    end_date = datetime.datetime.strftime(end_date, "%d-%m-%Y")

    logging.info("End Loop")
    logging.info("====")
    logging.info("Starting Date: " + str(start_date))
    logging.info("Ending Date: " + str(end_date))
    logging.info("====")

    # total=total.append(equity_history_virgin(symbol,series,start_date,end_date))
    # total=total.concat(equity_history_virgin(symbol,series,start_date,end_date))
    total = pd.concat([total, indiavix_history_virgin(start_date, end_date)])

    logging.info("Finale")
    logging.info("Length of the Total Dataset: " + str(len(total)))
    payload = total.iloc[::-1].reset_index(drop=True)
    return payload

In [ ]:
# print(nsefetch('https://www.nseindia.com/api/historical/vixhistory?from=14-12-2022&to=14-12-2023'))

In [ ]:
start_date = "01-01-2000"
end_date = "30-11-2023"
IndiaVixDf = indiavix_history(start_date, end_date)
print(IndiaVixDf)

                           _id EOD_TIMESTAMP EOD_INDEX_NAME  \
0     6568795a6b03706ca2112256   30-NOV-2023      INDIA VIX
1     656727de63930729e13eed0b   29-NOV-2023      INDIA VIX
2     6565d65ce9eecb1f95eebd46   28-NOV-2023      INDIA VIX
3     6560916f2ae99d7f07eaa39b   24-NOV-2023      INDIA VIX
4     655f3fef55ad237b659c87d9   23-NOV-2023      INDIA VIX
...                        ...           ...            ...
2761  64996b580715db000745551f   07-JAN-2013      INDIA VIX
2762  64996b4e7f346a00085d3b23   04-JAN-2013      INDIA VIX
2763  64996b44c504a400073793d5   03-JAN-2013      INDIA VIX
2764  64996b3a583df60007d9b8bc   02-JAN-2013      INDIA VIX
2765  64996b303c4faf0007f069a4   01-JAN-2013      INDIA VIX

      EOD_OPEN_INDEX_VAL  EOD_CLOSE_INDEX_VAL  EOD_HIGH_INDEX_VAL  \
0                12.7075              12.6900             13.3525
1                12.1750              12.7075             14.4600
2                11.3300              12.1750             12.4925
3                11.3150              11.3300             11.4650
4                11.8650              11.3150             12.1400
...                  ...                  ...                 ...
2761             13.3700              13.9200             14.0400
2762             13.4700              13.3700             13.6300
2763             13.7100              13.4700             13.9400
2764             13.6900              13.7100             13.9100
2765             14.9500              13.6900             14.9500

      EOD_LOW_INDEX_VAL  EOD_PREV_CLOSE                 TIMESTAMP  \
0               11.7625         12.7075  2023-11-29T18:30:00.000Z
1               11.3325         12.1750  2023-11-28T18:30:00.000Z
2               11.0650         11.3300  2023-11-27T18:30:00.000Z
3                8.6775         11.3150  2023-11-23T18:30:00.000Z
4               10.9750         11.8650  2023-11-22T18:30:00.000Z
...                 ...             ...                       ...
2761            13.3700         13.3700  2013-01-06T18:30:00.000Z
2762            13.2800         13.4700  2013-01-03T18:30:00.000Z
2763            13.2200         13.7100  2013-01-02T18:30:00.000Z
2764            12.9900         13.6900  2013-01-01T18:30:00.000Z
2765            13.6400         14.9500  2012-12-31T18:30:00.000Z

      VIX_PTS_CHG  VIX_PERC_CHG ALTERNATE_INDEX_NAME  \
0         -0.0175     -0.137714            INDIA VIX
1          0.5325      4.373717            INDIA VIX
2          0.8450      7.458076            INDIA VIX
3          0.0150      0.132567            INDIA VIX
4         -0.5500     -4.635483            INDIA VIX
...           ...           ...                  ...
2761       0.5500      4.113687            INDIA VIX
2762      -0.1000     -0.742390            INDIA VIX
2763      -0.2400     -1.750547            INDIA VIX
2764       0.0200      0.146092            INDIA VIX
2765      -1.2600     -8.428094            INDIA VIX

                     createdAt                 updatedAt  __v
0     2023-11-30T12:00:26.927Z  2023-11-30T12:00:26.927Z    0
1     2023-11-29T12:00:30.259Z  2023-11-29T12:00:30.259Z    0
2     2023-11-28T12:00:28.842Z  2023-11-28T12:00:28.842Z    0
3     2023-11-24T12:05:03.547Z  2023-11-24T12:05:03.547Z    0
4     2023-11-23T12:05:03.814Z  2023-11-23T12:05:03.814Z    0
...                        ...                       ...  ...
2761  2023-06-26T10:41:28.828Z  2023-06-26T10:41:28.828Z    0
2762  2023-06-26T10:41:18.797Z  2023-06-26T10:41:18.797Z    0
2763  2023-06-26T10:41:08.746Z  2023-06-26T10:41:08.746Z    0
2764  2023-06-26T10:40:58.695Z  2023-06-26T10:40:58.695Z    0
2765  2023-06-26T10:40:48.650Z  2023-06-26T10:40:48.650Z    0

[2766 rows x 15 columns]

In [ ]:
IndiaVixDf

,_id,EOD_TIMESTAMP,EOD_INDEX_NAME,EOD_OPEN_INDEX_VAL,EOD_CLOSE_INDEX_VAL,EOD_HIGH_INDEX_VAL,EOD_LOW_INDEX_VAL,EOD_PREV_CLOSE,TIMESTAMP,VIX_PTS_CHG,VIX_PERC_CHG,ALTERNATE_INDEX_NAME,createdAt,updatedAt,__v
0,6568795a6b03706ca2112256,30-NOV-2023,INDIA VIX,12.7075,12.6900,13.3525,11.7625,12.7075,2023-11-29T18:30:00.000Z,-0.0175,-0.137714,INDIA VIX,2023-11-30T12:00:26.927Z,2023-11-30T12:00:26.927Z,0
1,656727de63930729e13eed0b,29-NOV-2023,INDIA VIX,12.1750,12.7075,14.4600,11.3325,12.1750,2023-11-28T18:30:00.000Z,0.5325,4.373717,INDIA VIX,2023-11-29T12:00:30.259Z,2023-11-29T12:00:30.259Z,0
2,6565d65ce9eecb1f95eebd46,28-NOV-2023,INDIA VIX,11.3300,12.1750,12.4925,11.0650,11.3300,2023-11-27T18:30:00.000Z,0.8450,7.458076,INDIA VIX,2023-11-28T12:00:28.842Z,2023-11-28T12:00:28.842Z,0
3,6560916f2ae99d7f07eaa39b,24-NOV-2023,INDIA VIX,11.3150,11.3300,11.4650,8.6775,11.3150,2023-11-23T18:30:00.000Z,0.0150,0.132567,INDIA VIX,2023-11-24T12:05:03.547Z,2023-11-24T12:05:03.547Z,0
4,655f3fef55ad237b659c87d9,23-NOV-2023,INDIA VIX,11.8650,11.3150,12.1400,10.9750,11.8650,2023-11-22T18:30:00.000Z,-0.5500,-4.635483,INDIA VIX,2023-11-23T12:05:03.814Z,2023-11-23T12:05:03.814Z,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2761,64996b580715db000745551f,07-JAN-2013,INDIA VIX,13.3700,13.9200,14.0400,13.3700,13.3700,2013-01-06T18:30:00.000Z,0.5500,4.113687,INDIA VIX,2023-06-26T10:41:28.828Z,2023-06-26T10:41:28.828Z,0
2762,64996b4e7f346a00085d3b23,04-JAN-2013,INDIA VIX,13.4700,13.3700,13.6300,13.2800,13.4700,2013-01-03T18:30:00.000Z,-0.1000,-0.742390,INDIA VIX,2023-06-26T10:41:18.797Z,2023-06-26T10:41:18.797Z,0
2763,64996b44c504a400073793d5,03-JAN-2013,INDIA VIX,13.7100,13.4700,13.9400,13.2200,13.7100,2013-01-02T18:30:00.000Z,-0.2400,-1.750547,INDIA VIX,2023-06-26T10:41:08.746Z,2023-06-26T10:41:08.746Z,0
2764,64996b3a583df60007d9b8bc,02-JAN-2013,INDIA VIX,13.6900,13.7100,13.9100,12.9900,13.6900,2013-01-01T18:30:00.000Z,0.0200,0.146092,INDIA VIX,2023-06-26T10:40:58.695Z,2023-06-26T10:40:58.695Z,0
2765,64996b303c4faf0007f069a4,01-JAN-2013,INDIA VIX,14.9500,13.6900,14.9500,13.6400,14.9500,2012-12-31T18:30:00.000Z,-1.2600,-8.428094,INDIA VIX,2023-06-26T10:40:48.650Z,2023-06-26T10:40:48.650Z,0

In [ ]:
# # Define your path
# file_path = "/home/shankar/1MyProjects/test_poetry_project/data/raw/indiavix_historic.csv"

# # Save the DataFrame to the specified path
# IndiaVixDf.to_csv(file_path, index=False)

# Data Cleansing

## NiftyDf cleaning

In [4]:
# '''
# Upload the file from local system to Google Colab
# '''
# from google.colab import files

# uploaded = files.upload()

# for fn in uploaded.keys():
#   print('User uploaded file "{name}" with length {length} bytes'.format(
#       name=fn, length=len(uploaded[fn])))

# """
# Read the file from Google Drive
# """
# NiftyDf = pd.read_csv(
#     "/content/gdrive/MyDrive/GitHubProjects/test_poetry_project/nifty_historic.csv"
# )
# IndiaVixDf = pd.read_csv(
#     "/content/gdrive/MyDrive/GitHubProjects/test_poetry_project/indiavix_historic.csv"
# )

In [7]:
"""
Read the file from Google Drive
"""
NiftyDf = pd.read_csv(
    "/home/studio-lab-user/1MyProjects/test_poetry_project/data/raw/nifty_historic.csv"
)
IndiaVixDf = pd.read_csv(
    "/home/studio-lab-user/1MyProjects/test_poetry_project/data/raw/indiavix_historic.csv"
)

In [ ]:
# """
# Read the file from Desktop
# """
# NiftyDf = pd.read_csv(
#     "/home/shankar/1MyProjects/test_poetry_project/data/raw/nifty_historic.csv"
# )

# IndiaVixDf = pd.read_csv("/home/shankar/1MyProjects/test_poetry_project/data/raw/indiavix_historic.csv")

In [8]:
ExpMvDf = NiftyDf.copy()

In [9]:
ExpMvDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5948 entries, 0 to 5947
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Index Name      5948 non-null   object
 1   INDEX_NAME      5948 non-null   object
 2   HistoricalDate  5948 non-null   object
 3   OPEN            5948 non-null   float64
 4   HIGH            5948 non-null   float64
 5   LOW             5948 non-null   float64
 6   CLOSE           5948 non-null   float64
dtypes: float64(4), object(3)
memory usage: 325.4+ KB

In [10]:
# Delete the columns 'Index Name' and 'INDEX_NAME'
ExpMvDf.drop(["Index Name", "INDEX_NAME"], axis=1, inplace=True)

In [11]:
# Rename all column names
ExpMvDf.rename(
    columns={
        "HistoricalDate": "Date",
        "OPEN": "Open",
        "HIGH": "High",
        "LOW": "Low",
        "CLOSE": "Close",
    },
    inplace=True,
)

# Convert date column to datetime object
ExpMvDf["Date"] = pd.to_datetime(ExpMvDf["Date"])

# Convert the variables 'open', 'high', 'low', 'close' to float
ExpMvDf["Open"] = ExpMvDf["Open"].astype(float)
ExpMvDf["High"] = ExpMvDf["High"].astype(float)
ExpMvDf["Low"] = ExpMvDf["Low"].astype(float)
ExpMvDf["Close"] = ExpMvDf["Close"].astype(float)

ExpMvDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5948 entries, 0 to 5947
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5948 non-null   datetime64[ns]
 1   Open    5948 non-null   float64
 2   High    5948 non-null   float64
 3   Low     5948 non-null   float64
 4   Close   5948 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 232.5 KB

In [12]:
# Sort the ExpMvDf by historicaldate column in ascending order and sort the index
ExpMvDf.sort_values(by="Date", ascending=True, inplace=True)
ExpMvDf.reset_index(drop=True, inplace=True)

In [13]:
# Create a new variables called dayofweek such as Monday, Tuesday, etc. and numdayofweek
ExpMvDf["DayOfWeek"] = ExpMvDf["Date"].dt.day_name()
ExpMvDf["NumDayOfWeek"] = ExpMvDf["Date"].dt.dayofweek

In [14]:
# Calculate unique week number with week ending on Thursday

MinDate = ExpMvDf["Date"].min()
ExpMvDf["WeekNumber"] = ((ExpMvDf["Date"] - MinDate).dt.days // 7).astype(int)
ExpMvDf["WeekNumber"] += ExpMvDf["Date"].dt.dayofweek > 3

In [15]:
ExpMvDf.tail(10)

,Date,Open,High,Low,Close,DayOfWeek,NumDayOfWeek,WeekNumber
5938,2023-11-16,19674.70,19875.25,19627.00,19765.20,Thursday,3,1245
5939,2023-11-17,19674.75,19806.00,19667.45,19731.80,Friday,4,1246
5940,2023-11-20,19731.15,19756.45,19670.50,19694.00,Monday,0,1246
5941,2023-11-21,19770.90,19829.10,19754.05,19783.40,Tuesday,1,1246
5942,2023-11-22,19784.00,19825.55,19703.85,19811.85,Wednesday,2,1246
5943,2023-11-23,19828.45,19875.15,19786.75,19802.00,Thursday,3,1246
5944,2023-11-24,19809.60,19832.85,19768.85,19794.70,Friday,4,1247
5945,2023-11-28,19844.65,19916.85,19800.00,19889.70,Tuesday,1,1247
5946,2023-11-29,19976.55,20104.65,19956.30,20096.60,Wednesday,2,1247
5947,2023-11-30,20108.50,20158.70,20015.85,20133.15,Thursday,3,1247

In [16]:
# Create a new empty column named 'ExpiryDay'
ExpMvDf["ExpiryDay"] = pd.Series()

In [17]:
# Display rows of the weeknumber 0
ExpMvDf[ExpMvDf['WeekNumber'] == 0]

,Date,Open,High,Low,Close,DayOfWeek,NumDayOfWeek,WeekNumber,ExpiryDay
0,2000-01-03,1482.15,1592.90,1482.15,1592.2,Monday,0,0,NaN
1,2000-01-04,1594.40,1641.95,1594.40,1638.7,Tuesday,1,0,NaN
2,2000-01-05,1634.55,1635.50,1555.05,1595.8,Wednesday,2,0,NaN
3,2000-01-06,1595.80,1639.00,1595.80,1617.6,Thursday,3,0,NaN

In [26]:
# Filter the last row of the weeknumber 0
ExpMvDf[ExpMvDf['WeekNumber'] == 0].tail(1)

,Date,Open,High,Low,Close,DayOfWeek,NumDayOfWeek,WeekNumber,ExpiryDay
3,2000-01-06,1595.8,1639.0,1595.8,1617.6,Thursday,3,0,NaN

In [33]:
ExpMvDf[ExpMvDf['WeekNumber'] == 0].tail(1)['Date'].dt.month

3    1
Name: Date, dtype: int32

In [ ]:
# For every unique weeknumber
for i in ExpMvDf['WeekNumber'].unique():
    # If the last row of 'WeekNumber' i is Thursday
    if ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['DayOfWeek'].values == 'Thursday':
        # If the Timestamp of last row of 'WeekNumber' i is equal to the Timestamp of LastWeekOfMonth(n = 'month', weekday = 3)
        if ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].values == ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].values + pd.offsets.LastWeekOfMonth(n=ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].dt.month, weekday=3):
            # Set 'ExpiryDay = 'MExpiry'
            ExpMvDf['ExpiryDay'] = 'MExpiry'
        else:
            # Set 'ExpiryDay = 'WExpiry'
            ExpMvDf['ExpiryDay'] = 'WExpiry'
    # If the last row of 'WeekNumber' i is Wednesday        
    elif ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['DayOfWeek'].values == 'Wednesday':
        # If the Timestamp of last row of 'WeekNumber' i is equal to the Timestamp of LastWeekOfMonth(n = 'month', weekday = 3)
        if ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].values == ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].values + pd.offsets.LastWeekOfMonth(n=ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].dt.month, weekday=2):
            # Set 'ExpiryDay = 'MExpiry'
            ExpMvDf['ExpiryDay'] = 'MExpiry'
        else:
            # Set 'ExpiryDay = 'WExpiry'
            ExpMvDf['ExpiryDay'] = 'WExpiry'
            
    # If the last row of 'WeekNumber' i is Tuesday        
    elif ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['DayOfWeek'].values == 'Tuesday':
        # If the Timestamp of last row of 'WeekNumber' i is equal to the Timestamp of LastWeekOfMonth(n = 'month', weekday = 3)
        if ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].values == ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].values + pd.offsets.LastWeekOfMonth(n=ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].dt.month, weekday=1):
            # Set 'ExpiryDay = 'MExpiry'
            ExpMvDf['ExpiryDay'] = 'MExpiry'
        else:
            # Set 'ExpiryDay = 'WExpiry'
            ExpMvDf['ExpiryDay'] = 'WExpiry' 
      
    # If the last row of 'WeekNumber' i is Monday        
    elif ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['DayOfWeek'].values == 'Monday':
        # If the Timestamp of last row of 'WeekNumber' i is equal to the Timestamp of LastWeekOfMonth(n = 'month', weekday = 3)
        if ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].values == ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].values + pd.offsets.LastWeekOfMonth(n=ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].dt.month, weekday=0):
            # Set 'ExpiryDay = 'MExpiry'
            ExpMvDf['ExpiryDay'] = 'MExpiry'
        else:
            # Set 'ExpiryDay = 'WExpiry'
            ExpMvDf['ExpiryDay'] = 'WExpiry' 
            
    # If the last row of 'WeekNumber' i is Friday        
    elif ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['DayOfWeek'].values == 'Friday':
        # If the Timestamp of last row of 'WeekNumber' i is equal to the Timestamp of LastWeekOfMonth(n = 'month', weekday = 3)
        if ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].values == ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].values + pd.offsets.LastWeekOfMonth(n=ExpMvDf[ExpMvDf['WeekNumber'] == i].tail(1)['Date'].dt.month, weekday=4):
            # Set 'ExpiryDay = 'MExpiry'
            ExpMvDf['ExpiryDay'] = 'MExpiry'
        else:
            # Set 'ExpiryDay = 'WExpiry'
            ExpMvDf['ExpiryDay'] = 'WExpiry'

In [ ]:
# # For every unique weeknumber
# for i in ExpMvDf['WeekNumber'].unique():
#     #Loop through rows of the dataframe where the weeknumber is equal to i
#     for index, row in ExpMvDf[ExpMvDf['WeekNumber'] == i].iterrows():
#         #Check if DayOfWeek is Thursday
#         if row['DayOfWeek'] == 'Thursday' and row['Date'] == row['Date'] + pd.offsets.LastWeekOfMonth(n=1, weekday=3):
#             #Set 'ExpiryDay = 'MExpiry'
#              ExpMvDf['ExpiryDay'] = 'MExpiry'
#         elif row['DayOfWeek'] == 'Thursday':
#             #Set 'ExpiryDay = 'WExpiry'
#              ExpMvDf['ExpiryDay'] = 'WExpiry'
#         elif row['DayOfWeek'] == 'Wednesday' and row['Date'] == row['Date'] + pd.offsets.LastWeekOfMonth(n=1, weekday=2):
#             #Set 'ExpiryDay = 'MExpiry'
#              ExpMvDf['ExpiryDay'] = 'MExpiry'
#         elif row['DayOfWeek'] == 'Wednesday':
#             #Set 'ExpiryDay = 'WExpiry'
#              ExpMvDf['ExpiryDay'] = 'WExpiry'
#         elif row['DayOfWeek'] == 'Tuesday' and row['Date'] == row['Date'] + pd.offsets.LastWeekOfMonth(n=1, weekday=1):
#             #Set 'ExpiryDay = 'MExpiry'
#              ExpMvDf['ExpiryDay'] = 'MExpiry'
#         elif row['DayOfWeek'] == 'Tuesday':
#             #Set 'ExpiryDay = 'WExpiry'
#              ExpMvDf['ExpiryDay'] = 'WExpiry'
#         elif row['DayOfWeek'] == 'Monday' and row['Date'] == row['Date'] + pd.offsets.LastWeekOfMonth(n=1, weekday=0):
#             #Set 'ExpiryDay = 'MExpiry'
#              ExpMvDf['ExpiryDay'] = 'MExpiry'
#         elif row['DayOfWeek'] == 'Monday':
#             #Set 'ExpiryDay = 'WExpiry'
#              ExpMvDf['ExpiryDay'] = 'WExpiry'
#         elif row['DayOfWeek'] == 'Friday' and row['Date'] == row['Date'] + pd.offsets.LastWeekOfMonth(n=1, weekday=4):
#             #Set 'ExpiryDay = 'MExpiry'
#              ExpMvDf['ExpiryDay'] = 'MExpiry'
#         elif row['DayOfWeek'] == 'Friday':
#             #Set 'ExpiryDay = 'WExpiry'
#              ExpMvDf['ExpiryDay'] = 'WExpiry'
#         else:
#             #Set 'ExpiryDay = 'NA'
#              ExpMvDf['ExpiryDay'] = 'NA'

In [ ]:
#(ExpMvDf['Date'][15] + pd.offsets.LastWeekOfMonth()).dayofweek
#(ExpMvDf['Date'][15] + pd.offsets.MonthEnd()).dayofweek
#ExpMvDf['MonthEnd'] = ExpMvDf['Date'] + pd.offsets.MonthEnd()
#ExpMvDf['Date'][16] == ExpMvDf['Date'][0] + pd.offsets.LastWeekOfMonth(n=1, weekday=3)

In [ ]:
ExpMvDf.head(50)

,Date,Open,High,Low,Close,DayOfWeek,NumDayOfWeek,WeekNumber,ExpiryDay,MonthEnd
0,2000-01-03,1482.15,1592.90,1482.15,1592.2,Monday,0,0,WExpiry,2000-01-31
1,2000-01-04,1594.40,1641.95,1594.40,1638.7,Tuesday,1,0,WExpiry,2000-01-31
2,2000-01-05,1634.55,1635.50,1555.05,1595.8,Wednesday,2,0,WExpiry,2000-01-31
3,2000-01-06,1595.80,1639.00,1595.80,1617.6,Thursday,3,0,WExpiry,2000-01-31
4,2000-01-07,1616.60,1628.25,1597.20,1613.3,Friday,4,1,WExpiry,2000-01-31
5,2000-01-10,1615.65,1662.10,1614.95,1632.9,Monday,0,1,WExpiry,2000-01-31
6,2000-01-11,1633.25,1639.90,1548.25,1572.5,Tuesday,1,1,WExpiry,2000-01-31
7,2000-01-12,1572.30,1631.55,1571.70,1624.8,Wednesday,2,1,WExpiry,2000-01-31
8,2000-01-13,1627.85,1671.15,1613.65,1621.4,Thursday,3,1,WExpiry,2000-01-31
9,2000-01-14,1622.15,1627.40,1591.40,1622.7,Friday,4,2,WExpiry,2000-01-31
10,2000-01-17,1623.50,1668.45,1604.65,1611.6,Monday,0,2,WExpiry,2000-01-31
11,2000-01-18,1611.65,1615.15,1587.85,1606.7,Tuesday,1,2,WExpiry,2000-01-31
12,2000-01-19,1610.05,1644.45,1608.85,1634.8,Wednesday,2,2,WExpiry,2000-01-31
13,2000-01-20,1634.65,1644.40,1596.65,1601.1,Thursday,3,2,WExpiry,2000-01-31
14,2000-01-21,1601.25,1626.50,1593.20,1620.6,Friday,4,3,WExpiry,2000-01-31
15,2000-01-24,1623.05,1645.00,1608.30,1613.6,Monday,0,3,WExpiry,2000-01-31
16,2000-01-25,1612.95,1613.65,1579.55,1586.4,Tuesday,1,3,WExpiry,2000-01-31
17,2000-01-27,1600.50,1633.55,1600.05,1603.9,Thursday,3,3,WExpiry,2000-01-31
18,2000-01-28,1603.65,1610.90,1592.70,1599.1,Friday,4,4,WExpiry,2000-01-31
19,2000-01-31,1598.35,1598.35,1538.70,1546.2,Monday,0,4,WExpiry,2000-02-29
20,2000-02-01,1546.20,1554.15,1521.40,1549.5,Tuesday,1,4,WExpiry,2000-02-29
21,2000-02-02,1554.20,1605.90,1554.20,1588.0,Wednesday,2,4,WExpiry,2000-02-29
22,2000-02-03,1591.25,1616.70,1591.25,1597.9,Thursday,3,4,WExpiry,2000-02-29
23,2000-02-04,1598.50,1621.35,1596.45,1599.7,Friday,4,5,WExpiry,2000-02-29
24,2000-02-07,1599.80,1645.90,1599.80,1636.6,Monday,0,5,WExpiry,2000-02-29
25,2000-02-08,1636.60,1676.10,1636.60,1662.7,Tuesday,1,5,WExpiry,2000-02-29
26,2000-02-09,1666.95,1731.65,1666.70,1689.6,Wednesday,2,5,WExpiry,2000-02-29
27,2000-02-10,1692.10,1713.70,1692.10,1711.2,Thursday,3,5,WExpiry,2000-02-29
28,2000-02-11,1712.85,1771.65,1712.85,1756.0,Friday,4,6,WExpiry,2000-02-29
29,2000-02-14,1777.75,1795.45,1738.75,1744.5,Monday,0,6,WExpiry,2000-02-29
30,2000-02-15,1744.50,1744.50,1694.45,1702.5,Tuesday,1,6,WExpiry,2000-02-29
31,2000-02-16,1704.85,1742.80,1704.15,1711.1,Wednesday,2,6,WExpiry,2000-02-29
32,2000-02-17,1710.05,1753.10,1710.05,1742.1,Thursday,3,6,WExpiry,2000-02-29
33,2000-02-18,1742.30,1764.15,1713.45,1717.8,Friday,4,7,WExpiry,2000-02-29
34,2000-02-21,1719.55,1767.80,1719.55,1753.5,Monday,0,7,WExpiry,2000-02-29
35,2000-02-22,1754.20,1781.05,1733.55,1739.0,Tuesday,1,7,WExpiry,2000-02-29
36,2000-02-23,1745.20,1818.15,1689.20,1696.4,Wednesday,2,7,WExpiry,2000-02-29
37,2000-02-24,1696.40,1751.60,1693.10,1732.0,Thursday,3,7,WExpiry,2000-02-29
38,2000-02-25,1734.05,1757.05,1699.25,1710.4,Friday,4,8,WExpiry,2000-02-29
39,2000-02-28,1711.15,1726.65,1670.75,1722.5,Monday,0,8,WExpiry,2000-02-29
40,2000-02-29,1722.85,1783.30,1626.35,1654.8,Tuesday,1,8,WExpiry,2000-03-31
41,2000-03-01,1661.50,1727.90,1630.00,1712.7,Wednesday,2,8,WExpiry,2000-03-31
42,2000-03-02,1713.65,1773.85,1690.05,1696.5,Thursday,3,8,WExpiry,2000-03-31
43,2000-03-03,1696.45,1719.15,1644.40,1656.0,Friday,4,9,WExpiry,2000-03-31
44,2000-03-06,1656.00,1721.00,1656.00,1688.5,Monday,0,9,WExpiry,2000-03-31
45,2000-03-07,1711.85,1730.85,1684.90,1702.7,Tuesday,1,9,WExpiry,2000-03-31
46,2000-03-08,1717.75,1765.25,1654.45,1666.3,Wednesday,2,9,WExpiry,2000-03-31
47,2000-03-09,1667.45,1692.25,1595.45,1646.2,Thursday,3,9,WExpiry,2000-03-31
48,2000-03-10,1647.85,1680.45,1588.20,1602.7,Friday,4,10,WExpiry,2000-03-31
49,2000-03-13,1601.40,1645.00,1553.45,1560.7,Monday,0,10,WExpiry,2000-03-31

## Calculating Expected Move of Index
Expected Move = Stock Price x (IV/100) x square root of (DTE/365)

## Tastytrade method
* Target Expiry
* ATM Straddle * 0.6
* 1 OTM Strangle * 0.3
* 2 OTM Strangle * 0.1