# When using Google Colab, run the following code

## Mounting Google Drive

In [1]:
# """
# Mounting Google Drive
# """
# from google.colab import drive

# drive.mount("/content/gdrive")

## Install Poetry in the colab runtime environment

In [2]:
# !poetry --version

In [3]:
# !pip install poetry

In [4]:
# !poetry --version

In [5]:
# !poetry config --list

In [6]:
# # Configure poetry to create virtual environments in the project folder

# !poetry config virtualenvs.in-project true

## Installing Project Dependencies

In [7]:
# !pwd

In [8]:
# %cd /content/gdrive/MyDrive/GitHubProjects/test_poetry_project

In [9]:
# !pwd

In [10]:
# # !ls -a
# !rm -rf .venv/

In [11]:
# !make env-colab

* **Adding additional packages to the virtual environment (USEFUL ONLY IF CREATING VIRTUAL ENVIRONMENT IN PROJECT FOLDER IN COLAB)**

In [12]:
# '''
# Add any package like 'torch'
# '''

# !poetry add torch
# !poetry install --no-ansi --no-root

* **Add poetry virtual environment to python path (USEFUL ONLY IF CREATING VIRTUAL ENVIRONMENT IN PROJECT FOLDER IN COLAB)**

In [13]:
# """
# Add poetry virtual environment to python
# path so that all installed dependencies
# can be found by the python interpreter.
# """

# import os
# import sys

# VENV_PATH = "/content/gdrive/MyDrive/GitHubProjects/test_poetry_project/.venv/lib/python3.10/site-packages"
# LOCAL_VENV_PATH = "/content/venv"  # local notebook
# os.symlink(VENV_PATH, LOCAL_VENV_PATH)  # connect to directory in drive
# sys.path.insert(0, LOCAL_VENV_PATH)

* **Use the added packages (EXAMPLE CODE)**

In [14]:
# import torch
# logging.info(torch.__version__)

* **Check the size of the virtual environment**

In [15]:
# !du -hs /content/gdrive/MyDrive/GitHubProjects/test_poetry_project/.venv/

## Format with black

In [16]:
# Install black
# !pip install "black[jupyter]"

# Format using black
# !black /content/gdrive/MyDrive/GitHubProjects/test_poetry_project/notebooks/

# Importing Libraries

In [17]:
# Import basic libraries
import os
import requests
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", None)

import calendar
from datetime import datetime, timedelta

import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.io as pio
import seaborn as sns

# # from nsepython import *
from nsepythonserver import *

%matplotlib inline

# Configure the logging module
import logging

# Specify the path to the log file
LogFile = "NSEDataNiftyExpMv60Dte.log"

# Open the log file in write mode to clear its contents
with open(LogFile, "w"):
    pass

# Configure the logging
logging.basicConfig(
    filename=LogFile,
    level=logging.INFO,
    format="%(asctime)s - %(levelname)s - %(message)s",
)

# Functions

# Variables

# Data Import, Cleaning

## Data Import from Google Colab

In [18]:
# '''
# Upload the file from local system to Google Colab
# '''
# from google.colab import files

# uploaded = files.upload()

# for fn in uploaded.keys():
#   logging.info('User uploaded file "{name}" with length {length} bytes'.format(
#       name=fn, length=len(uploaded[fn])))

# """
# Read the file from Google Drive
# """
# RawNiftyDf = pd.read_csv(
#     "/content/gdrive/MyDrive/GitHubProjects/test_poetry_project/nifty_historic.csv"
# )
# RawIndiaVixDf = pd.read_csv(
#     "/content/gdrive/MyDrive/GitHubProjects/test_poetry_project/indiavix_historic.csv"
# )

## Data Import from Asmsl

In [19]:
# """
# Read the file from Asmsl
# """
# RawNiftyDf = pd.read_csv(
#     "/home/studio-lab-user/6MyProjectsData/test_poetry_project/data/raw/nifty_historic.csv"
# )
# RawIndiaVixDf = pd.read_csv(
#     "/home/studio-lab-user/6MyProjectsData/test_poetry_project/data/raw/indiavix_historic.csv"
# )

## Data Import from Desktop

In [20]:
"""
Read the file from Desktop
"""
RawExpMvDf = pd.read_excel(
    "/home/shankar/MEGAsync/6MyProjectsData/test_poetry_project/data/processed/NiftyDfVerifiedTradeSignal.xlsx"
)

# Create ExpMvDf

In [21]:
ExpMvDf = RawExpMvDf.copy()

In [22]:
ExpMvDf[20:80]

,Open,High,Close,Low,Date,IndiaVix,Rsi,RsiSignal,BbUpper,BbLower,BbSignal,MacdLine,SignalLine,MacdHistogram,MacdSignal,Ema1,Ema2,EmasSignal,StochK,StochD,StochasticSignal,TradeSignal,LongEntry,LongExit,ShortEntry,ShortExit,ProfitLoss,VerifiedSignal
20,7589.50,7600.45,7555.95,7541.25,2016-02-01 15:30:00,17.8900,49.551136,0,7800.881027,7230.163973,0,NaN,NaN,NaN,0,7481.245847,7580.164647,0,86.553812,73.925651,0,0,0.00,0.00,0.00,0.00,0.0,0
21,7566.65,7576.30,7455.55,7428.05,2016-02-02 15:30:00,18.0350,47.046448,0,7753.664150,7243.805850,0,NaN,NaN,NaN,0,7476.573875,7570.578905,0,58.918249,78.014890,-1,0,0.00,0.00,0.00,0.00,0.0,0
22,7392.45,7419.40,7361.80,7350.30,2016-02-03 15:30:00,18.5875,39.643779,0,7700.851067,7254.333933,0,NaN,NaN,NaN,0,7455.705898,7554.518989,0,33.113130,59.528397,0,0,0.00,0.00,0.00,0.00,0.0,0
23,7411.45,7457.05,7404.00,7365.95,2016-02-04 15:30:00,18.2075,43.259568,0,7648.311287,7273.173713,0,NaN,NaN,NaN,0,7446.304825,7542.940605,0,45.270929,45.767436,0,0,0.00,0.00,0.00,0.00,0.0,0
24,7418.25,7503.15,7489.10,7406.65,2016-02-05 15:30:00,18.1150,52.641063,0,7638.027688,7275.537312,0,NaN,NaN,NaN,0,7454.085766,7538.799020,0,68.978966,49.121008,1,0,0.00,0.00,0.00,0.00,0.0,0
25,7489.70,7512.55,7387.25,7363.20,2016-02-08 15:30:00,20.2575,51.837769,0,7616.327905,7275.827095,0,-23.412065,NaN,NaN,0,7441.933809,7527.141403,0,40.604541,51.618146,-1,0,0.00,0.00,0.00,0.00,0.0,0
26,7303.95,7323.45,7298.20,7275.15,2016-02-09 15:30:00,21.7275,43.094229,0,7605.786390,7259.803610,0,-31.683008,NaN,NaN,0,7415.800389,7509.530526,0,15.796072,41.793193,0,0,0.00,0.00,0.00,0.00,0.0,0
27,7264.30,7271.85,7215.70,7177.75,2016-02-10 15:30:00,22.4650,45.062770,0,7612.152531,7223.977469,0,-43.661967,NaN,NaN,0,7379.418500,7486.928178,0,8.977999,21.792870,0,0,0.00,0.00,0.00,0.00,0.0,0
28,7203.60,7208.65,6976.35,6959.95,2016-02-11 15:30:00,25.9650,36.990691,0,7654.741990,7122.783010,0,-69.754502,NaN,NaN,0,7306.133318,7447.652933,0,2.560500,9.111523,0,0,0.00,0.00,0.00,0.00,0.0,0
29,7023.65,7034.80,6980.95,6869.00,2016-02-12 15:30:00,24.6725,28.223340,0,7673.846854,7048.093146,0,-88.980261,NaN,NaN,0,7247.009079,7411.752708,0,15.305216,8.947905,1,0,0.00,0.00,0.00,0.00,0.0,0
30,7057.35,7182.80,7162.95,7056.80,2016-02-15 15:30:00,22.3750,38.443316,1,7669.887038,7024.567962,1,-89.654235,NaN,NaN,0,7231.725610,7392.614038,0,40.187299,19.351005,0,1,0.00,0.00,0.00,0.00,0.0,1
31,7201.25,7204.65,7048.25,7037.70,2016-02-16 15:30:00,23.0400,34.962551,0,7681.317426,6982.862574,0,-97.586809,NaN,NaN,0,7198.366408,7366.124497,0,24.506118,26.666211,-1,0,7201.25,7484.85,0.00,0.00,283.6,0
32,7058.85,7123.70,7108.45,6960.65,2016-02-17 15:30:00,21.8325,38.220831,0,7675.107148,6956.407852,0,-98.201799,NaN,NaN,0,7182.017970,7346.303381,0,32.736346,32.476588,1,0,0.00,0.00,0.00,0.00,0.0,0
33,7177.40,7215.10,7191.75,7127.85,2016-02-18 15:30:00,21.4850,35.551065,0,7673.494332,6946.265668,0,-91.346889,-83.066692,-8.280197,0,7183.787430,7334.414660,0,44.124684,33.789049,0,0,0.00,0.00,0.00,0.00,0.0,0
34,7170.55,7226.85,7210.75,7145.95,2016-02-19 15:30:00,20.9150,36.702619,0,7672.648361,6940.506639,0,-83.511174,-83.166282,-0.344892,0,7188.689716,7324.901994,0,48.317546,41.726192,0,0,0.00,0.00,0.00,0.00,0.0,0
35,7208.85,7252.40,7234.55,7200.70,2016-02-22 15:30:00,21.0200,40.953005,0,7660.365392,6933.999608,0,-74.630603,-81.298724,6.668122,1,7197.027949,7317.951840,0,56.802113,49.748114,0,0,0.00,0.00,0.00,0.00,0.0,0
36,7240.30,7241.70,7109.55,7090.70,2016-02-23 15:30:00,23.8375,39.931346,0,7647.083437,6914.621563,0,-76.265589,-80.217818,3.952229,0,7181.122867,7301.920929,0,37.378603,47.499421,-1,0,0.00,0.00,0.00,0.00,0.0,0
37,7075.00,7090.80,7018.70,7009.75,2016-02-24 15:30:00,22.9550,35.195574,0,7636.147731,6883.652269,0,-83.558300,-80.924780,-2.633520,-1,7151.591437,7280.134704,0,23.261596,39.147437,0,0,0.00,0.00,0.00,0.00,0.0,0
38,7029.85,7034.20,6970.60,6961.40,2016-02-25 15:30:00,22.7450,29.494582,0,7626.167812,6848.227188,0,-91.967498,-83.234925,-8.732573,0,7118.683903,7256.324342,0,15.787429,25.475876,0,0,0.00,0.00,0.00,0.00,0.0,0
39,7039.30,7052.90,7029.75,6985.10,2016-02-26 15:30:00,21.8650,35.367551,1,7577.843982,6843.171018,0,-92.975252,-85.254031,-7.721221,0,7102.514102,7238.895547,0,35.372428,24.807151,1,1,0.00,0.00,0.00,0.00,0.0,1
40,7050.45,7094.60,6987.05,6825.80,2016-02-29 15:30:00,20.1575,36.762391,0,7523.997183,6840.127817,0,-95.969924,-87.459282,-8.510642,0,7081.520629,7219.522812,0,36.150656,29.103504,0,0,7050.45,7484.85,0.00,0.00,434.4,0
41,7038.25,7235.50,7222.30,7035.10,2016-03-01 15:30:00,18.6725,50.248494,0,7488.112273,6852.687727,0,-79.131045,-85.755264,6.624218,1,7107.116878,7219.736442,0,92.944210,54.822431,0,0,0.00,0.00,0.00,0.00,0.0,0
42,7321.70,7380.35,7368.85,7308.15,2016-03-02 15:30:00,18.9900,65.888115,0,7489.373254,6852.131746,0,-53.744438,-79.235652,25.491214,0,7154.704719,7231.206716,0,97.926247,75.673704,0,0,0.00,0.00,0.00,0.00,0.0,0
43,7429.55,7483.95,7475.60,7406.05,2016-03-03 15:30:00,18.0400,68.493663,0,7505.355603,6843.309397,0,-25.001986,-68.230315,43.228329,0,7213.049315,7250.006199,0,98.731292,96.533916,0,0,0.00,0.00,0.00,0.00,0.0,0
44,7505.40,7505.90,7485.35,7444.10,2016-03-04 15:30:00,17.8825,63.835722,0,7504.420803,6843.869197,0,-1.453947,-54.719269,53.265323,0,7262.558531,7268.109569,0,96.978386,97.878641,-1,0,0.00,0.00,0.00,0.00,0.0,0
45,7486.40,7527.15,7485.30,7442.15,2016-03-08 15:30:00,18.4650,70.802989,0,7525.172822,6832.922178,0,16.998932,-40.242101,57.241033,0,7303.056980,7284.816525,1,94.032936,96.580871,0,0,0.00,0.00,0.00,0.00,0.0,0
46,7436.10,7539.00,7531.80,7424.30,2016-03-09 15:30:00,17.5050,70.417169,0,7568.134600,6813.320400,0,34.872437,-25.107520,59.979957,0,7344.646620,7303.815254,0,98.990466,96.667263,1,0,0.00,0.00,0.00,0.00,0.0,0
47,7545.35,7547.10,7486.15,7447.40,2016-03-10 15:30:00,17.8950,64.733260,-1,7604.135572,6804.364428,0,44.913655,-11.020127,55.933783,0,7370.374507,7317.841003,0,91.549979,94.857794,-1,-1,0.00,0.00,0.00,0.00,0.0,0
48,7484.85,7543.95,7510.20,7460.60,2016-03-11 15:30:00,17.0975,64.910621,0,7637.981212,6823.903788,0,54.141776,2.074089,52.067687,0,7395.797324,7332.637849,0,94.884237,95.141561,0,0,0.00,0.00,7484.85,8666.15,-1181.3,0
49,7542.60,7583.70,7538.75,7515.05,2016-03-14 15:30:00,17.1025,65.075825,0,7670.165276,6847.499724,0,62.982868,14.302041,48.680827,0,7421.788720,7348.492630,0,94.069138,93.501118,1,0,0.00,0.00,0.00,0.00,0.0,0
50,7535.85,7545.20,7460.60,7452.80,2016-03-15 15:30:00,17.5975,68.244894,0,7691.922074,6855.507926,0,63.067688,24.084736,38.982951,0,7428.845316,7357.116274,0,83.757752,90.903709,-1,0,0.00,0.00,0.00,0.00,0.0,0
51,7457.05,7508.00,7498.75,7405.15,2016-03-16 15:30:00,17.1150,76.395227,0,7711.836026,6880.643974,0,65.405112,32.368841,33.036271,0,7441.555259,7368.011176,0,88.791397,88.872762,0,0,0.00,0.00,0.00,0.00,0.0,0
52,7557.40,7585.30,7512.55,7479.40,2016-03-17 15:30:00,16.8400,80.966802,0,7732.891208,6899.998792,0,67.572286,39.423175,28.149111,0,7454.463393,7379.129547,0,90.421330,87.656826,1,0,0.00,0.00,0.00,0.00,0.0,0
53,7534.65,7613.60,7604.35,7517.90,2016-03-18 15:30:00,16.3825,81.651427,0,7768.134617,6906.015383,0,75.714492,46.692688,29.021804,0,7481.715504,7396.454197,0,98.825844,92.679524,0,0,0.00,0.00,0.00,0.00,0.0,0
54,7619.20,7713.55,7704.25,7617.70,2016-03-21 15:30:00,16.3325,87.164473,0,7818.118095,6905.381905,0,89.089527,55.182565,33.906962,0,7522.176321,7420.130797,0,98.629228,95.958801,0,0,0.00,0.00,0.00,0.00,0.0,0
55,7695.55,7728.20,7714.90,7643.80,2016-03-22 15:30:00,16.4300,83.270296,0,7863.985575,6907.549425,0,99.388243,64.032465,35.355777,0,7557.216990,7442.805352,0,96.833710,98.096261,-1,0,0.00,0.00,0.00,0.00,0.0,0
56,7717.45,7726.85,7716.50,7670.60,2016-03-23 15:30:00,16.3450,79.197111,0,7897.551003,6934.678997,0,106.447079,72.522114,33.924965,0,7586.177537,7463.858786,0,96.378270,97.280403,0,0,0.00,0.00,0.00,0.00,0.0,0
57,7741.00,7749.40,7615.10,7587.70,2016-03-28 15:30:00,17.4850,61.822034,-1,7896.625621,6995.244379,0,102.759155,78.573358,24.185797,0,7591.436167,7475.492726,0,60.987654,84.733211,0,0,0.00,0.00,0.00,0.00,0.0,0
58,7606.55,7652.90,7597.00,7582.25,2016-03-29 15:30:00,17.6375,59.329824,0,7872.513235,7081.996765,0,97.267697,82.314122,14.953575,0,7592.447773,7484.839439,0,55.729847,71.031924,0,0,0.00,0.00,0.00,0.00,0.0,0
59,7651.10,7741.95,7735.20,7643.45,2016-03-30 15:30:00,16.8075,66.965377,0,7863.009877,7162.045123,0,102.779080,86.408775,16.370305,0,7618.402723,7504.097944,0,95.875091,70.864198,1,0,0.00,0.00,0.00,0.00,0.0,0
60,7727.65,7777.60,7738.40,7702.00,2016-03-31 15:30:00,16.5825,64.901904,0,7813.731692,7286.458308,0,106.176824,90.363668,15.813156,0,7640.220410,7522.121179,0,89.475097,80.360012,0,0,0.00,0.00,0.00,0.00,0.0,0
61,7718.05,7740.15,7713.05,7666.10,2016-04-01 15:30:00,17.2775,66.859860,0,7798.102004,7351.162996,0,105.620747,93.415876,12.204870,0,7653.462154,7536.808011,0,82.668815,89.339668,-1,0,0.00,0.00,0.00,0.00,0.0,0
62,7733.15,7764.45,7758.80,7704.40,2016-04-04 15:30:00,17.4500,67.895191,0,7809.915772,7378.344228,0,107.603038,96.253898,11.349140,0,7672.614489,7553.884318,0,94.952343,89.032085,1,0,0.00,0.00,0.00,0.00,0.0,0
63,7736.30,7736.30,7603.20,7588.65,2016-04-05 15:30:00,17.8300,53.921986,0,7808.960644,7392.059356,0,95.599594,96.123015,-0.523422,-1,7659.993673,7557.677832,0,53.174923,76.932027,-1,-1,0.00,0.00,0.00,0.00,0.0,0
64,7636.05,7638.65,7614.35,7591.75,2016-04-06 15:30:00,17.3450,60.186842,0,7808.267886,7405.652114,0,85.989353,94.096014,-8.106660,0,7651.694823,7562.037230,0,56.168613,68.098626,0,0,0.00,0.00,7636.05,8666.15,-1030.1,0
65,7630.40,7630.75,7546.45,7535.85,2016-04-07 15:30:00,16.9350,53.040541,0,7805.312929,7414.722071,0,72.094519,89.695247,-17.600728,0,7632.559401,7560.838212,0,22.484909,43.942815,0,0,0.00,0.00,0.00,0.00,0.0,0
66,7542.35,7569.35,7555.20,7526.70,2016-04-08 15:30:00,16.4325,52.736255,0,7804.782873,7417.592127,0,61.081020,83.971914,-22.890895,0,7618.494055,7560.404503,0,14.362726,31.005416,0,0,0.00,0.00,0.00,0.00,0.0,0
67,7577.80,7678.80,7671.40,7516.85,2016-04-11 15:30:00,16.0125,54.171073,0,7806.433214,7434.466786,0,60.979709,79.373160,-18.393451,0,7628.113318,7568.942618,0,59.271333,32.039656,1,0,0.00,0.00,0.00,0.00,0.0,0
68,7669.25,7717.40,7708.95,7663.35,2016-04-12 15:30:00,16.0250,50.316968,0,7812.771392,7448.003608,0,63.186589,76.135670,-12.949081,0,7642.810897,7579.712417,0,73.672100,49.102053,0,0,0.00,0.00,0.00,0.00,0.0,0
69,7777.15,7864.80,7850.45,7772.20,2016-04-13 15:30:00,16.0350,57.770135,0,7847.636983,7444.308017,0,75.434723,75.995474,-0.560751,0,7680.563461,7600.538385,0,95.875844,76.273092,0,0,0.00,0.00,0.00,0.00,0.0,0
70,7908.15,7920.60,7914.70,7842.75,2016-04-18 15:30:00,16.9475,60.600064,0,7884.238869,7453.116131,0,89.275313,78.651534,10.623778,1,7723.133741,7624.704663,0,98.538700,89.362215,0,0,0.00,0.00,0.00,0.00,0.0,0
71,7950.05,7950.40,7914.75,7877.55,2016-04-20 15:30:00,17.0750,67.974327,0,7916.002908,7462.952092,-1,99.104543,82.742250,16.362293,0,7757.973061,7647.015843,0,91.777188,95.397244,-1,-1,0.00,0.00,0.00,0.00,0.0,0
72,7953.65,7978.45,7912.05,7884.10,2016-04-21 15:30:00,16.5125,69.253804,0,7940.694241,7478.210759,0,105.460491,87.286000,18.174491,0,7785.987050,7667.403086,0,85.615251,91.977046,0,0,0.00,0.00,7953.65,8666.15,-712.5,0
73,7891.80,7923.35,7899.30,7873.35,2016-04-22 15:30:00,16.3800,61.844955,0,7964.656272,7483.743728,0,108.223664,91.473607,16.750056,0,7806.589404,7685.241310,0,82.853120,86.748520,0,0,0.00,0.00,0.00,0.00,0.0,0
74,7894.80,7911.00,7855.05,7827.00,2016-04-25 15:30:00,16.5725,57.948893,0,7978.925410,7484.554590,0,105.634863,94.305899,11.328964,0,7815.400422,7698.303517,0,73.266898,80.578423,0,0,0.00,0.00,0.00,0.00,0.0,0
75,7828.15,7974.50,7962.65,7822.55,2016-04-26 15:30:00,16.5800,65.294118,0,8011.746561,7476.508439,0,110.962819,97.637321,13.325498,0,7842.173072,7718.637862,0,96.577123,84.232380,1,0,0.00,0.00,0.00,0.00,0.0,0
76,7942.00,7991.00,7979.90,7940.55,2016-04-27 15:30:00,16.3525,64.038095,0,8044.406954,7470.188046,0,115.244622,101.158813,14.085809,0,7867.214332,7738.734949,0,97.658969,89.167663,0,0,0.00,0.00,0.00,0.00,0.0,0
77,7967.40,7992.00,7847.25,7834.45,2016-04-28 15:30:00,16.5975,65.960369,0,8050.527321,7487.282679,0,106.727926,102.272644,4.455282,0,7863.584453,7747.082261,0,69.535936,87.924009,-1,0,0.00,0.00,0.00,0.00,0.0,0
78,7844.25,7889.05,7849.80,7788.70,2016-04-29 15:30:00,16.5375,65.573120,0,8053.196927,7509.893073,0,99.041783,101.626468,-2.584685,-1,7861.078189,7754.983625,0,70.072609,79.089171,0,0,0.00,0.00,0.00,0.00,0.0,0
79,7822.70,7829.80,7805.90,7777.30,2016-05-02 15:30:00,17.0925,67.723205,0,8056.031748,7514.128252,0,88.395892,98.980340,-10.584448,0,7851.045791,7758.900270,0,60.833421,66.813989,0,0,0.00,0.00,0.00,0.00,0.0,0

# Calculating Expected Move for Expiry
**Expected Move Statistical Formula**
* Expected Move = Stock Price x (IV/100) x square root of (DTE/365)

**Tastytrade method Formula Below**

*Method 1*
* Expected Move = (ATM straddle price x 0.6) + (1st OTM strangle price x 0.3) + (2nd OTM strangle price x 0.1)

*Method 2*
* Expected move is the amount that a stock is predicted to increase or decrease from its current price, based on the current level of implied volatility for binary events.
* We use this calculation on the day before the binary event or very close to the expiration date. The expected move of a stock for a binary event can be found by calculating 85% of the value of the front month at the money (ATM) straddle. Add the price of the front month ATM call and the price of the front month ATM put, then multiply this value by 85%. 

*Method 3*
* Another easy way to calculate the expected move for a binary event is to take the ATM straddle, plus the 1st OTM strangle and then divide the sum by 2.

In [23]:
# Create new empty column ExpiryExit in ExpMvDf
ExpMvDf["ExpiryExit"] = None

# CalculateExpiryExit

In [24]:
def CalculateExpiryExit(Df):
    """
        A function to calculate ExpiryExit Dates

    Args:
        Df: A Pandas dataframe with dates in a variable named "Date" as datetime objects

    Returns:
        Df with ExipryExit dates as an appended column

    Note:

    """

    logging.info("*" * 15)
    logging.info("CalculateExpiryExit")
    logging.info("*" * 15)

    for IndexDf, RowDf in Df.iterrows():
        logging.info("-" * 15)
        logging.info("Loop No.:" + str(IndexDf))
        logging.info("-" * 15)

        logging.info("Date:" + str(RowDf["Date"]))

        ExpiryExit = RowDf["Date"] + pd.offsets.LastWeekOfMonth(n=2, weekday=3)

        try:
            if ExpiryExit in Df["Date"].values:
                Df.loc[IndexDf, "ExpiryExit"] = ExpiryExit
                logging.info("ExpiryExit :" + str(ExpiryExit))

            elif ExpiryExit - timedelta(1) in Df["Date"].values:
                Df.loc[IndexDf, "ExpiryExit"] = ExpiryExit - timedelta(1)
                logging.info("ExpiryExit :" + str(ExpiryExit - timedelta(1)))

            elif ExpiryExit - timedelta(2) in Df["Date"].values:
                Df.loc[IndexDf, "ExpiryExit"] = ExpiryExit - timedelta(2)
                logging.info("ExpiryExit :" + str(ExpiryExit - timedelta(2)))

            elif ExpiryExit - timedelta(3) in Df["Date"].values:
                Df.loc[IndexDf, "ExpiryExit"] = ExpiryExit - timedelta(3)
                logging.info("ExpiryExit :" + str(ExpiryExit - timedelta(3)))

            elif ExpiryExit - timedelta(6) in Df["Date"].values:
                Df.loc[IndexDf, "ExpiryExit"] = ExpiryExit - timedelta(6)
                logging.info("ExpiryExit :" + str(ExpiryExit - timedelta(6)))

        except KeyError:
            logging.info(f"KeyError in RowDf :{IndexDf}")

        except IndexError:
            logging.info(f"IndexError in RowDf :{IndexDf}")

        except ValueError:
            logging.info(f"ValueError in RowDf :{IndexDf}")

    return Df

In [25]:
ExpMvDf = CalculateExpiryExit(ExpMvDf)

In [26]:
ExpMvDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1976 entries, 0 to 1975
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Open              1976 non-null   float64
 1   High              1976 non-null   float64
 2   Close             1976 non-null   float64
 3   Low               1976 non-null   float64
 4   Date              1976 non-null   datetime64[ns]
 5   IndiaVix          1976 non-null   float64
 6   Rsi               1962 non-null   float64
 7   RsiSignal         1976 non-null   int64
 8   BbUpper           1957 non-null   float64
 9   BbLower           1957 non-null   float64
 10  BbSignal          1976 non-null   int64
 11  MacdLine          1951 non-null   float64
 12  SignalLine        1943 non-null   float64
 13  MacdHistogram     1943 non-null   float64
 14  MacdSignal        1976 non-null   int64
 15  Ema1              1976 non-null   float64
 16  Ema2              1976 non-null   float64
 17  EmasSignal        1976 non-null   int64
 18  StochK            1976 non-null   float64
 19  StochD            1976 non-null   float64
 20  StochasticSignal  1976 non-null   int64
 21  TradeSignal       1976 non-null   int64
 22  LongEntry         1976 non-null   float64
 23  LongExit          1976 non-null   float64
 24  ShortEntry        1976 non-null   float64
 25  ShortExit         1976 non-null   float64
 26  ProfitLoss        1976 non-null   float64
 27  VerifiedSignal    1976 non-null   int64
 28  ExpiryExit        1955 non-null   object
dtypes: datetime64[ns](1), float64(20), int64(7), object(1)
memory usage: 447.8+ KB

In [27]:
ExpMvDf["ExpiryExit"] = pd.to_datetime(ExpMvDf["ExpiryExit"])

In [28]:
ExpMvDf["Dte"] = (ExpMvDf["ExpiryExit"] - ExpMvDf["Date"]).dt.days

# Calulate Expected Move for ExpiryExit

In [29]:
ExpMvDf["DteExpMv"] = (
    ExpMvDf["Close"] * (ExpMvDf["IndiaVix"] / 100) * np.sqrt(ExpMvDf["Dte"] / 365)
)

In [30]:
ExpMvDf["DteLL"] = ExpMvDf["Close"] - ExpMvDf["DteExpMv"]
ExpMvDf["DteUL"] = ExpMvDf["Close"] + ExpMvDf["DteExpMv"]

In [31]:
ExpMvDf

,Open,High,Close,Low,Date,IndiaVix,Rsi,RsiSignal,BbUpper,BbLower,BbSignal,MacdLine,SignalLine,MacdHistogram,MacdSignal,Ema1,Ema2,EmasSignal,StochK,StochD,StochasticSignal,TradeSignal,LongEntry,LongExit,ShortEntry,ShortExit,ProfitLoss,VerifiedSignal,ExpiryExit,Dte,DteExpMv,DteLL,DteUL
0,7938.45,7972.55,7963.20,7909.80,2016-01-01 15:30:00,14.2600,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7963.200000,7963.200000,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,55.0,440.800483,7522.399517,8404.000483
1,7924.55,7937.55,7791.30,7781.10,2016-01-04 15:30:00,16.8350,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7931.945455,7949.976923,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,52.0,495.083312,7296.216688,8286.383312
2,7828.40,7831.20,7784.65,7763.25,2016-01-05 15:30:00,16.7025,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7905.164463,7937.259467,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,51.0,486.025692,7298.624308,8270.675692
3,7788.05,7800.95,7741.00,7721.20,2016-01-06 15:30:00,16.5525,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7875.316379,7922.162585,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,50.0,474.241149,7266.758851,8215.241149
4,7673.35,7674.95,7568.30,7556.60,2016-01-07 15:30:00,18.9600,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7819.495219,7894.942386,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,49.0,525.760893,7042.539107,8094.060893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971,21295.85,21390.50,21349.40,21232.45,2023-12-22 15:30:00,13.7075,70.719199,0,21877.731140,19785.043860,0,406.013500,399.598502,6.414998,0,21170.869723,20727.955263,0,72.376254,69.937521,1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN
1972,21365.20,21477.15,21441.35,21329.45,2023-12-26 15:30:00,14.6775,69.250977,-1,21872.032858,19955.407142,0,402.400615,400.158924,2.241690,0,21220.047955,20782.831781,0,81.584699,74.273555,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN
1973,21497.65,21675.75,21654.75,21495.80,2023-12-27 15:30:00,15.5575,71.683450,0,21885.382783,20118.562217,0,412.007607,402.528661,9.478946,0,21299.084690,20849.902413,0,97.682759,83.881238,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN
1974,21715.00,21801.45,21778.70,21678.00,2023-12-28 15:30:00,15.1400,75.204641,0,21925.763962,20246.391038,0,424.726958,406.968320,17.758638,0,21386.287474,20921.348381,0,97.795436,92.354298,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN
1975,21737.65,21770.30,21731.40,21676.90,2023-12-29 15:30:00,14.5025,72.152451,0,21924.069094,20407.910906,0,426.078849,410.790426,15.288423,0,21449.035206,20983.660044,0,93.211880,96.230025,-1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN

In [32]:
ExpMvDf.to_excel(
    "/home/shankar/MEGAsync/6MyProjectsData/test_poetry_project/data/processed/ExpMvDf60Dte.xlsx"
)

# PriceActionExpiryExitRangeAndExpiryExitResult

In [33]:
def PriceActionExpiryExitRangeAndExpiryExitResult(Df):
    """
        A function to computes whether the price has breached the exepected move range
        between the current date and the expiry date. It also checks where the price is
        on the expiry day

    Args:
        Df: A Pandas dataframe with the following variables with names
        "Date", "Dte", "DteLL", "DteUL", "ExpiryExit"

    Returns:
        Df: A Pandas dataframe with "ExpiryExitRange" and "ExpiryExitResult" as appended columns

    Note:
    """
    logging.info("*" * 15)
    logging.info("PriceActionExpiryExitRangeAndExpiryExitResult")
    logging.info("*" * 15)

    for IndexDf, RowDf in Df.iterrows():
        try:
            logging.info("-" * 15)
            logging.info("Loop No. :" + str(IndexDf))
            logging.info("-" * 15)

            Date = RowDf["Date"]
            logging.info("Date:" + str(Date))
            Dte = RowDf["Dte"]
            logging.info("Dte:" + str(Dte))

            # Set the lower and upper limits
            # LowerLimit = Df.loc[IndexDf, "DteLL"]
            LowerLimit = RowDf["DteLL"]
            logging.info("DteLL:" + str(LowerLimit))
            # UpperLimit = Df.loc[IndexDf, "DteUL"]
            UpperLimit = RowDf["DteUL"]
            logging.info("DteUL:" + str(UpperLimit))

            # Set the start and end dates
            StartDate = RowDf["Date"]
            logging.info("StartDate:" + str(StartDate))
            # EndDate = Df.loc[IndexDf, "ExpiryExit"]
            EndDate = RowDf["ExpiryExit"]
            logging.info("EndDate:" + str(EndDate))

            DateMask = (Df["Date"] >= StartDate) & (Df["Date"] <= EndDate)
            LLMask = DateMask & (Df["Close"] > LowerLimit)
            ULMask = DateMask & (Df["Close"] < UpperLimit)
            PriceMask = (Df["Close"] > LowerLimit) & (Df["Close"] < UpperLimit)
            Mask = DateMask & PriceMask

            NoOfDaysInRange = Df.loc[DateMask, "Date"].shape[0]
            logging.info("No. of Days in range:" + str(NoOfDaysInRange))
            NoOfRowsMaskTrue = Mask.sum()
            logging.info("No. of rows with in LL and UL:" + str(NoOfRowsMaskTrue))
            NoOfRowsLLMaskTrue = LLMask.sum()
            logging.info("No. of rows with in LL:" + str(NoOfRowsLLMaskTrue))
            NoOfRowsULMaskTrue = ULMask.sum()
            logging.info("No. of rows with in UL:" + str(NoOfRowsULMaskTrue))

            """
            ExpiryExitRange
            """
            if pd.isnull(EndDate):
                logging.info(f"EndDate is Null:{IndexDf}")
                Df.loc[IndexDf, "ExpiryExitRange"] = np.nan
                logging.info(
                    "ExpiryExitRange:" + str(Df.loc[IndexDf, "ExpiryExitRange"])
                )

            elif NoOfRowsMaskTrue == NoOfDaysInRange:
                Df.loc[IndexDf, "ExpiryExitRange"] = "Pass"
                logging.info(
                    "ExpiryExitRange:" + str(Df.loc[IndexDf, "ExpiryExitRange"])
                )
                
            elif (
                NoOfRowsLLMaskTrue < NoOfDaysInRange
                and NoOfRowsULMaskTrue < NoOfDaysInRange
            ):
                Df.loc[IndexDf, "ExpiryExitRange"] = "BothBreach"
                logging.info(
                    "ExpiryExitRange:" + str(Df.loc[IndexDf, "ExpiryExitRange"])
                )

            elif NoOfRowsLLMaskTrue < NoOfDaysInRange:
                Df.loc[IndexDf, "ExpiryExitRange"] = "LLBreach"
                logging.info(
                    "ExpiryExitRange:" + str(Df.loc[IndexDf, "ExpiryExitRange"])
                )

            elif NoOfRowsULMaskTrue < NoOfDaysInRange:
                Df.loc[IndexDf, "ExpiryExitRange"] = "ULBreach"
                logging.info(
                    "ExpiryExitRange:" + str(Df.loc[IndexDf, "ExpiryExitRange"])
                )

            # elif (
            #     NoOfRowsLLMaskTrue < NoOfDaysInRange
            #     and NoOfRowsULMaskTrue < NoOfDaysInRange
            # ):
            #     Df.loc[IndexDf, "ExpiryExitRange"] = "BothBreach"
            #     logging.info(
            #         "ExpiryExitRange:" + str(Df.loc[IndexDf, "ExpiryExitRange"])
            #     )

            """
            ExpiryExitResult
            """
            if pd.isnull(EndDate):
                logging.info(f"EndDate in Null:{IndexDf}")
                Df.loc[IndexDf, "ExpiryExitResult"] = np.nan
                logging.info(
                    "ExpiryExitResult:" + str(Df.loc[IndexDf, "ExpiryExitResult"])
                )

            elif (
                pd.Series(
                    Df.loc[Df["Date"] == EndDate, "Close"] > LowerLimit
                ).reset_index(drop=True)[0]
                and pd.Series(
                    Df.loc[Df["Date"] == EndDate, "Close"] < UpperLimit
                ).reset_index(drop=True)[0]
            ):
                Df.loc[IndexDf, "ExpiryExitResult"] = "Pass"
                logging.info(
                    "ExpiryExitResult:" + str(Df.loc[IndexDf, "ExpiryExitResult"])
                )

            elif (
                pd.Series(
                    Df.loc[Df["Date"] == EndDate, "Close"] < LowerLimit
                ).reset_index(drop=True)[0]
                or pd.Series(
                    Df.loc[Df["Date"] == EndDate, "Close"] > UpperLimit
                ).reset_index(drop=True)[0]
            ):
                if pd.Series(
                    Df.loc[Df["Date"] == EndDate, "Close"] < LowerLimit
                ).reset_index(drop=True)[0]:
                    Df.loc[IndexDf, "ExpiryExitResult"] = "LLBreach"
                    logging.info(
                        "ExpiryExitResult:" + str(Df.loc[IndexDf, "ExpiryExitResult"])
                    )

                elif pd.Series(
                    Df.loc[Df["Date"] == EndDate, "Close"] > UpperLimit
                ).reset_index(drop=True)[0]:
                    Df.loc[IndexDf, "ExpiryExitResult"] = "ULBreach"
                    logging.info(
                        "ExpiryExitResult:" + str(Df.loc[IndexDf, "ExpiryExitResult"])
                    )

        except KeyError:
            logging.info(f"KeyError in RowDf:{IndexDf}")
            Df.loc[IndexDf, "ExpiryExitRange"] = np.nan
            Df.loc[IndexDf, "ExpiryExitResult"] = np.nan

        except ValueError:
            logging.info(f"ValueError in RowDf:{IndexDf}")
            Df.loc[IndexDf, "ExpiryExitRange"] = np.nan
            Df.loc[IndexDf, "ExpiryExitResult"] = np.nan

        except IndexError:
            logging.info(f"IndexError in RowDf:{IndexDf}")
            Df.loc[IndexDf, "ExpiryExitRange"] = np.nan
            Df.loc[IndexDf, "ExpiryExitResult"] = np.nan

    logging.info("*" * 15)
    return Df

In [34]:
ExpMvDf = PriceActionExpiryExitRangeAndExpiryExitResult(ExpMvDf)

In [35]:
logging.info("*" * 15)
logging.info("Null Count of ExpiryExitRange and ExpiryExitResult")
logging.info("*" * 15)
logging.info(
    "ExpiryExitRange Null Count:" + str(ExpMvDf["ExpiryExitRange"].isnull().sum())
)
logging.info(
    "ExpiryExitResult Null Count:" + str(ExpMvDf["ExpiryExitResult"].isnull().sum())
)
logging.info("*" * 15)

In [36]:
logging.info("*" * 15)
logging.info("Value Counts of ExpiryExitRange and ExpiryExitResult")
logging.info("*" * 15)
logging.info(str(ExpMvDf["ExpiryExitRange"].value_counts()))
logging.info(str(ExpMvDf["ExpiryExitRange"].value_counts(normalize=True)))
logging.info(str(ExpMvDf["ExpiryExitResult"].value_counts()))
logging.info(str(ExpMvDf["ExpiryExitResult"].value_counts(normalize=True)))
logging.info("*" * 15)

In [37]:
ExpMvDf

,Open,High,Close,Low,Date,IndiaVix,Rsi,RsiSignal,BbUpper,BbLower,BbSignal,MacdLine,SignalLine,MacdHistogram,MacdSignal,Ema1,Ema2,EmasSignal,StochK,StochD,StochasticSignal,TradeSignal,LongEntry,LongExit,ShortEntry,ShortExit,ProfitLoss,VerifiedSignal,ExpiryExit,Dte,DteExpMv,DteLL,DteUL,ExpiryExitRange,ExpiryExitResult
0,7938.45,7972.55,7963.20,7909.80,2016-01-01 15:30:00,14.2600,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7963.200000,7963.200000,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,55.0,440.800483,7522.399517,8404.000483,LLBreach,LLBreach
1,7924.55,7937.55,7791.30,7781.10,2016-01-04 15:30:00,16.8350,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7931.945455,7949.976923,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,52.0,495.083312,7296.216688,8286.383312,LLBreach,LLBreach
2,7828.40,7831.20,7784.65,7763.25,2016-01-05 15:30:00,16.7025,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7905.164463,7937.259467,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,51.0,486.025692,7298.624308,8270.675692,LLBreach,LLBreach
3,7788.05,7800.95,7741.00,7721.20,2016-01-06 15:30:00,16.5525,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7875.316379,7922.162585,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,50.0,474.241149,7266.758851,8215.241149,LLBreach,LLBreach
4,7673.35,7674.95,7568.30,7556.60,2016-01-07 15:30:00,18.9600,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7819.495219,7894.942386,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,49.0,525.760893,7042.539107,8094.060893,LLBreach,LLBreach
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971,21295.85,21390.50,21349.40,21232.45,2023-12-22 15:30:00,13.7075,70.719199,0,21877.731140,19785.043860,0,406.013500,399.598502,6.414998,0,21170.869723,20727.955263,0,72.376254,69.937521,1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1972,21365.20,21477.15,21441.35,21329.45,2023-12-26 15:30:00,14.6775,69.250977,-1,21872.032858,19955.407142,0,402.400615,400.158924,2.241690,0,21220.047955,20782.831781,0,81.584699,74.273555,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1973,21497.65,21675.75,21654.75,21495.80,2023-12-27 15:30:00,15.5575,71.683450,0,21885.382783,20118.562217,0,412.007607,402.528661,9.478946,0,21299.084690,20849.902413,0,97.682759,83.881238,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1974,21715.00,21801.45,21778.70,21678.00,2023-12-28 15:30:00,15.1400,75.204641,0,21925.763962,20246.391038,0,424.726958,406.968320,17.758638,0,21386.287474,20921.348381,0,97.795436,92.354298,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1975,21737.65,21770.30,21731.40,21676.90,2023-12-29 15:30:00,14.5025,72.152451,0,21924.069094,20407.910906,0,426.078849,410.790426,15.288423,0,21449.035206,20983.660044,0,93.211880,96.230025,-1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN

# PriceActionTargetExitRangeAndTargetExitResult [(Approx 0.31*60Days) Delta]

In [38]:
ExpMvDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1976 entries, 0 to 1975
Data columns (total 35 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Open              1976 non-null   float64
 1   High              1976 non-null   float64
 2   Close             1976 non-null   float64
 3   Low               1976 non-null   float64
 4   Date              1976 non-null   datetime64[ns]
 5   IndiaVix          1976 non-null   float64
 6   Rsi               1962 non-null   float64
 7   RsiSignal         1976 non-null   int64
 8   BbUpper           1957 non-null   float64
 9   BbLower           1957 non-null   float64
 10  BbSignal          1976 non-null   int64
 11  MacdLine          1951 non-null   float64
 12  SignalLine        1943 non-null   float64
 13  MacdHistogram     1943 non-null   float64
 14  MacdSignal        1976 non-null   int64
 15  Ema1              1976 non-null   float64
 16  Ema2              1976 non-null   float64
 17  EmasSignal        1976 non-null   int64
 18  StochK            1976 non-null   float64
 19  StochD            1976 non-null   float64
 20  StochasticSignal  1976 non-null   int64
 21  TradeSignal       1976 non-null   int64
 22  LongEntry         1976 non-null   float64
 23  LongExit          1976 non-null   float64
 24  ShortEntry        1976 non-null   float64
 25  ShortExit         1976 non-null   float64
 26  ProfitLoss        1976 non-null   float64
 27  VerifiedSignal    1976 non-null   int64
 28  ExpiryExit        1955 non-null   datetime64[ns]
 29  Dte               1955 non-null   float64
 30  DteExpMv          1955 non-null   float64
 31  DteLL             1955 non-null   float64
 32  DteUL             1955 non-null   float64
 33  ExpiryExitRange   1955 non-null   object
 34  ExpiryExitResult  1955 non-null   object
dtypes: datetime64[ns](2), float64(24), int64(7), object(2)
memory usage: 540.4+ KB

In [39]:
def PriceActionTargetExitRangeAndTargetExitResult(Df):
    """
        A function to computes whether the price has breached the exepected move range
        between the current date and the Target date. It also checks where the price is
        on the Target day

    Args:
        Df: A Pandas dataframe with the following variables with names
        "Date", "Dte", "DteLL", "DteUL", "ExpiryExit"

    Returns:
        Df: A Pandas dataframe with "TargetExitRange" and "TargetExitResult" as appended columns

    Note:
    """
    logging.info("*" * 15)
    logging.info("PriceActionTargetExitRangeAndTargetExitResult")
    logging.info("*" * 15)

    for IndexDf, RowDf in Df.iterrows():
        try:
            logging.info("-" * 15)
            logging.info("Loop No. :" + str(IndexDf))
            logging.info("-" * 15)

            Date = RowDf["Date"]
            logging.info("Date :" + str(Date))
            Dte = RowDf["Dte"]
            logging.info("Dte :" + str(Dte))
            TargetExitDays = round(Dte * 0.31)
            logging.info("TargetExitDays :" + str(TargetExitDays))
            TargetExit = RowDf["ExpiryExit"] - timedelta(days=TargetExitDays)

            if TargetExit in Df["Date"].values:
                Df.loc[IndexDf, "TargetExit"] = TargetExit
                logging.info("TargetExit:" + str(Df.loc[IndexDf, "TargetExit"]))
                TargetExit = TargetExit

            elif TargetExit - timedelta(days=1) in Df["Date"].values:
                Df.loc[IndexDf, "TargetExit"] = TargetExit - timedelta(days=1)
                logging.info("TargetExit:" + str(Df.loc[IndexDf, "TargetExit"]))
                TargetExit = TargetExit - timedelta(days=1)

            elif TargetExit - timedelta(days=2) in Df["Date"].values:
                Df.loc[IndexDf, "TargetExit"] = TargetExit - timedelta(days=2)
                logging.info("TargetExit:" + str(Df.loc[IndexDf, "TargetExit"]))
                TargetExit = TargetExit - timedelta(days=2)

            elif TargetExit - timedelta(days=3) in Df["Date"].values:
                Df.loc[IndexDf, "TargetExit"] = TargetExit - timedelta(days=3)
                logging.info("TargetExit:" + str(Df.loc[IndexDf, "TargetExit"]))
                TargetExit = TargetExit - timedelta(days=3)

            elif TargetExit - timedelta(days=4) in Df["Date"].values:
                Df.loc[IndexDf, "TargetExit"] = TargetExit - timedelta(days=4)
                logging.info("TargetExit:" + str(Df.loc[IndexDf, "TargetExit"]))
                TargetExit = TargetExit - timedelta(days=4)

            elif TargetExit - timedelta(days=5) in Df["Date"].values:
                Df.loc[IndexDf, "TargetExit"] = TargetExit - timedelta(days=5)
                logging.info("TargetExit:" + str(Df.loc[IndexDf, "TargetExit"]))
                TargetExit = TargetExit - timedelta(days=5)

            elif TargetExit - timedelta(days=6) in Df["Date"].values:
                Df.loc[IndexDf, "TargetExit"] = TargetExit - timedelta(days=6)
                logging.info("TargetExit:" + str(Df.loc[IndexDf, "TargetExit"]))
                TargetExit = TargetExit - timedelta(days=6)

            # Set the lower and upper limits
            # LowerLimit = Df.loc[IndexDf, "DteLL"]
            LowerLimit = RowDf["DteLL"]
            logging.info("DteLL:" + str(LowerLimit))
            # UpperLimit = Df.loc[IndexDf, "DteUL"]
            UpperLimit = RowDf["DteUL"]
            logging.info("DteUL:" + str(UpperLimit))

            # Set the start and end dates
            StartDate = Df.loc[IndexDf, "Date"]
            logging.info("StartDate:" + str(StartDate))
            EndDate = Df.loc[IndexDf, "TargetExit"]
            logging.info("EndDate:" + str(EndDate))

            DateMask = (Df["Date"] >= StartDate) & (Df["Date"] <= EndDate)
            LLMask = DateMask & (Df["Close"] > LowerLimit)
            ULMask = DateMask & (Df["Close"] < UpperLimit)
            PriceMask = (Df["Close"] > LowerLimit) & (Df["Close"] < UpperLimit)
            Mask = DateMask & PriceMask

            NoOfDaysInRange = Df.loc[DateMask, "Date"].shape[0]
            logging.info("No. of Days in range:" + str(NoOfDaysInRange))
            NoOfRowsMaskTrue = Mask.sum()
            logging.info("No. of rows with in LL and UL:" + str(NoOfRowsMaskTrue))
            NoOfRowsLLMaskTrue = LLMask.sum()
            logging.info("No. of rows with in LL:" + str(NoOfRowsLLMaskTrue))
            NoOfRowsULMaskTrue = ULMask.sum()
            logging.info("No. of rows with in UL:" + str(NoOfRowsULMaskTrue))

            """
            TargetExitRange
            """
            if pd.isnull(EndDate):
                logging.info(f"EndDate in Null:{IndexDf}")
                Df.loc[IndexDf, "TargetExitRange"] = np.nan
                logging.info(
                    "TargetExitRange:" + str(Df.loc[IndexDf, "TargetExitRange"])
                )

            elif NoOfRowsMaskTrue == NoOfDaysInRange:
                Df.loc[IndexDf, "TargetExitRange"] = "Pass"
                logging.info(
                    "TargetExitRange:" + str(Df.loc[IndexDf, "TargetExitRange"])
                )

            elif (
                NoOfRowsLLMaskTrue < NoOfDaysInRange
                and NoOfRowsULMaskTrue < NoOfDaysInRange
            ):
                Df.loc[IndexDf, "TargetExitRange"] = "BothBreach"
                logging.info(
                    "TargetExitRange:" + str(Df.loc[IndexDf, "TargetExitRange"])
                )
                
            elif NoOfRowsLLMaskTrue < NoOfDaysInRange:
                Df.loc[IndexDf, "TargetExitRange"] = "LLBreach"
                logging.info(
                    "TargetExitRange:" + str(Df.loc[IndexDf, "TargetExitRange"])
                )

            elif NoOfRowsULMaskTrue < NoOfDaysInRange:
                Df.loc[IndexDf, "TargetExitRange"] = "ULBreach"
                logging.info(
                    "TargetExitRange:" + str(Df.loc[IndexDf, "TargetExitRange"])
                )

            # elif (
            #     NoOfRowsLLMaskTrue < NoOfDaysInRange
            #     and NoOfRowsULMaskTrue < NoOfDaysInRange
            # ):
            #     Df.loc[IndexDf, "TargetExitRange"] = "BothBreach"
            #     logging.info(
            #         "TargetExitRange:" + str(Df.loc[IndexDf, "TargetExitRange"])
            #     )

            """
            TargetExitResult
            """
            if pd.isnull(EndDate):
                logging.info(f"EndDate in Null:{IndexDf}")
                Df.loc[IndexDf, "TargetExitResult"] = np.nan
                logging.info(
                    "TargetExitResult:" + str(Df.loc[IndexDf, "TargetExitResult"])
                )

            elif (
                pd.Series(
                    Df.loc[Df["Date"] == EndDate, "Close"] > LowerLimit
                ).reset_index(drop=True)[0]
                and pd.Series(
                    Df.loc[Df["Date"] == EndDate, "Close"] < UpperLimit
                ).reset_index(drop=True)[0]
            ):
                Df.loc[IndexDf, "TargetExitResult"] = "Pass"
                logging.info(
                    "TargetExitResult:" + str(Df.loc[IndexDf, "TargetExitResult"])
                )

            elif (
                pd.Series(
                    Df.loc[Df["Date"] == EndDate, "Close"] < LowerLimit
                ).reset_index(drop=True)[0]
                or pd.Series(
                    Df.loc[Df["Date"] == EndDate, "Close"] > UpperLimit
                ).reset_index(drop=True)[0]
            ):
                if pd.Series(
                    Df.loc[Df["Date"] == EndDate, "Close"] < LowerLimit
                ).reset_index(drop=True)[0]:
                    Df.loc[IndexDf, "TargetExitResult"] = "LLBreach"
                    logging.info(
                        "TargetExitResult:" + str(Df.loc[IndexDf, "TargetExitResult"])
                    )

                elif pd.Series(
                    Df.loc[Df["Date"] == EndDate, "Close"] > UpperLimit
                ).reset_index(drop=True)[0]:
                    Df.loc[IndexDf, "TargetExitResult"] = "ULBreach"
                    logging.info(
                        "TargetExitResult:" + str(Df.loc[IndexDf, "TargetExitResult"])
                    )

        except KeyError:
            logging.info(f"KeyError in RowDf:{IndexDf}")
            Df.loc[IndexDf, "TargetExitRange"] = np.nan
            Df.loc[IndexDf, "TargetExitResult"] = np.nan

        except ValueError:
            logging.info(f"ValueError in RowDf:{IndexDf}")
            Df.loc[IndexDf, "TargetExitRange"] = np.nan
            Df.loc[IndexDf, "TargetExitResult"] = np.nan

        except IndexError:
            logging.info(f"IndexError in RowDf:{IndexDf}")
            Df.loc[IndexDf, "TargetExitRange"] = np.nan
            Df.loc[IndexDf, "TargetExitResult"] = np.nan

    logging.info("*" * 15)
    return Df

In [40]:
ExpMvDf = PriceActionTargetExitRangeAndTargetExitResult(ExpMvDf)

In [41]:
logging.info("*" * 15)
logging.info("Null Count of TargetExitRange and TargetExitResult")
logging.info("*" * 15)
logging.info(
    "TargetExitRange Null Count:" + str(ExpMvDf["TargetExitRange"].isnull().sum())
)
logging.info(
    "TargetExitResult Null Count:" + str(ExpMvDf["TargetExitResult"].isnull().sum())
)
logging.info("*" * 15)

In [42]:
logging.info("*" * 15)
logging.info("Value Counts of TargetExitRange and TargetExitResult")
logging.info("*" * 15)
logging.info(str(ExpMvDf["TargetExitRange"].value_counts()))
logging.info(str(ExpMvDf["TargetExitRange"].value_counts(normalize=True)))
logging.info(str(ExpMvDf["TargetExitResult"].value_counts()))
logging.info(str(ExpMvDf["TargetExitResult"].value_counts(normalize=True)))
logging.info("*" * 15)

In [43]:
ExpMvDf

,Open,High,Close,Low,Date,IndiaVix,Rsi,RsiSignal,BbUpper,BbLower,BbSignal,MacdLine,SignalLine,MacdHistogram,MacdSignal,Ema1,Ema2,EmasSignal,StochK,StochD,StochasticSignal,TradeSignal,LongEntry,LongExit,ShortEntry,ShortExit,ProfitLoss,VerifiedSignal,ExpiryExit,Dte,DteExpMv,DteLL,DteUL,ExpiryExitRange,ExpiryExitResult,TargetExit,TargetExitRange,TargetExitResult
0,7938.45,7972.55,7963.20,7909.80,2016-01-01 15:30:00,14.2600,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7963.200000,7963.200000,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,55.0,440.800483,7522.399517,8404.000483,LLBreach,LLBreach,2016-02-08 15:30:00,LLBreach,LLBreach
1,7924.55,7937.55,7791.30,7781.10,2016-01-04 15:30:00,16.8350,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7931.945455,7949.976923,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,52.0,495.083312,7296.216688,8286.383312,LLBreach,LLBreach,2016-02-09 15:30:00,LLBreach,Pass
2,7828.40,7831.20,7784.65,7763.25,2016-01-05 15:30:00,16.7025,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7905.164463,7937.259467,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,51.0,486.025692,7298.624308,8270.675692,LLBreach,LLBreach,2016-02-09 15:30:00,LLBreach,LLBreach
3,7788.05,7800.95,7741.00,7721.20,2016-01-06 15:30:00,16.5525,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7875.316379,7922.162585,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,50.0,474.241149,7266.758851,8215.241149,LLBreach,LLBreach,2016-02-09 15:30:00,Pass,Pass
4,7673.35,7674.95,7568.30,7556.60,2016-01-07 15:30:00,18.9600,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,7819.495219,7894.942386,0,0.000000,0.000000,0,0,0.0,0.0,0.0,0.0,0.0,0,2016-02-25 15:30:00,49.0,525.760893,7042.539107,8094.060893,LLBreach,LLBreach,2016-02-10 15:30:00,Pass,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971,21295.85,21390.50,21349.40,21232.45,2023-12-22 15:30:00,13.7075,70.719199,0,21877.731140,19785.043860,0,406.013500,399.598502,6.414998,0,21170.869723,20727.955263,0,72.376254,69.937521,1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1972,21365.20,21477.15,21441.35,21329.45,2023-12-26 15:30:00,14.6775,69.250977,-1,21872.032858,19955.407142,0,402.400615,400.158924,2.241690,0,21220.047955,20782.831781,0,81.584699,74.273555,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1973,21497.65,21675.75,21654.75,21495.80,2023-12-27 15:30:00,15.5575,71.683450,0,21885.382783,20118.562217,0,412.007607,402.528661,9.478946,0,21299.084690,20849.902413,0,97.682759,83.881238,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1974,21715.00,21801.45,21778.70,21678.00,2023-12-28 15:30:00,15.1400,75.204641,0,21925.763962,20246.391038,0,424.726958,406.968320,17.758638,0,21386.287474,20921.348381,0,97.795436,92.354298,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1975,21737.65,21770.30,21731.40,21676.90,2023-12-29 15:30:00,14.5025,72.152451,0,21924.069094,20407.910906,0,426.078849,410.790426,15.288423,0,21449.035206,20983.660044,0,93.211880,96.230025,-1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [44]:
logging.info("*" * 15)
logging.info("Min and Max TargetExit Days")
logging.info("*" * 15)
logging.info(str((ExpMvDf["TargetExit"] - ExpMvDf["Date"]).dt.days.min()))
logging.info(str((ExpMvDf["TargetExit"] - ExpMvDf["Date"]).dt.days.max()))
logging.info("*" * 15)

# ManagedExitAndPriceActionManagedExitResult

In [45]:
def ManagedExitAndPriceActionManagedExitResult(Df):
    """
        A function to computes whether the price reentered the expected move range after
        breaching the exepected move range on the target date and identifies the
        managed exit date.

    Args:
        Df: A Pandas dataframe with the following variables with names
        "Date", "Dte", "DteLL", "DteUL", "ExpiryExit"

    Returns:
        Df: A Pandas dataframe with "ManagedExit" and "ManagedExitResult" as appended columns

    Note:
    """
    logging.info("*" * 15)
    logging.info("ManagedExitAndPriceActionManagedExitResult")
    logging.info("*" * 15)

    for IndexDf, RowDf in Df.iterrows():
        try:
            logging.info("-" * 15)
            logging.info("Loop No. :" + str(IndexDf))
            logging.info("-" * 15)

            Date = RowDf["Date"]
            logging.info("Date :" + str(Date))

            if pd.isnull(RowDf["TargetExitResult"]):
                logging.info(f"TargetExitResult is Null:{IndexDf}")
                Df.loc[IndexDf, "ManagedExit"] = RowDf["TargetExit"]
                logging.info("ManagedExit:" + str(Df.loc[IndexDf, "ManagedExit"]))
                Df.loc[IndexDf, "ManagedExitResult"] = np.nan

            elif RowDf["TargetExitResult"] == "Pass":
                logging.info("TargetExitResult:" + str(RowDf["TargetExitResult"]))
                Df.loc[IndexDf, "ManagedExit"] = RowDf["TargetExit"]
                logging.info("ManagedExit:" + str(Df.loc[IndexDf, "ManagedExit"]))
                Df.loc[IndexDf, "ManagedExitResult"] = RowDf["TargetExitResult"]
                logging.info(
                    "ManagedExitResult:" + str(Df.loc[IndexDf, "ManagedExitResult"])
                )

            elif (
                RowDf["TargetExitResult"] == "LLBreach"
                or RowDf["TargetExitResult"] == "ULBreach"
                or RowDf["TargetExitResult"] == "BothBreach"
            ):
                logging.info("TargetExitResult:" + str(RowDf["TargetExitResult"]))

                StartDate = Df.loc[IndexDf, "TargetExit"]
                logging.info("StartDate:" + str(StartDate))
                EndDate = Df.loc[IndexDf, "ExpiryExit"]
                logging.info("EndDate:" + str(EndDate))

                # Set the lower and upper limits
                # LowerLimit = Df.loc[IndexDf, "DteLL"]
                LowerLimit = RowDf["DteLL"]
                logging.info("DteLL:" + str(LowerLimit))
                # UpperLimit = Df.loc[IndexDf, "DteUL"]
                UpperLimit = RowDf["DteUL"]
                logging.info("DteUL:" + str(UpperLimit))

                DateMask = (Df["Date"] >= StartDate) & (Df["Date"] <= EndDate)
                PriceMask = (Df["Close"] > LowerLimit) & (Df["Close"] < UpperLimit)
                Mask = DateMask & PriceMask

                NoOfDaysInRange = Df.loc[DateMask, "Date"].shape[0]
                logging.info("No. of Days in range:" + str(NoOfDaysInRange))
                NoOfRowsMaskTrue = Mask.sum()
                logging.info("No. of rows with in LL and UL:" + str(NoOfRowsMaskTrue))

                if NoOfRowsMaskTrue > 0:
                    IdxReentryDate = Df.loc[Mask, "Date"].reset_index(drop=True)[0]
                    Df.loc[IndexDf, "ManagedExit"] = IdxReentryDate
                    logging.info("ManagedExit:" + str(Df.loc[IndexDf, "ManagedExit"]))
                    Df.loc[IndexDf, "ManagedExitResult"] = "Pass"
                    logging.info(
                        "ManagedExitResult:" + str(Df.loc[IndexDf, "ManagedExitResult"])
                    )

                else:
                    Df.loc[IndexDf, "ManagedExit"] = RowDf["ExpiryExit"]
                    logging.info("ManagedExit:" + str(Df.loc[IndexDf, "ManagedExit"]))
                    Df.loc[IndexDf, "ManagedExitResult"] = RowDf["ExpiryExitResult"]
                    logging.info(
                        "ManagedExitResult:" + str(Df.loc[IndexDf, "ManagedExitResult"])
                    )

        except KeyError:
            logging.info(f"KeyError in RowDf:{IndexDf}")
            Df.loc[IndexDf, "ManagedExit"] = np.nan
            Df.loc[IndexDf, "ManagedExitResult"] = np.nan

        except ValueError:
            logging.info(f"ValueError in RowDf:{IndexDf}")
            Df.loc[IndexDf, "ManagedExit"] = np.nan
            Df.loc[IndexDf, "ManagedExitResult"] = np.nan

        except IndexError:
            logging.info(f"IndexError in RowDf:{IndexDf}")
            Df.loc[IndexDf, "ManagedExit"] = np.nan
            Df.loc[IndexDf, "ManagedExitResult"] = np.nan

    logging.info("*" * 15)
    return Df

In [46]:
ExpMvDf = ManagedExitAndPriceActionManagedExitResult(ExpMvDf)

In [47]:
logging.info("*" * 15)
logging.info("Value Counts of ManagedExitResult")
logging.info("*" * 15)
logging.info(str(ExpMvDf["ManagedExitResult"].value_counts()))
logging.info("-----------------------")
logging.info(str(ExpMvDf["ManagedExitResult"].value_counts(normalize=True)))
logging.info("*" * 15)

In [48]:
ExpMvDf[1954:]

,Open,High,Close,Low,Date,IndiaVix,Rsi,RsiSignal,BbUpper,BbLower,BbSignal,MacdLine,SignalLine,MacdHistogram,MacdSignal,Ema1,Ema2,EmasSignal,StochK,StochD,StochasticSignal,TradeSignal,LongEntry,LongExit,ShortEntry,ShortExit,ProfitLoss,VerifiedSignal,ExpiryExit,Dte,DteExpMv,DteLL,DteUL,ExpiryExitRange,ExpiryExitResult,TargetExit,TargetExitRange,TargetExitResult,ManagedExit,ManagedExitResult
1954,19976.55,20104.65,20096.60,19956.30,2023-11-29 15:30:00,12.7075,79.953220,0,20126.682130,19018.257870,0,129.681774,72.391905,57.289869,0,19797.069452,19637.492285,0,98.961558,93.196933,0,0,0.0,0.0,0.0,0.0,0.0,0,2023-12-28 15:30:00,29.0,719.838836,19376.761164,20816.438836,ULBreach,ULBreach,2023-12-19 15:30:00,ULBreach,ULBreach,2023-12-28 15:30:00,ULBreach
1955,20108.50,20158.70,20133.15,20015.85,2023-11-30 15:30:00,12.6900,84.205646,0,20166.253871,19093.086129,0,149.653141,87.844152,61.808989,0,19858.175006,19675.619801,0,96.918903,97.086133,-1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1956,20194.10,20291.55,20267.90,20183.70,2023-12-01 15:30:00,12.3825,85.603211,0,20241.600687,19131.204313,0,174.344062,105.144134,69.199928,0,19932.670459,19721.179816,0,97.302692,97.727718,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1957,20601.95,20702.65,20686.80,20507.75,2023-12-04 15:30:00,12.9925,88.658078,0,20432.175656,19086.249344,0,225.118498,129.139007,95.979491,0,20069.784921,19795.458292,0,98.769314,97.663636,1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1958,20808.90,20864.05,20855.10,20711.15,2023-12-05 15:30:00,13.4575,94.437274,0,20642.779500,19019.980500,0,275.759227,158.463051,117.296176,0,20212.569481,19876.969193,0,99.303177,98.458394,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1959,20950.75,20961.95,20937.70,20852.15,2023-12-06 15:30:00,13.7400,93.860106,0,20831.726087,18984.133913,0,318.881630,190.546767,128.334864,0,20344.411394,19958.563870,0,98.183453,98.751981,-1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1960,20932.40,20941.25,20901.15,20850.80,2023-12-07 15:30:00,12.6725,90.986830,0,20977.459491,18984.165509,-1,346.117341,221.660882,124.456459,0,20445.636595,20031.070496,0,95.303206,97.596612,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1961,20934.10,21006.10,20969.40,20862.70,2023-12-08 15:30:00,12.4700,93.559060,0,21108.706724,19010.328276,0,368.955948,251.119895,117.836053,0,20540.866305,20103.249688,0,97.252171,96.912943,1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1962,20965.30,21026.10,20997.10,20923.70,2023-12-11 15:30:00,12.7575,96.192839,0,21222.167851,19054.042149,0,384.854504,277.866817,106.987687,0,20623.817886,20172.007404,0,97.806769,96.787382,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1963,21018.55,21037.90,20906.40,20867.15,2023-12-12 15:30:00,12.7125,89.771922,0,21302.773204,19111.521796,0,385.689504,299.431354,86.258149,0,20675.196452,20228.499143,0,90.142798,95.067246,-1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1964,20929.75,20950.00,20926.35,20769.50,2023-12-13 15:30:00,12.0650,89.709969,0,21359.894379,19202.680621,0,383.539837,316.253051,67.286786,0,20720.860733,20282.179978,0,91.209960,93.053176,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1965,21110.40,21210.90,21182.70,21074.45,2023-12-14 15:30:00,12.3200,91.844466,0,21467.176768,19246.123232,0,397.934373,332.589315,65.345058,0,20804.831509,20351.450749,0,98.044451,93.132403,1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1966,21287.45,21492.30,21456.65,21235.30,2023-12-15 15:30:00,13.1275,93.360119,0,21617.762282,19264.682718,0,426.530840,351.377620,75.153220,0,20923.343962,20436.466076,0,97.893400,95.715937,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1967,21434.80,21482.80,21418.65,21365.35,2023-12-18 15:30:00,13.9000,91.112964,0,21729.504054,19321.625946,0,441.043390,369.310774,71.732616,0,21013.399605,20512.018685,0,95.205078,97.047643,-1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1968,21477.65,21505.05,21453.10,21337.75,2023-12-19 15:30:00,13.8675,90.204505,0,21818.691148,19408.348852,0,450.135634,385.475746,64.659888,0,21093.345132,20584.409556,0,96.511550,96.536676,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1969,21543.50,21593.00,21150.15,21087.35,2023-12-20 15:30:00,14.4500,76.031535,0,21843.032075,19520.682925,0,427.962485,393.973094,33.989391,0,21103.673290,20627.928051,0,68.576598,86.764409,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1970,21033.95,21288.35,21255.05,20976.80,2023-12-21 15:30:00,13.7575,75.659588,0,21865.871869,19642.163131,0,414.081386,397.994752,16.086633,0,21131.196328,20676.168201,0,68.859710,77.982619,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1971,21295.85,21390.50,21349.40,21232.45,2023-12-22 15:30:00,13.7075,70.719199,0,21877.731140,19785.043860,0,406.013500,399.598502,6.414998,0,21170.869723,20727.955263,0,72.376254,69.937521,1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1972,21365.20,21477.15,21441.35,21329.45,2023-12-26 15:30:00,14.6775,69.250977,-1,21872.032858,19955.407142,0,402.400615,400.158924,2.241690,0,21220.047955,20782.831781,0,81.584699,74.273555,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1973,21497.65,21675.75,21654.75,21495.80,2023-12-27 15:30:00,15.5575,71.683450,0,21885.382783,20118.562217,0,412.007607,402.528661,9.478946,0,21299.084690,20849.902413,0,97.682759,83.881238,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1974,21715.00,21801.45,21778.70,21678.00,2023-12-28 15:30:00,15.1400,75.204641,0,21925.763962,20246.391038,0,424.726958,406.968320,17.758638,0,21386.287474,20921.348381,0,97.795436,92.354298,0,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN
1975,21737.65,21770.30,21731.40,21676.90,2023-12-29 15:30:00,14.5025,72.152451,0,21924.069094,20407.910906,0,426.078849,410.790426,15.288423,0,21449.035206,20983.660044,0,93.211880,96.230025,-1,0,0.0,0.0,0.0,0.0,0.0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN

# ExpMvDf60DtePriceActionQunatitiveAnalysisResult

In [49]:
ExpMvDf60DtePriceActionQunatitiveAnalysisResult = pd.concat(
    [
        pd.DataFrame(ExpMvDf["ExpiryExitRange"].value_counts()).T,
        pd.DataFrame(ExpMvDf["ExpiryExitRange"].value_counts(normalize=True)).T,
        pd.DataFrame(ExpMvDf["ExpiryExitResult"].value_counts()).T,
        pd.DataFrame(ExpMvDf["ExpiryExitResult"].value_counts(normalize=True)).T,
        pd.DataFrame(ExpMvDf["TargetExitRange"].value_counts()).T,
        pd.DataFrame(ExpMvDf["TargetExitRange"].value_counts(normalize=True)).T,
        pd.DataFrame(ExpMvDf["TargetExitResult"].value_counts()).T,
        pd.DataFrame(ExpMvDf["TargetExitResult"].value_counts(normalize=True)).T,
        pd.DataFrame(ExpMvDf["ManagedExitResult"].value_counts()).T,
        pd.DataFrame(ExpMvDf["ManagedExitResult"].value_counts(normalize=True)).T,
    ],
    keys=[
        "ExpiryExitRange",
        "ExpiryExitRange",
        "ExpiryExitResult",
        "ExpiryExitResult",
        "TargetExitRange",
        "TargetExitRange",
        "TargetExitResult",
        "TargetExitResult",
        "ManagedExitResult",
        "ManagedExitResult",
    ],
)

ExpMvDf60DtePriceActionQunatitiveAnalysisResult.to_excel(
    "/home/shankar/MEGAsync/6MyProjectsData/test_poetry_project/data/final/ExpMvDf60DtePriceActionQunatitiveAnalysisResult.xlsx",
    index=True,
)
ExpMvDf60DtePriceActionQunatitiveAnalysisResult

                                     Pass    ULBreach    LLBreach
ExpiryExitRange   count       1133.000000  547.000000  275.000000
                  proportion     0.579540    0.279795    0.140665
ExpiryExitResult  count       1357.000000  415.000000  183.000000
                  proportion     0.694118    0.212276    0.093606
TargetExitRange   count       1450.000000  312.000000  193.000000
                  proportion     0.741688    0.159591    0.098721
TargetExitResult  count       1620.000000  236.000000   99.000000
                  proportion     0.828645    0.120716    0.050639
ManagedExitResult count       1729.000000  152.000000   74.000000
                  proportion     0.884399    0.077749    0.037852

# End